{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-md-8 push-md-2">
        <details class="m-tb-20">
            {% if password_change_form.errors %}
            <summary class="text-red">{% trans "Change Password" %}</summary>
            {% else %}
            <summary class="text-bg-secondary">{% trans "Change Password" %}</summary>
            {% endif %}
            <form action="/accounts/password/change/" method="post">
                {% csrf_token %}
                <div class="input-row flex flex-justify-space-between m-b-30">
                    <div class="input-column flex flex-v">
                        {% if password_change_form.old_password.errors %}
                        <label for="id_old_password" class="text-red">{% trans "Password*" %}</label>
                        {% else %}
                        <label for="id_old_password" class="grenadier-text">{% trans "Current Password*" %}</label>
                        {% endif %}
                        <input type="password" name="old_password" required="" id="id_old_password" class="text-input">
                        {% if password_change_form.old_password.errors %}
                        {% for error in password_change_form.old_password.errors %}
                            <strong class="text-red">{{ error|escape }}</strong><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="input-row flex flex-justify-space-between m-b-30">
                    <div class="input-column flex flex-v">
                        {% if password_change_form.new_password1.errors %}
                        <label for="id_new_password1" class="text-red">{% trans "New Password*" %}</label>
                        {% else %}
                        <label for="id_new_password1" class="grenadier-text">{% trans "New Password*" %}</label>
                        {% endif %}
                        <input type="password" name="new_password1" required="" id="id_new_password1" class="text-input">
                        {% if password_change_form.new_password1.errors %}
                        {% for error in password_change_form.new_password1.errors %}
                            <strong class="text-red">{{ error|escape }}</strong><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-column flex flex-v">
                        {% if password_change_form.new_password2.errors %}
                        <label for="id_new_password2" class="text-red">{% trans "Confirm Password*" %}</label>
                        {% else %}
                        <label for="id_new_password2" class="grenadier-text">{% trans "Confirm Password*" %}</label>
                        {% endif %}
                        <input type="password" name="new_password2" required="" id="id_new_password2" class="text-input">
                        {% if password_change_form.new_password2.errors %}
                        {% for error in password_change_form.new_password2.errors %}
                            <strong class="text-red">{{ error|escape }}</strong><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <details class="m-tb-20 m-l-10">
                    <summary class="text-bg-secondary">{% trans "Password Policy" %}</summary>
                        <ul class="password-rules p-0 m-0">
                            <li class="text-bg-primary"><i class="fas fa-check-circle"></i> {% trans "Your password must contain at least 8 characters." %}</li>
                            <li class="text-bg-primary"><i class="fas fa-check-circle"></i> {% trans "Your password should not be entirely numeric." %}</li>
                            <li class="text-bg-primary"><i class="fas fa-check-circle"></i> {% trans "Your password should have a special character." %}</li>
                            <li class="text-bg-primary"><i class="fas fa-check-circle"></i> {% trans "Your password should have at least one number." %}</li>
                            <li class="text-bg-primary"><i class="fas fa-check-circle"></i> {% trans "Your password should not be too similar to your personal details eg email." %}</li>
                            <li class="text-bg-primary"><i class="fas fa-check-circle"></i> {% trans "Your passwords should match." %}</li>
                        </ul>
                </details>
                <div class="input-row flex flex-justify-space-between m-b-30">
                    <div class="input-column flex flex-v">
                        <button type="submit" class="btn bg-primary text-bold text-white tr-ease-in-out rounded-5 p-rl-40 p-tb-30" id="changePasswordBtn">{% trans "Change Password" %}</button>
                    </div>
                </div>

            </form>
        </details>
    </div>
</div>

{% endblock %}