{% extends 'base.html' %}
{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/passwords.css' %}" />
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="container-wrapper my-5">
                <h3 class="font-weight-bold p-tb-20">{% trans "Reset Your Password" %}</h3>
                <p>
                    {% trans "Have you forgotten your password?" %} <br>
                    {% trans "Enter your email address below, and we'll email instructions for setting a new one." %}
                </p>
                <form method="POST">
                    {% if form.errors %}
                    <p class="error">{% trans "Please, correct the errors in the form below" %}</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="input-row p-tb-20">
                        {% if form.email.errors %}
                        <label for="id_email" class="text-small error">{% trans "EMAIL" %}</label>
                        {% else %}
                        <label for="id_email" class="text-small">{% trans "EMAIL" %}</label>
                        {% endif %}
                        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"
                            class="form-control" autofocus><br>
                        {% for error in form.email.errors %}
                        <span class="error">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="input-row p-tb-20">
                        <button type="submit" class="btn btn-primary px-5 py-3 rounded">{% trans "Send" %}</button>
                    </div>

                </form>
                <p class="mt-4">{% trans "If you did not activate your account, please do so here" %} <a
                        href="{% url 'accounts:resend_activation_email' %}" style="color: #455D8D; font-weight: 600;">
                        <i class="fa-solid fa-angles-right" style="color: #455D8D;"></i>
                        {% trans "Resend?" %}</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}