{% extends 'base.html' %}
{% block body_id %}cfa{% endblock %}
{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/agripitch/application_form.css' %}">
{% endblock %}
{% load agripitch_extras %}
{% load humanize %}
{% block content %}
<section class="container-fluid m-0 p-0 section-main">
    <div class="wrapper">
        <div class="row m-0 p-0 main-row bg-white">
            <div class="col-lg-4 col-sm-12 m-0 p-0">
                <img class="img-fluid" src="{{competition.image.url}}" alt="AgriPitch Logo">
            </div>
            <div class="col-lg-8 col-sm-12">
                <div>
                    <h3 class="text-site-primary"><strong>{{user.application}}</strong></h3>
                    {% if user.application.stage == 'step_one' %}
                    <h5 class="text-site-primary">
                        <strong>
                            <i>
                                {% trans "NB: Documents to be attached should be in pdf format only." %}
                            </i></strong>
                    </h5>
                    <strong>
                        <h5 class="text-site-primary">
                            <strong>
                                <em>
                                    {% trans "NB: Check and Fill all the Fields before you click Next. Once you click next your data will be saved." %}
                                </em>
                            </strong>
                        </h5>
                    </strong>
                    <h5 class="text-site-primary">
                        <strong><i>{% trans "Application takes 45 to 60 minutes." %}</i></strong>
                    </h5>
                    {% else %}
                    <h5 class="text-site-primary mt-4">
                        <strong><i>{% trans "Please note; you have already submitted your data." %} <br>
                                {% trans "Any changes that you make to this form will not be recorded" %}</i></strong>
                    </h5>
                    {% endif %}

                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">

                            <li class="form-stepper-active text-center form-stepper-list" step="1">
                                <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                    <span class="form-stepper-circle top-navigate-form-step" step_number="1">
                                        <span>1</span>
                                    </span>
                                    <div class="label">{{criteria|first}}</div>
                                </a>
                            </li>
                            {% for item in criteria|slice:"1:" %}
                            <li class="form-stepper-unfinished text-center form-stepper-list"
                                step="{{forloop.counter|add:'1'}}">
                                <a class="mr-2 d-flex flex-column align-items-center justify-content-center">
                                    <span class="form-stepper-circle top-navigate-form-step"
                                        step_number="{{ forloop.counter|add:'1' }}">
                                        <span>{{forloop.counter|add:"1"}}</span>
                                    </span>
                                    <div class=" label">{{item.get_label}}</div>
                                </a>
                            </li>
                            {% endfor %}
                            <li class="form-stepper-unfinished text-center form-stepper-list"
                                step="{% with criteria|length as length %}{{ length|add:'1' }}{% endwith %}">
                                <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                    <span class="form-stepper-circle">
                                        <span>{% with criteria|length as length %}{{ length|add:"1" }}{% endwith %}</span>
                                    </span>
                                    <div class="label">{% trans "Save" %}</div>
                                </a>
                            </li>
                        </ul>
                        <!-- Step Wise Form Content -->
                        <form name="form" id="userAccountSetupForm" name="userAccountSetupForm"
                            enctype="multipart/form-data" {% if user.application.stage == 'step_one' %} method="post"
                            {% endif %} novalidate>
                            <h4 class="error px-4" id="formErrors">
                                {% if form_errors %}
                                {% trans "Please fix the errors in your form" %}
                                {% endif %}
                            </h4>
                            {% get_current_language as LANGUAGE_CODE %}
                            <input type="hidden" value="{{ LANGUAGE_CODE }}" id="languageCode">

                            {% csrf_token %}
                            <input type="hidden" id="currentApplication" value="{{competition.slug}}">
                            <!-- Step 1 Content -->
                            <section id="step-1" class="form-step">
                                <h2 class="font-normal">{{criteria|first}}</h2>
                                <!-- Step 1 input fields -->
                                <div class="mt-3">
                                    {% with criteria|first as first_criteria  %}
                                    {% for sub_criteria in first_criteria.sub_criteria.all %}
                                    <div>
                                        {{sub_criteria|get_form:request.user.application}}
                                        <div class="small muted">{{sub_criteria.get_description | safe}}</div>

                                    </div>
                                    {% if form_errors %}
                                    {% with form_errors|get_item_from_dict:sub_criteria.label as errors %}
                                    {% for error in errors %}
                                    <span class="error">{{ error.message|escape }}</span>
                                    {% endfor %}
                                    {% endwith %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endwith %}
                                </div>
                                <div class="mt-3">
                                    <button class="button btn-navigate-form-step" type="button" step_number="2"
                                        data-name="Next">{% trans "Next" %}</button>
                                </div>
                            </section>
                            <!-- Step 2 Content, default hidden on page load. -->
                            {% for item in criteria|slice:"1:" %}
                            <section id="step-{{forloop.counter|add:'1'}}" class="form-step d-none">
                                <h2 class="font-normal">{{item.get_label}}</h2>
                                <div class="mt-3">
                                    {% for sub_criteria in item.sub_criteria.all %}
                                    <div>
                                        {{sub_criteria|get_form:request.user.application}}
                                        <div class="small muted">{{sub_criteria.get_description | safe}}</div>

                                    </div>
                                    {% if form_errors %}
                                    {% with form_errors|get_item_from_dict:sub_criteria.label as errors %}
                                    {% for error in errors %}
                                    <span class="error">{{ error.message|escape }}</span>
                                    {% endfor %}
                                    {% endwith %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="mt-3">
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="{{ forloop.counter }}" data-name="Prev">{% trans "Prev" %}</button>
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="{{ forloop.counter|add:'2' }}"
                                        data-name="Next">{% trans "Next" %}</button>
                                </div>
                            </section>
                            {% endfor %}
                            <!-- Step 3 Content, default hidden on page load. -->
                            {% if user.application.stage == 'step_one' %}

                            <section id="step-{% with criteria|length as length %}{{ length|add:'1' }}{% endwith %}"
                                class="form-step d-none">
                                <div class="mt-3 mb-5">
                                    <p class="emphasis">
                                        {% trans "Thank you for applying to the" %} {{competition.tagline}}.
                                        <br>
                                    </p>
                                    <p class="emphasis d-flex align-items-center">
                                        <i class="fa-solid fa-circle-info prefix green-info-icon mr-4"></i>
                                        {% trans "Please review your application before submitting." %}
                                        {% trans "Once submitted, your application cannot be edited." %}
                                    </p>

                                </div>
                                <div class="mt-5">
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="{% with criteria|length as length %}{{ length }}{% endwith %}"
                                        data-name="Prev">{% trans "Prev" %}</button>
                                    <!-- <button type="button" class="button submit-btn" data-toggle="modal"
                                        data-target="#confirmationModal" id="triggerModal">
                                        {% trans "Confirm" %}
                                    </button>
                                    <div class="modal p-0" id="confirmationModal" tabindex="-1" role="dialog"
                                        aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm" role="document"></div>
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title">
                                                    <strong>{% trans "Application Submission" %}</strong>
                                                </h3>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{% trans "Are you sure you want to save your changes?" %}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="button submit-btn"
                                                    type="submit">{% trans "Submit" %}</button>
                                                <button type="button" class="btn button"
                                                    data-dismiss="modal">{% trans "Close" %}</button>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="modal-section"> -->
                                    <button id="myBtn" type="button" class="button submit-btn">Confirm</button>

                                    <!-- The Modal -->
                                    <div id="myModal" class="modal">

                                        <!-- Modal content -->
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h3 class="modal-title">
                                                    <strong>{% trans "Application Submission" %}</strong>
                                                </h3>

                                            </div>
                                            <div class="modal-body">
                                                <p>{% trans "Are you sure you want to save your changes?" %}</p>
                                                <p id="modalMessage"></p>

                                            </div>
                                            <div class="modal-footer">
                                                <button class="button submit-btn" type="submit"
                                                    id="submitFormBtn">{% trans "Submit" %}</button>
                                                <button type="button" class="btn button close-modal"
                                                    id="closeBtn">{% trans "Close" %}</button>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- </div> -->
                                </div>
                    </div>
</section>
{% else %}
<section id="step-{% with criteria|length as length %}{{ length|add:'1' }}{% endwith %}" class="form-step d-none">
    <div class="mt-3 mb-5">
        <h4>
            <strong>
                {% trans "This is the last section" %}
            </strong>
        </h4>

    </div>
    {% endif %}
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ block.super }}
{% if user.application.stage == 'step_one' %}
<script src="{% static 'js/agripitch/application_form.js' %}"></script>
{% else %}
<script src="{% static 'js/agripitch/navigation.js' %}"></script>
{% endif %}
{% endblock %}