{% extends 'base.html' %}
{% block body_id %}cfa{% endblock %}
{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/agripitch/application_form.css' %}">
{% endblock %}
{% block content %}
<section class="container-fluid m-0 p-0 bg-white section-main">
    <div class="row m-0 p-0 main-row">
        <div class="col-md-4 m-0 p-0">
            <img class="img-responsive" src="{{competition.image.url}}" alt="Agripitch Logo">
        </div>
        <div class="col-md-8">
            <div>
                <h3><strong>{{competition.tagline}}</strong></h3>
                <div id="multi-step-form-container">
                    <!-- Form Steps / Progress Bar -->
                    <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">

                        <li class="form-stepper-active text-center form-stepper-list" step="{{competition.short_lists.first.id}}">
                            <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="form-stepper-circle">
                                    <span>{{competition.short_lists.first.id}}</span>
                                </span>
                                <div class="label">{{competition.short_lists.first}}</div>
                            </a>
                        </li>
                        {% for short_list in competition.short_lists.all %}
                        {% if not short_list.id == competition.short_lists.first.id %}
                        <li class="form-stepper-unfinished text-center form-stepper-list" step="{{short_list.id}}">
                            <a class="mr-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="form-stepper-circle">
                                    <span>{{short_list.id}}</span>
                                </span>
                                <div class="label">{{short_list}}</div>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="form-stepper-unfinished text-center form-stepper-list" step="{{competition.short_lists.last.id|add:"1"}}">
                            <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="form-stepper-circle">
                                    <span>{{competition.short_lists.last.id|add:"1"}}</span>
                                </span>
                                <div class="label">Save</div>
                            </a>
                        </li>
                    </ul>
                    <!-- Step Wise Form Content -->
                    <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="#">
                        <!-- Step 1 Content -->
                        <section id="step-{{competition.short_lists.first.id}}" class="form-step">
                            <h2 class="font-normal">Account Basic Details</h2>
                            <!-- Step 1 input fields -->
                            <div class="mt-3">
                                {{competition.short_lists.first}}
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="{{ competition.short_lists.first.id|add:"1" }}">Next</button>
                            </div>
                        </section>
                        <!-- Step 2 Content, default hidden on page load. -->
                        {% for short_list in competition.short_lists.all %}
                        {% if not short_list.id == competition.short_lists.first.id %}
                        <section id="step-{{short_list.id}}" class="form-step d-none">
                            <h2 class="font-normal">Social Profiles</h2>
                            <div class="mt-3">
                                {{short_list}}
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="{{ short_list.id|add:"-1" }}">Prev</button>
                                <button class="button btn-navigate-form-step" type="button" step_number="{{ short_list.id|add:"1" }}">Next</button>
                            </div>
                        </section>
                        {% endif %}
                        {% endfor %}
                        <!-- Step 3 Content, default hidden on page load. -->
                        <section id="step-{{competition.short_lists.last.id|add:"1"}}" class="form-step d-none">
                            <h2 class="font-normal">Personal Details</h2>
                            <div class="mt-3">
                                Step 3 input fields goes here..
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="{{competition.short_lists.last.id}}">Prev</button>
                                <button class="button submit-btn" type="submit">Save</button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/agripitch/application_form.js' %}"></script>
{% endblock %}