{% extends 'base.html' %}

{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/agripitch/gallery_page.css' %}">
{% endblock %}
{% block content %}


<h1 id="section-heading" class="main-secondary-title text-center">Previous AgriPitch Competitions Gallery</h1>
<div id="gallery" class="mt-5 mb-5">
  <div><img src="https://live.staticflickr.com/4776/26047577087_faa7823641_3k.jpg"/><a href="#lightbox-1"></a></div>
  <div><img src="https://live.staticflickr.com/783/40026504885_2976a6da15_3k.jpg"/><a href="#lightbox-2"></a></div>
  <div><img src="https://live.staticflickr.com/798/27049162168_f2010c6260.jpg"/><a href="#lightbox-3"></a></div>
  <div><img src="https://live.staticflickr.com/785/27049150008_8f73bae760.jpg"/><a href="#lightbox-4"></a></div>
  <div><img src="https://live.staticflickr.com/811/27049158458_a3ce0620db_6k.jpg"/><a href="#lightbox-5"></a></div>
  <div><img src="https://live.staticflickr.com/4778/40920434371_64c85b4cf5.jpg"/><a href="#lightbox-6"></a></div>
  <div><img src="https://live.staticflickr.com/4201/34952367516_870d0da9d3.jpg"/><a href="#lightbox-7"></a></div>
  <div><img src="https://live.staticflickr.com/4271/34860260641_4f23523dcc.jpg"/><a href="#lightbox-8"></a></div>
  <div><img src="https://live.staticflickr.com/4276/34860251261_6fc1d022e7.jpg"/><a href="#lightbox-9"></a></div>
  <div><img src="https://live.staticflickr.com/4269/34952379116_64ebb994ba.jpg"/><a href="#lightbox-10"></a></div>
  <div><img src="https://live.staticflickr.com/911/41652268792_106446a78f.jpg"/><a href="#lightbox-11"></a></div>
  <div><img src="https://live.staticflickr.com/980/27822235208_35f0ccee72.jpg"/><a href="#lightbox-12"></a></div>
  <div><img src="https://live.staticflickr.com/903/41652208532_acd222109a.jpg"/><a href="#lightbox-13"></a></div>
  <div><img src="https://live.staticflickr.com/970/26823238117_792aacf7dd.jpg"/><a href="#lightbox-14"></a></div>
  <div><img src="https://live.staticflickr.com/965/41691438981_132fb42f3e.jpg"/><a href="#lightbox-15"></a></div>
  <div><img src="https://live.staticflickr.com/961/41652201632_70b44e989e.jpg"/><a href="#lightbox-16"></a></div>
  <div><img src="https://live.staticflickr.com/966/41691429311_8a4068e564.jpg"/><a href="#lightbox-17"></a></div>
  <div><img src="https://live.staticflickr.com/968/40792269905_ca4ef285e5.jpg"/><a href="#lightbox-18"></a></div>
</div>
<div class="lightbox" id="lightbox-1">
  <div class="content"><img src="https://live.staticflickr.com/4776/26047577087_faa7823641_3k.jpg"/>
    <div class="title">Highlights from the 2017 AgriPitch Competition and Agripreneur Forum</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-2">
  <div class="content"><img src="https://live.staticflickr.com/783/40026504885_2976a6da15_3k.jpg"/>
    <div class="title">Highlights from the 2017 AgriPitch Competition and Agripreneur Forum</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-3">
  <div class="content"><img src="https://live.staticflickr.com/798/27049162168_f2010c6260.jpg"/>
    <div class="title">Highlights from the 2017 AgriPitch Competition and Agripreneur Forum</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-4">
  <div class="content"><img src="https://live.staticflickr.com/785/27049150008_8f73bae760.jpg"/>
    <div class="title">Highlights from the 2017 AgriPitch Competition and Agripreneur Forum</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-5">
  <div class="content"><img src="https://live.staticflickr.com/811/27049158458_a3ce0620db_6k.jpg"/>
    <div class="title">Highlights from the 2017 AgriPitch Competition and Agripreneur Forum</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-6">
  <div class="content"><img src="https://live.staticflickr.com/4778/40920434371_64c85b4cf5.jpg"/>
    <div class="title">No. <b>517</b> from Picsum</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-7">
  <div class="content"><img src="https://live.staticflickr.com/4201/34952367516_870d0da9d3.jpg"/>
    <div class="title">Chiji Ojukwu, Director, Agriculture, and Agro-Industry Department, African Development Bank presenting the Agri Pitch Award (3rd prize) to Mr. Mahmud Johnson, Founder, and CEO, J-Palm, Liberia during the Annual Meeting 2017 - Day 1 - Agri Pitch Awards on May 22, 2017, at Mahatma Mandir Exhibition-cum-Convention Centre in Ahmedabad, India.</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-8">
  <div class="content"><img src="https://live.staticflickr.com/4271/34860260641_4f23523dcc.jpg"/>
    <div class="title">Jennifer Blanke, Vice President, Agriculture, Human and Social Development, African Development Bank presenting the Agri Pitch Award (2nd prize) to Mary Joseph, Director of Partnerships and Foreign Relations, Farm Drive, Kenya during the Annual Meeting 2017 - Day 1 - Agri Pitch Awards on May 22, 2017, at Mahatma Mandir Exhibition-cum-Convention Centre in Ahmedabad, India.</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-9">
  <div class="content"><img src="https://live.staticflickr.com/4276/34860251261_6fc1d022e7.jpg"/>
    <div class="title">Grace Adesina, Spouse of Dr. Akinwumi Adesina, President, African Development Bank Group presenting the Agri Pitch Award (1st prize) to Kwame Ababio, Founder and CEO, Green Afro-Palms (GAP) during the Annual Meeting 2017 - Day 1 - Agri Pitch Awards on May 22, 2017, at Mahatma Mandir Exhibition-cum-Convention Centre in Ahmedabad, India.</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-10">
  <div class="content"><img src="https://live.staticflickr.com/4269/34952379116_64ebb994ba.jpg"/>
    <div class="title">Group picture of Ms. Evelyn Ohanwusi, Head, Partnership Advocacy and Resource Mobilization, Youth Agripreneurs, Nigeria; Grace Adesina, Spouse of Dr. Akinwumi Adesina, President, African Development Bank Group; Chiji Ojukwu, Director, Agriculture and Agro-Industry Department, African Development Bank; Kwame Ababio, Founder and CEO, Green Afro-Palms (GAP); Mary Joseph, Director of Partnerships and Foreign Relations, Farm Drive, Kenya; Mr. Mahmud Johnson, Founder, and CEO, J-Palm, Liberia; and Jennifer Blanke, Vice President, Agriculture, Human, and Social Development, African Development Bank during the Annual Meeting 2017 - Day 1 - Agri Pitch Awards on May 22, 2017, at Mahatma Mandir Exhibition-cum-Convention Centre in Ahmedabad, India.</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-11">
  <div class="content"><img src="https://live.staticflickr.com/911/41652268792_106446a78f.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-12">
  <div class="content"><img src="https://live.staticflickr.com/980/27822235208_35f0ccee72.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-13">
  <div class="content"><img src="https://live.staticflickr.com/903/41652208532_acd222109a.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-14">
  <div class="content"><img src="https://live.staticflickr.com/970/26823238117_792aacf7dd.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-15">
  <div class="content"><img src="https://live.staticflickr.com/965/41691438981_132fb42f3e.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-16">
  <div class="content"><img src="https://live.staticflickr.com/961/41652201632_70b44e989e.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-17">
  <div class="content"><img src="https://live.staticflickr.com/966/41691429311_8a4068e564.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>
<div class="lightbox" id="lightbox-18">
  <div class="content"><img src="https://live.staticflickr.com/968/40792269905_ca4ef285e5.jpg"/>
    <div class="title">African Youth Agripreneur Forum (AYAF 2018)</div><a class="close" href="#gallery"></a>
  </div>
</div>


<script src="{% static 'js/agripitch/gallery_page.js' %}"></script>

{% endblock %}