<!DOCTYPE html>
<html lang="en">
<head>
    {% if debug_flag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JBQLQ16M1W"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JBQLQ16M1W');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PES-SME Online</title>
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Paytone One">
    <!-- application form css -->
    <link rel="stylesheet" href="{% static 'css/common/layout.css' %}">

    <link rel="stylesheet" href="{% static 'css/common/nav.css' %}">
    <!-- alert messages css -->
    <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
    <!-- help and submit templates css -->
    <link rel="stylesheet" href="{% static 'css/common/style.css' %}">
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'css/common/dashboard.css' %}">
    <!-- CFA Styles -->
    <link rel="stylesheet" href="{% static 'css/common/cfa_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}">
    {% endblock %}
</head>
{% block messages %}
{% if messages %}
    {% for message in messages %}
    <div class="alert-container d-flex flex-row align-items-center justify-content-center">
        <div class="alert alert-{{ message.tags }} d-flex flex-row align-items-center justify-content-between alert-dismissible">
            <p style="margin: 0;">{{message}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
    {% endfor%}
{% endif %}
{% endblock %}


<body id="{% block body_id %}{% endblock %}">
    <div class="page-content">
    {% include 'header.html' %}
    {% block content %}

    {% endblock %}
    </div>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/common/base.js' %}"></script>
    <script src="{% static 'js/pes_admin/admin_base.js' %}"></script>
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>


