{% load static %}
{% load i18n %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common/footer.css' %}">
{% endblock %}
<!-- Footer-->
<footer class="footer bg-light text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a class="text-white"
              href="https://www.privateequity-support.com/our-services/our-services/">{% trans "About Us" %}</a></li>
          <li class="list-inline-item text-white">⋅</li>
          <li class="list-inline-item"><a class="text-white" href="#!">{% trans "Contact" %}</a></li>
          <li class="list-inline-item text-white">⋅</li>
          <li class="list-inline-item"><a class="text-white" href="#!">{% trans "Terms of Use" %}</a></li>
          <li class="list-inline-item text-white">⋅</li>
          <li class="list-inline-item"><a class="text-white" href="#!">{% trans "Privacy Policy" %}</a></li>
        </ul>
        <p class="text-white small mb-4 mb-lg-0">&copy; PES Academy 2023. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="https://www.facebook.com/privateequityea"><i class="fab fa-facebook text-white"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="https://twitter.com/PrivateEquityAF"><i class="fab fa-twitter text-white"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="https://www.instagram.com/privateequityaf/"><i class="fab fa-instagram text-white"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a
              href="https://www.youtube.com/channel/UCpcbpFeuHEMXofYasRYTzLQhttps://www.youtube.com/channel/UCpcbpFeuHEMXofYasRYTzLQ"><i
                class="fab fa-youtube text-white"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="https://www.linkedin.com/company/privateequityaf/"><i class="fab fa-linkedin text-white"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>