{% load static %}
{% load i18n %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common/footer.css' %}">
{% endblock %}
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center-sm-12 col d-flex justify-content-center-md-6">
          <!-- <h6>About</h6> -->
          <p class="text-justify">
            <img src="{% static 'images/for green bg.png' %}" alt="agripitch logo" class="img-fluid">
            </p>
        </div>
        <div class="col justify-content-center-xs-6 justify-content-center-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.privateequity-support.com/our-services/our-services/">About Us</a></li>
            <li><a href="https://www.privateequity-support.com/contact/">Contact Us</a></li>
            <li><a href="{% url 'accounts:help' %}">FAQ</a></li>
            <li><a href="#">Eligiility</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col justify-content-center-xs-6 justify-content-center-md-3">
          <h6 class="text-center">Follow us</h6>
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/privateequityea"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/PrivateEquityAF"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://www.youtube.com/channel/UCpcbpFeuHEMXofYasRYTzLQ"><i class="fab fa-youtube"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/privateequityaf/"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>

    <div class="container bg-light p-4">
      <div class="row d-flex align-items-center">
        <div class="col d-flex justify-content-center">
            <img class="img-fluid" src="{% static 'images/AFDB_Logo.png' %}" style="width: 150px;">
        </div>
        <div class="col d-flex justify-content-center">
            <img class="img-fluid" src="{% static 'images/PES logo.png' %}" style="width: 150px;">
        </div>
        <div class="col d-flex justify-content-center">
            <img class="img-fluid float-left" src="{% static 'images/pfan-logo.png' %}" style="width: 150px;">
        </div>
        <div class="col d-flex justify-content-center">
            <img class="img-fluid float-right" src="{% static 'images/eldohub-logo.png' %}" style="width: 150px">
        </div>
      </div>
    </div>
</footer>