{% load static %}
<nav class="navbar navbar-expand-lg  fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="{% static 'images/PES logo.png' %}" height="40" class="d-inline-block align-top"
            alt="PES logo">
        </a>
      <!-- <a class="navbar-brand" href="#">PrivateEquity-Support</a> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                  <p class="nav-link" href="#">Call: +254 20 36 73711</p>
              </li>
              <li class="nav-item">
                  <p class="nav-link" href="#">Email: info@privateequity-support</p>
              </li>
          </ul>
      </div>

      {% if user.is_superuser %}
      <div>
          <h2>Welcome Admin</h2>
      </div>
      {% else %}

      <div class="help dash">
        <p><a href="{% url 'accounts:dashboard' %}"> <img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/50/ffffff/external-users-internet-of-things-smashingstocks-mixed-smashing-stocks.png"/>Account </a></p>
      </div> 

      <div class="help h_icon">
        <p><a href="{% url 'accounts:help' %}"> <img src="https://img.icons8.com/ios-filled/50/ffffff/help.png"/> Help</a></p>
      </div>

     
      {% endif %}
  </div>
</nav>
