{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/common/pes_logo.png' %}" height="40" class="d-inline-block align-top" alt="PES logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row align-items-center p-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:help' %}">{% trans "Help" %}</a>
          </li>
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/CgDX4znLdQDLFw/advanced/">{% trans "Account" %}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:dashboard' %}">{% trans "Account" %}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
          </li>
          {% else %}
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'accounts:login' %}" class="btn site-bg-primary text-white">{% trans "Sign in" %}</a>
          </li>
          {% endif %}
        </ul>

        <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            {% if user and user.is_superuser %}
                <h6 class="font-weight-bold m-0 p-2 border-bottom text-site-secondary">{% trans "Welcome Admin" %}</h6>
            {% else %}
                <h6 class="font-weight-bold m-0 p-2 border-bottom text-site-secondary">{% trans "Welcome " %}{{user.username}}</h6>
            {% endif %}
            <li>
                <a class="dropdown-item" href="{% url 'accounts:dashboard' %}">{% trans "Account" %}</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
            </li>
            {% else %}
            <li>
                <a class="dropdown-item" href="{% url 'accounts:login' %}">{% trans "Sign in" %}</a>
            </li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'accounts:help' %}">{% trans "Help" %}</a></li>
          </ul>

        <div class="user-container">
            {% if user.is_authenticated %}
                {% if user and user.is_superuser %}
                    <h4 class="font-weight-bold m-0 p-2 text-site-secondary">{% trans "Welcome Admin" %}</h4>
                {% else %}
                    <h4 class="font-weight-bold m-0 p-2 text-site-secondary">{% trans "Welcome " %}{{user.username}}</h4>
                {% endif %}
            {% endif %}
        </div>

        

      </div>
      <form class="d-flex" action="{% url 'set_language' %}" method="post" id="languageForm">
        {% csrf_token %}
        <select name="language" id="languageSelect" class="form-control">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
    </form>

    </div>
  </nav>

  <nav class="navbar navbar-expand-lg site-bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'common/images/pes_academy.png' %}" height="40" class="d-inline-block align-top mr-5" alt="PES Academy logo">
      </a>
             
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for a course" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </nav>

