{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                            <span class="tablink" onclick="openPage('Home')" id="defaultOpen">Home</span>
                            
                        <li class="tablink" onclick="openPage('Academy')"><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="tablink" onclick="openPage('Academy')" >Academy</span>

                        <li class="tablink" onclick="openPage('App')"><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="tablink" onclick="openPage('App')" >Applications</span>

                        <li class="tablink" onclick="openPage('Team')"><a href="#"><i class="fa fa-users" aria-hidden="true"></i>
                            <span class="tablink" onclick="openPage('Team')" >Team</span>
                           
                        <li ><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>
                            <span >Log Out</span>
                           
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <!-- <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div> -->
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Invite TeamMember</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Jane Doe</span>
                                                    <p class="text-muted small">
                                                        janedoe@gmail.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">Log Out</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>

                <div class="user-dashboard tabcontent"  id="Home">
                    <h1>Hello, Jane Doe</h1>
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-12 gutter">

                            <div class=" row sales">
                                <h2>Your Team Members</h2>
                                <div class="col-md-8">
                                    <p>Jane Doe</p>
                                    <p>John Doe</p>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn-danger">Delete</button>
                                    <button class="btn-danger">Delete</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 gutter">

                            <div class=" row sales ">
                                <h2>Ongoing Applications</h2>
                                <div class="col-md-12">
                                    <button><a href=""></a>Your Application</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 gutter">

                            <div class="sales">
                                <button><a href=""></a>Join PES Academy</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="Academy" class="tabcontent">
                    <div class="card">
                        <h5 class="card-header">PES Academy</h5>
                        <div class="card-body">
                          <!-- <h5 class="card-title">Special title treatment</h5> -->
                          <p class="card-text">Joining the PES academy will give you access to the videos and presentations Featured by PES where you get to learn more and get more advisory about your business. </p>
                          <a href="#" class="btn btn-primary">Join the PES Academy</a>
                        </div>
                      </div>
                  </div>
                  
                  <div id="App" class="tabcontent">
                    <div class=" col-md-6 card">
                        <div class="card-header">
                          Applications
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Ongoing Applications</h5>
                          <p class="card-text">Click on the link below to resume to your applications.</p>
                          <a href="#" class="btn btn-primary">Continue</a>
                        </div>
                      </div>
                  </div>
                  
                  <div id="Team" class="tabcontent">
                        <h2>Your Team Members</h2>
                    <div class="row">
                        
                        <div class="col-md-4 gutter">
                            <p>Jane Doe</p>
                            <p>John Doe</p>
                        </div>
                        <div class="col-md-4 gutter">
                                <p>janedoe@gmail.com</p>
                                <p>Johndoe@gmail.com</p>
                            </div>
                        <div class="col-md-4 gutter">
                            <p><button class="btn-danger">Delete</button></p>
                            <p><button class="btn-danger">Delete</button></p>
                        </div>

                    </div>
                  </div>
                  <!-- <div id="Setting" class="tabcontent">
                    <h3>Name: <span> Jane Doe</span></h3>
                    <br>
                    <br>
                    <h4> Email: <span>janedoe@gmail.com</span></h4>
                    <br>
                    <br>
                    <button class="btn btn-primary">Log out</button>
                    
                  </div> -->

            </div>
        </div>

    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                            <input type="text" placeholder="Full Name" name="name">
                            <input type="text" placeholder="Email" name="mail">
                            <textarea placeholder="Short Invite Message"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Send</button>
                </div>
            </div>

        </div>
    </div>

</div>



{% endblock %}
