{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      <img src="https://img.icons8.com/emoji/48/000000/check-mark-emoji.png"/>
       All responses recorded successfully!
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">Thanks! We have received your submission,and we will be in touch really soon.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>


{% endblock%}