#multi-step-form-container {
    margin-top: 5rem;
}
h1 {
    text-align: center;
}
h2 {
    margin: 0;
}

.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    background-color: var(--bg-secondary);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: none;
}

.button:focus { outline: none; }

.form-input {outline:0;}
.form-input:focus {outline:none!important;}

.form-radio {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #505050 !important;
    font-size: 1rem;
    font-weight: 400;
}

.submit-btn {
    background-color: #0e9594;
}
.mt-3 {
    margin-top: 2rem;
}
.d-none {
    display: none;
}
.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.font-normal {
    font-weight: normal;
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
}

