*venv*
.vscode
*pycache*
*env*
*media*
*.sqlite3*
.coverage
.txt
*virtual*
*.rdb*
*staticfiles*
*gcloud-service-key.json*
keys/cal.json
*.zip
logs
csvs
application.json
data.json
dump.json
for_google_form.csv
lost.csv
nov_29_12_41.json
