{% extends 'common/email/base.html' %}
{% load i18n %}

{% block message %}
<div style="margin: 5px 0;">
    {{user}} {% trans "has finished reviewing application" %}: {{application.special_id}}. {% trans "Login to your dashboard to" %}
    {% trans "check out the review" %}.
    <br> <br> <br>
    <a
        style="background: green; padding: 10px 10px; border-radius: 5px; font: bold 0.9rem; text-decoration: none; color: white;"
        href="{{protocol}}://{{domain}}/CgDX4znLdQDLFw/advanced/view/{{application.slug}}/">
        {% trans "Login to review" %}
    </a>
</div><br>
{% endblock %}