.card {
    border-radius: unset !important;
}

.card {
    width: 100%;
    margin: unset;
    border: unset;
}

.card-body {
    height: 100%;
}

.row {
    --bs-gutter-x: unset;
    --bs-gutter-y: unset;
    border: unset;
}

small {
    font-weight: bold;
}

.about-text {
    font-size: 1.7rem;
}

.card-header {
    background-color: unset;
    padding: unset;
}

.carousel .carousel-item {
    height: 500px;
  }

  .carousel-item img {
      /* position: absolute; */
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
@media only screen and (max-width: 767px) {
    .wrapper .p-4{
        padding: 10px !important;
    }
}

@media only screen and (max-width:760px){
    .carousel .carousel-item {
        height: 250px;
      }

      .carousel-item img {
          /* position: absolute; */
          object-fit: cover;
          top: 0;
          left: 0;
          min-height: 250px;
      }
  }
  @media only screen and (max-width:550px){
    .carousel .carousel-item {
        height: 150px;
      }

      .carousel-item img {
          /* position: absolute; */
          object-fit: cover;
          top: 0;
          left: 0;
          min-height: 150px;
      }
  }



  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  /* .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } */

  /* .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */