.card {
    border-radius: unset !important;
}

.card {
    width: 100%;
    margin: unset;
    border: unset;
}

.card-body {
    height: 100%;
}

.row {
    --bs-gutter-x: unset;
    --bs-gutter-y: unset;
    border: unset;
}

small {
    font-weight: bold;
}

.about-text {
    font-size: 1.7rem;
}

.card-header {
    background-color: unset;
    padding: unset;
}

/* .carousel-item img {
    height: 250px;
} */

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      /* position: absolute; */
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
@media only screen and (max-width: 767px) {
    .wrapper .p-4{
        padding: 10px !important;
    }  
}

@media only screen and (max-width:760px){
    .carousel .carousel-item {
        height: 250px;
      }
      
      .carousel-item img {
          /* position: absolute; */
          object-fit: cover;
          top: 0;
          left: 0;
          min-height: 250px;
      }
  }
  @media only screen and (max-width:550px){
    .carousel .carousel-item {
        height: 150px;
      }
      
      .carousel-item img {
          /* position: absolute; */
          object-fit: cover;
          top: 0;
          left: 0;
          min-height: 150px;
      }
  }