.card {
  transition: box-shadow .3s;
  
}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.btn-outline-info {
  color: white;
  background-color: #14A562;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .modal-content {
    width: 50%;
  }
 }