{% extends 'base.html' %}
{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/passwords.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container-wrapper my-5">
                <h3 class="font-weight-bold mt-3">{% trans "Password Reset Complete" %}</h3>
                <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p> <br>
                <a href="/accounts/login/" class="btn btn-primary px-5 py-3 rounded">{% trans "Log In to your Account" %}</a>

            </div>
        </div>

    </div>
    <div class="row">
    </div>
</div>
{% endblock %}