{% extends 'base.html' %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/passwords.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container-wrapper my-5">
                <h3 class="font-weight-bold p-tb-20">CREATE NEW PASSWORD</h3>
                <form method="POST">
                    {% if form.errors %}
                    <p class="error">Please, correct the errors in the form below</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="input-row p-tb-20">
                        {% if form.new_password1.errors %}
                        <label for="id_new_password1" class="text-small error">Please enter your new password</label>
                        {% else %}
                        <label for="id_new_password1" class="text-small">Please enter your new password</label>
                        {% endif %}
                        <input type="password" name="new_password1" autocomplete="new-password" required=""
                            id="id_new_password1" aria-autocomplete="list" class="form-control">
                        {% for error in form.new_password1.errors %}
                        <span class="error">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="input-row p-tb-20">
                        {% if form.new_password2.errors %}
                        <label for="id_new_password2" class="text-small error">Confirm Password</label>
                        {% else %}
                        <label for="id_new_password2" class="text-small">Confirm Password</label>
                        {% endif %}
                        <input type="password" name="new_password2" autocomplete="new-password" required=""
                            id="id_new_password2" class="form-control">
                        {% for error in form.new_password2.errors %}
                        <span class="error">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="input-row mt-4">
                        <button type="submit" class="btn btn-primary px-5 py-3 rounded">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}