aside {
    flex-basis: 30%;
    background-color: rgb(46, 13, 90);
    height: 84vh;
}

.content {
    flex-basis: 65%;
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.active {
    background-color: rgb(46, 13, 90);
}

.aside-link {
    display: block;
    height: 100%;
    font-size: 23px;
    color: #fff;
}
#applicationsDropdown {
    color: #428bca;
    cursor: pointer;
}
