.link {
    font-weight: 600;
}
.link:hover {
    color: var(--bg-secondary) !important;
}

.pagination {
    margin-top: 20px;
}

.pagination {
    font-weight: 600;
}

.small {
    font-size: 0.7rem;
}
