    
  body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
    display: grid;
    height: auto;
  }



  .navbar{
    background-color: #73071c;
    color: #f3f3f3;
  }
  .app{
    margin-top:60px;
  }
  .app_img img{
    padding-top:50px;
    max-width: 100%;
      height: auto;
    }

   
   /* Form */
   .form {
    width: clamp(500px, 75%, 800px);
    margin: 0 auto;
    /* border: 1px solid #ccc;
    border-radius: 0.35rem; */
    padding: 0.5rem;
  }
  /* input.invalid {
    background-color:red;
  } */
  .required:after {
    content:" *";
    color: red;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin:10px;
  }


  .text {
    display: block;
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }


.radio{
  display: block;
  width:100%;

}
  label {
    display: block;
  }
  
  .width-50 {
    width: 25%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: #10075e;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: rgb(14, 11, 11);
  }
  
  .progress-step-active {
    background-color: #10075e;
    color: #f3f3f3;
  }
  
 

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .btn {
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #10075e;
    color: rgb(232, 233, 241);
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .container {
    margin-top:100px;
    width: 50%;
    background-color: white;
  }
  .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color:  #10075e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  

  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    /* text-align: center; */
  }

  span.psw {
    float: right;
    /* padding-top: 16px; */
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }