{% extends 'staff_base.html' %}
{% load i18n %}
{% block admin_content %}
    <div class="card-header">
        <div class="row pb-4">
            <div class="col-md-4 px-2 d-flex align-items-center"><b>{% trans "Name" %}</b></div>
            <div class="col-md-4 px-2 d-flex align-items-center"><b>{% trans "Email" %}</b></div>
            <div class="col-md-4 px-2 d-flex align-items-center"><b>{% trans "Type" %}</b></div>
        </div>
    </div>
    <div class="card-body">
        {% for mentorship in user.mentees.all %}
        <div class="row pb-4">
        <div class="col-md-4 px-2 d-flex align-items-center">{{mentorship.mentee.full_name}}</div>
        <div class="col-md-4 px-2 d-flex align-items-center">{{mentorship.mentee.email}}</div>
        <div class="col-md-4 px-2 d-flex align-items-center">
            {% if mentorship.mentee.is_applying_for_a_call_to_action %}
            Call to Action
            {% else %}
            Regular user
            {% endif %}
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}