{% extends 'staff_base.html' %}
{% load i18n %}
{% block admin_content %}
    <table class="table table-striped">
        <thead class="text-white" style="background-color: #4b6386;">
        <tr>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Email" %}</th>
            <th scope="col">{% trans "Type" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for mentorship in user.mentees.all %}
        <tr>
            <td>{{mentorship.mentee.full_name}}</td>
            <td>{{mentorship.mentee.email}}</td>
            <td>
                {% if mentorship.mentee.is_applying_for_a_call_to_action %}
                Call to Action
                {% else %}
                Regular user
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}