{% extends 'staff_base.html' %}
{% load i18n %}
{% block admin_content %}
<div class="row">
    <div class="col-md-6">
        <h2>{{session}}</h2>
        <div>
            {% if session.description %}
            <p>{{session.description}}</p>
            {% else %}
            <form action="{% url 'staff:session_update' pk=session.pk %}" method="post">
                {% csrf_token %}
                <textarea name="description" id="id_description" rows="5" placeholder="Please provide a description for this session"></textarea>
                <button type="submit" class="btn btn-primary">Save Description</button>
            </form>
            {% endif %}
            <p><b>Coachee: </b>{{session.coachee.email}}</p>
        </div>
        <div class="mt-5">
            <h4><b>Session Meetings</b></h4>

            {% for meeting in session.meetings.all %}
            <div class="row">
                <div class="col">
                    <a href="{{meeting.link}}" target="_blank">{{meeting}}</a>
                </div>
            </div>
            {% empty %}
            <p>This session has no meetings</p>
            {% endfor %}
        </div>
        <div>
            <a class="btn" href="{% url 'staff:meeting_setup' pk=session.pk %}" style="display: inline-block;">Set up a meeting</a>
        </div>
        <div class="mt-5">
            <h4><b>Session Materials</b></h4>
            {% for material in session.materials.all %}
            <div class="row">
                <div class="col">
                    <a href="{{material.material.url}}" target="_blank">{{material}}</a>
                </div>
            </div>
            {% empty %}
            <p>You have not uploaded any materials for this session</p>
            {% endfor %}
        </div>
        <div>
            <a class="btn" href="{% url 'staff:material' pk=session.pk %}" style="display: inline-block;">Upload Material</a>
        </div>
    </div>
</div>
{% endblock %}