{% extends 'staff_base.html' %}
{% load i18n %}
{% block admin_content %}
<div class="row">
    <div class="col p-4">
        <a href="{% url 'staff:session_create' %}" class="btn btn-primary">Setup a Session</a>
    </div>

    <table class="table table-striped">
        <thead class="text-white" style="background-color: #4b6386;">
        <tr>
            <th scope="col">{% trans "Session ID" %}</th>
            <th scope="col">{% trans "Student" %}</th>
            <th scope="col">{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for event in user.events.all %}
        <tr>
            <td>{{event.special_id}}</td>
            <td>{{event.coachee.email}}</td>
            <td>
                <a href="{% url 'staff:session_details' pk=event.pk %}" class="btn btn-primary">View More</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}