.alert {
  margin-top: 5px !important;
  -webkit-box-shadow: 0px 0px 8px -2px #c6e39f;
  box-shadow: 0px 0px 8px -2px #c6e39f;
  width: 80%;
}

.error, .alert-error {
    color: red;
}

.alert-success {
  color: green;
}

i {
  cursor: pointer;
}
