#cfa,#error-page,#agri-window,#admin{

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: soft-light;
}

nav .upper {
  width: 85%;
}

nav .lower {
  width: 100%;
  padding-right: 7.5%;
  min-height: 40px;
}

nav .lower {
  background-color: #a91917;
}

nav .row {
  width: 100%;
}

.upper .links-wrapper {
  flex-basis: 40%;
}
.upper .language {
  flex: 1;
}

.navbar-brand {
  height: auto!important;
}

.navbar {
  border-radius: unset !important;
}

nav #contacts {
  font-weight: bold;

}

#dropdownMenuLink {
  color: black !important;
}

#cfa {
  background-image:url("../../common/images/background.jpg");
}
#error-page{
  background-image:url("../../common/images/agri3.jpg");

}
#agri-window{
  background-image:url("../../common/images/clientlog2.jpg");
}
#admin{
  background-image:url("../../common/images/PES-LOGO.jpg");
}
#staff {
  background-image: url("../../common/images/Logo_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.h1 {
  color: #a91917;
}

#second-nav {
  color: #ffffff;
}

.card {
  background-color: #a91917;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.btn-primary {
  background-color: #4b6386;
  border-radius: 10px;
}

.jumbotron-alert {
  background-color: #a91917;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

                                                      /* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a.btn-next.width-50 {
    width: 100%;
    margin: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 #dropdownMenuLink {
  display: none;
 }
}

@media only screen and (max-width: 767px) {
  .links {
    display: none;
  }
  nav .upper {
      width: 100%;
  }
  .lower {
    justify-content: unset !important;
  }
  #contacts {
    font-size: 1rem;
  }
  .lower-items {
    width: 100% !important;
    justify-content: space-between;
  }
  nav .lower{
    padding-right: unset;
  }
  .user-container {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}