:root {
    --bg-primary: #455D8D;
    --bg-secondary: #14A562;
}

.site-bg-primary {
    background-color: var(--bg-primary);
}

.site-bg-secondary {
    background-color: var(--bg-secondary);
}

.text-primary {
    color: var(--bg-primary)
}

.wrapper {
    padding: 0 10%;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        padding: 0 5%;
    }
}