:root {
    --bg-primary: #455D8D;
    --bg-secondary: #14A562;
}

.site-bg-primary {
    background-color: var(--bg-primary);
}

.site-bg-secondary {
    background-color: var(--bg-secondary);
}

.text-site-primary {
    color: var(--bg-primary)
}

.header-site-primary {
    color: var(--bg-primary);
    font-size: large;
}

.main-secondary-title {
    color: var(--bg-primary);
    font-family: 'Paytone One';
    font-size: 5em;
}

.paragraph-site-primary {
    color: var(--bg-primary);
    font-size: medium;
    text-align: justify;
}

.text-site-secondary {
    color: var(--bg-secondary)
}

.wrapper {
    padding: 0 10%;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        padding: 0 5%;
    }
}