body {
  /* padding-top: 30px; */
  margin-top: 50px;
}

.navbar{
  background-color: #73071c;
  color: #f3f3f3;
}


.card{
  width: 75%;
  margin: 15%;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #10075e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #73071c;
}

.registerbtn {
  background-color:  #10075e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.container {
  width: 50%;
  background-color: white;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


