html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body, .custom-scroll{
    overflow-y: auto;
    --scrollbarBG: rgba(0, 0, 0, 0);
    --thumbBG: #787878;
    scrollbar-width: thin;
}

body::-webkit-scrollbar, .custom-scroll::-webkit-scrollbar {
    width: 11px;
    height: 40px;

}

body::-webkit-scrollbar-track, .custom-scroll:-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb, .custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.navbar{
  color: #f3f3f3;
}

input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  outline:0;
}

input[type=text]:focus, input[type=number]:focus, select:focus, textarea:focus {outline:none!important;}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4b6386;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #a91917;
}

.registerbtn {
  background-color:  #14A562;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.rgst {
  width: 50%;
  background-color: white;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.success {
  color: #388e3c;
}

.btn {
  outline: none !important;
}


                                                          /* MEDIA QUERIES */

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .registerbtn {
    padding: 10px 12px;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}