{% extends 'base.html' %}
{% block body_id %}cfa{% endblock %}
{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/application/index.css' %}">
{% endblock %}
{% block content %}
<section class="container-fluid m-0 p-0">
  <div class="wrapper py-5">
    <div class="row bg-white m-0 p-4 rounded">
      <h3 class="pb-4 text-site-secondary"><strong>{% trans "Calls For Application" %}</strong></h3>
      {% for application in calls_to_action %}
      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row">
          <div class="col-md-4">
            <img src="{{application.image.url}}" class="img-fluid" alt="{{application.tagline}}.">
          </div>
          <div class="col-md-8 site-bg-secondary">
            <div class="card-body d-flex flex-column justify-content-between">
              <h4 class="card-title">{{application.tagline}}</h4>
              <p class="card-text">{{application.description}}</p>
              <p class="card-text"><small>{% trans "Applications Ongoing. Ends " %}<span> {{application.deadline}}</span></small></p>
              <a href="{% url "agripitch:application" slug=application.slug %}" class="btn btn-primary">{% trans "Apply Now" %} &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <h4>There are no ongoing applications at the moment, please check back later.</h4>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}