{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <section id="services"> -->
  <!-- <h3 class="display-4 text-center">Call For Applications</h3> -->

     <div class="container-fluid ">
   {% for application in calls_to_action %}
   <div class="textover">
           <img class="call_img" src="{{application.image.url}}" alt="{{application.tagline}}"/>
           
           <div class="bottom-left">
                <h1>Call For Applications</h1>

              <h2 >{{application.tagline}}</h2>
              <h3 > Applications Ongoing.</h3>
                <h4> {{application.deadline}}</h4>
                    
              <a href="/applications/{{application.slug}}/" class="button btn-danger">Apply &raquo;</a>
            </div>
          
          </div>
           
     {% endfor %}
  </div>



<!-- </section> -->

{% endblock %}