{% extends 'base.html' %}

{% block content %}

<div class=" container emailPic">
  
    <div class="Call1">
      <h2> Call For Applications </h2>
    </div>
 
      <div class="row">
       
          <div class="col-md-4 grid">
            <div class="card">
              <img class="card-img" src="/static/images/Agribusiness1.jpg" alt="Rome" />
              <div class="card-content">
                <h1 class="card-header">Call for Application 1 - AgriBusiness Window</h1>
                <p class="card-text">
                  Applications Ongoing.<span> Ends 31/3/2022</span>
                </p>
                
                <!-- <a href="#"><button  class="card-btn">Apply <span>&rarr;</span></button></a> -->
                <!-- Button trigger modal -->
<button type="button" class="card-btn" data-toggle="modal" data-target="#exampleModalCenter">
  Apply <span>&rarr;</span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Kindly note that this call for Application is not yet live.</p>
        <br>
        <p> Contact us at coach@privateequity-support.com for further information.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid">
            <div class="card">
              <img
                class="card-img"
                src="/static/images/Water1.jpg"
                alt="Grand Canyon"
              />
              <div class="card-content">
                <h6 class="card-header">Call for Application 2 - Water Window</h6>
                <p class="card-text">
                    Applications Ongoing.<span> Ends 31/7/2022</span>
                </p>
                <button type="button" class="card-btn" data-toggle="modal" data-target="#exampleModalCenter">
                  Apply <span>&rarr;</span>
                </button>
                <!-- <button class="card-btn">Apply <span>&rarr;</span></button> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 grid">
            <div class="card">
              <img class="card-img" src="/static/images/Youth-lead-Business1.jpg" alt="Maldives" />
              <div class="card-content">
                <h1 class="card-header">Call for Application 3 - Youth Led Business Window</h1>
                <p class="card-text">
                    Applications Ongoing.<span> Ends 31/9/2022</span>.
                </p>
                <button type="button" class="card-btn" data-toggle="modal" data-target="#exampleModalCenter">
                  Apply <span>&rarr;</span>
                </button>
                <!-- <button class="card-btn">Apply <span>&rarr;</span></button> -->
              </div>
            </div>
         </div>
         </div>

         <hr>
         <div class="Call1">
         <h2 > Previous Training </h2>
        </div>
         <hr>
         <div class="row ">
            <div class="col-md-4">
              <div class="card">
                <img class="card-img" src="/static/images/train1.jpeg" alt="Rome" />
                <div class="card-content">
                  <h1 class="card-header">Covid Planning for SMEs</h1>
                  <!-- <p class="card-text">
                    Applications Ongoing.
                  </p>
                  <p class="card-footer"> Ends 25/1/2022</p> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img"
                  src="/static/images/train2.jpeg"
                  alt="Grand Canyon"
                />
                <div class="card-content">
                  <h6 class="card-header">SME Readiness</h6>
                  <!-- <p class="card-text">
                      Applications Ongoing
                  </p>
                  <p class="card-footer">
                      Ends 25/3/2022
                  </p> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img" src="/static/images/train3.jpeg" alt="Maldives" />
                <div class="card-content">
                  <h1 class="card-header">SME Financial Literacy</h1>
                  <!-- <p class="card-text">
                      Applications Ongoing.
                  </p>
                  <p class="card-footer"> Ends 25/4/2022</p> -->
                 
                </div>
              </div>
           </div>
           </div>

</div>
  



{% endblock %}