{% extends 'admin_base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/view_staff.css' %}">
{% endblock %}
{% block admin_content %}

<div class="table-responsive card-admin">
<table id="admin-dashboard" class="table table-striped text-white">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Creator</th>
      <th scope="col">Stage</th>
      <th scope="col">View</th>

    </tr>
  </thead>
  <tbody>
    {% for application in applications %}
    <tr>
      <th scope="row">{{application.special_id}}</th>
      <td>{{application.application_creator}}</td>
      <td>
        {{ application.get_stage_display }}
      </td>
      <td>
        Link to open here
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
