{% extends 'admin_base.html' %}
{% block admin_content %}
{% load i18n %}
{% load application_extras %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg rounded">
                <div class="card-body">
                    <h4 class="card-title"><b>{% trans "Application Summary" %}</b></h4>
                    <p><b>{% trans "Stage:" %}</b> {{application.get_stage_display}}</p>
                    <p class="card-text">
                        <b>{% trans "ID:" %}</b> {{application.special_id}}
                    </p>
                    <p><b>{% trans "Reviewers" %}</b></p>
                    <ul class="px-2">
                    {% for reviewer in application.reviewers.all %}
                    <li class="card-text">
                        {{reviewer.reviewer}}{% if reviewer.reviewer.is_moderator %} - moderator{% endif %}
                    </li>
                    {% empty %}
                    {% trans "There are no reviewers for this application yet." %}
                    {% endfor %}
                    </ul>
                    <p><b>{% trans "Total Score:" %}</b> {{application|get_average_score}}</p>
                    <p><b>{% trans "Will Advance" %}</b> {% if application.to_advance %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg rounded">
                <div class="card-body">
                    <h4 class="card-title"><b>{% trans "Review Breakdown" %}</b></h4>
                    {% for review in application.reviewers.all %}
                {% if not review.reviewer.is_moderator %}
                    <div class="row mb-4">
                        <div class="col-md-10 border p-3 m-4">
                            <p><b>{% trans "Reviewer" %}:</b> {{review.reviewer}}</p>
                            <p><b>{% trans "Reviewer Total Score" %}:</b> {{review.reviewer|get_reviewer_scores_for_application:application}} </p>
                            <p><b>{% trans "Moderation Score" %}</b> {{application|get_moderation_score}}</p>
                            <details class="mb-2">
                                <summary>
                                    <i class="fa-solid fa-angle-right mr-2"></i>
                                    <b>{% trans "Messages sent to the application by" %} {{review.reviewer}}</b>
                                </summary>
                                <ul style="list-style-type: circle;" class="p-2 m-4">
                                    {% for prompt in review.reviewer|get_prompts:application %}
                                    <li>{{prompt.message}}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                            <details class="mb-2">
                                <summary>
                                    <i class="fa-solid fa-angle-right mr-2"></i>
                                    <b>{% trans "General comments on the application by" %} {{review.reviewer}}</b>
                                </summary>
                                <ul style="list-style-type: circle;" class="p-2 m-4">
                                    {% for comment in review.reviewer|get_comments:application %}
                                    <li>{{comment.comment}}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                            <details class="mb-2">
                                <summary>
                                    <i class="fa-solid fa-angle-right mr-2"></i>
                                    <b>{% trans "Score per question by" %} {{review.reviewer}}</b>
                                </summary>
                                <ul style="list-style-type: circle;" class="p-2 m-4">
                                    {% for question in review.reviewer|get_question_scores_for_application:application %}
                                    <li>{{question.prompt}} <b>Score {{question.score}}</b></li>
                                    {% endfor %}
                                </ul>
                            </details>
                        </div>
                    </div>
                    {% endif %}
                    {% empty %}
                    {% trans "There are no reviewers for this application yet." %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg rounded">
                <div class="d-flex justify-content-between p-5">
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn">{% trans "ADVANCE" %} <i class="fa-solid fa-check"></i></button>
                        <input type="checkbox" name="to_advance" checked hidden>
                        <input type="text" name="stage" value="step_four" hidden>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn">{% trans "AVOID" %} <i class="fa-solid fa-xmark"></i></button>
                        <input type="checkbox" name="to_advance" hidden>
                        <input type="text" name="stage" value="step_four" hidden>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}