{% extends 'admin_base.html' %}
{% block admin_content %}
{% load i18n %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3>{% trans "Assign reviewers to" %} {{application}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-2">
        <form action="/CgDX4znLdQDLFw/advanced/assign/{{application.pk}}/reviewers/" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{form.reviewers}}
            {% for error in form.reviewers.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Assign" %}</button>
        </form>
    </div>
</div>
{% endblock %}