{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/pes_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/pes_admin/assign_evaluators.css' %}">
{% endblock %}
{% block admin_content %}
{% load i18n %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4 class="heading"><strong>{% trans "Re-assign a new evaluator to" %} {{application}}</strong></h4>
        <h4>Current Reviewer: {{application.evaluators.first.evaluator.email}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-2">
        <form action="{% url 'admin:assign_evaluator' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for evaluator in evaluators %}

                <label class="checkbox-container">{{evaluator.email}}
                    <input type="radio" name="evaluator" value="{{evaluator.pk}}" id="id_{{evaluator.pk}}_0"
                        {% if application.evaluators.first.evaluator.pk == evaluator.pk %}disabled{% endif %}>
                    <span class="checkmark"></span>
                </label>
                {% endfor %}
                {% for error in form.evaluators.errors %}
                <p class="error">{{ error|escape }}</p>
                {% endfor %}
            </div>
            <input type="hidden" name="application" value="{{application.pk}}">
            <button type="submit" class="btn btn-primary">{% trans "Assign" %}</button>
        </form>
    </div>
</div>
{% endblock %}