{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/pes_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/pes_admin/assign_reviewers.css' %}">
{% endblock %}
{% block admin_content %}
{% load i18n %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4 class="heading"><strong>{% trans "Assign reviewers to" %} {{application}}</strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-2">
        <form action="/CgDX4znLdQDLFw/advanced/assign/{{application.pk}}/reviewers/" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{form.reviewers}}
            {% for error in form.reviewers.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Assign" %}</button>
        </form>
    </div>
</div>
{% endblock %}