{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/pes_admin.css' %}">
{% endblock %}
  {% load admin_extras %}
{% block admin_content %}
                <div class="row">
                  <div class="col-sm-12">
                    <h2>Key Stats</h2>
                    <div class="mb-5">
                      <p><b>Total Applications:
                        </b>
                      </p>
                      <p class="country-applications site-bg-primary mb-2 py-2 px-5 text-white" style="display: inline-block;">
                        {% with ''|get_total_applications as total_applications %}{{total_applications}}{% endwith %}
                      </p>
                    </div>

                    <div class="mb-5">
                      <p><b>Total by country</b></p>
                      <div class="d-flex">
                        {% with 'Country *'|get_total_applications_by_criteria as countries %}
                        {% for country in countries %}
                        {% for key, value in country.items %}
                        <div class="country-applications site-bg-primary mr-2 p-2 text-white">
                          {% load countries %}
                          {% get_country key as country %}
                          {{ country.name }}
                          | {{value}}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endwith %}
                      </div>
                    </div>
                    <div class="mb-5">
                      <p><b>Total by Entity Type</b></p>
                      <div class="d-flex flex-column align-items-start">
                        {% with 'Entity type *'|get_total_applications_by_criteria as entities %}
                        {% for entity in entities %}
                        {% for key, value in entity.items %}
                        <div class="country-applications site-bg-primary mb-2 p-2 text-white">
                          {{ key }} | {{value}}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endwith %}
                      </div>
                    </div>
                    <div class="mb-5">
                      <p><b>Total by Language Speakers</b></p>
                      <div class="d-flex flex-column align-items-start">
                        {% with 'Language *'|get_total_applications_by_criteria as entities %}
                        {% for entity in entities %}
                        {% for key, value in entity.items %}
                        <div class="country-applications site-bg-primary mb-2 p-2 text-white">
                          {{ key }} | {{value}}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endblock %}