{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/pes_admin.css' %}">
{% endblock %}
{% load admin_extras %}
{% load googlecharts %}
{% block admin_content %}
<div class="row">
  <div class="col-sm-12 p-5 text-center">
    <div class="card text-center" style="border-radius: 15px;">
      <div class="card-body p-4">
    <h2 class="card-title">Welcome Admin</h2>
    </div>
   </div>
  </div>
</div>


{% endblock %}