{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/view_staff.css' %}">
{% endblock %}
{% block admin_content %}

<div class="card card-admin">
    <div class="card-header ">
        <div class="row pb-4">
            <div class="col-md-3 px-2 d-flex align-items-center"><b>ID</b></div>
            <div class="col-md-3 px-2 d-flex align-items-center"><b>Creator</b></div>
            <div class="col-md-3 px-2 d-flex align-items-center"><b>Stage</b></div>
            <div class="col-md-3 px-2 d-flex align-items-center"><b>Action</b></div>
        </div>
    </div>
    <div class="card-body">
        {% for application in applications %}
        <div class="row pb-4">
        <div class="col-md-3 px-2 d-flex align-items-center">{{application.special_id}}</div>
        <div class="col-md-3 px-2 d-flex align-items-center">{{application.application_creator}}</div>
        <div class="col-md-3 px-2 d-flex align-items-center">
            {{application.get_stage_display}}
        </div>
        <div class="col-md-3 px-2 d-flex align-items-center">
            <a href="/admin/advanced/view/{{application.slug}}/" class="btn btn-primary">View More</a>
        </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}