{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{% load admin_extras %}
{% load i18n %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/pes_admin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/common.css' %}" />
<link rel="stylesheet" href="{% static 'css/pes_admin/search.css' %}">
{% endblock %}
{% block admin_content %}

<div class="container htmx-parent" id="htmx-parent">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="font-weight-bold">Unassigned Applications</h4>
      <p class="m-0">Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
      <p class="small">
        {% with page_obj|length as records %}
        {{records}} record{{ records|pluralize }}
        {% endwith %}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form action="{% url 'admin:unassigned_applications' %}" method="get">
        {% csrf_token %}
        <div class="d-flex align-items-center search">
          <input value="{% if request.session.search %}{{request.session.search}}{% endif %}" type="text" id="id_search"
            class="form-control" placeholder="{% trans 'Search' %}" name="search" required
            hx-get="{% url 'admin:unassigned_applications' %}" hx-trigger="keyup changed delay:1s" hx-swap="innerHTML"
            hx-target="#htmx-parent" hx-indicator="#spinner">
          <button type="submit" class="btn btn-default"><i class="fa-solid fa-magnifying-glass"></i></button>
          {% if request.session.search %}
          <form method="get">
            <button class="btn btn-default" type="button" hx-get="{% url 'admin:clear_search' %}" hx-trigger="click">
              <i class="fa-solid fa-xmark" title="clear search"></i>
            </button>
          </form>
          {% endif %}
        </div>
        {% for error in form.search.errors %}
        <p class="error">{{ error|escape }}</p>
        {% endfor %}
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive card-admin">
        <table id="admin-dashboard" class="table table-striped text-white">
          <thead>
            <tr>
              <th scope="col">{% trans "Short ID" %}</th>
              <th scope="col">{% trans "Owner" %}</th>
              <th scope="col">{% trans "Stage" %}</th>
              <th scope="col">{% trans "Language" %}</th>
              <th scope="col">{% trans "Entity Type" %}</th>
              <th scope="col">{% trans "Average Marks" %}</th>
              <!-- <th scope="col">{% trans "Action" %}</th> -->
            </tr>
          </thead>
          <tbody>
            {% for application in applications %}
            <tr>
              <th scope="row">{{application.application_creator}}</th>
              <td>{{application.application_creator.email}}</td>
              <td>{{application.get_stage_display}}</td>
              <td>{{application|get_user_language}}</td>
              <td>{{application|get_entity_type}}</td>
              <td>{{application.average_marks}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="htmx-indicator" id="spinner">
          <img src="{% static 'common/images/puff.svg' %}" height="80" width="80" alt="loader" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>

</div>

{% endblock %}