{% extends 'admin_base.html' %}
{% load i18n %}
{% block admin_content %}


<form method="post" action="/CgDX4znLdQDLFw/advanced/create/subcriteria/property/">
  <h2 class="error">
    {% if form.errors %}
    Please correct the errors in your form below.
    {% endif %}
  </h2>
  {% csrf_token %}
  <div class="card card-admin">
    <div class="card-header ">
      <h4 class="card-title">{% trans "Add a subcriteria property" %}</h4>
    </div>
    <div class="card-body ">
      <div class="form-group">
        <label for="id_sub_criteria_item"></label>
        {{ form.sub_criteria_item }}
        {% for error in form.sub_criteria_item.errors %}
        <p class="error">{{ error|escape }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_sub_criteria_item"></label>
        <input type="text" list="names" name="name" />
        <datalist id="names">
          {% for name in name_choices %}
          <option>{{name}}</option>
          {% endfor %}

        </datalist>
        {% for error in form.name.errors %}
        <p class="error">{{ error|escape }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_sub_criteria_item"></label>
        <input type="text" list="values" name="value" />
        <datalist id="values">
          {% for value in value_choices %}
          <option>{{value}}</option>
          {% endfor %}

        </datalist>
        {% for error in form.value.errors %}
        <p class="error">{{ error|escape }}</p>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
  </div>
</form>
{% endblock %}