{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{% load i18n %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/view_staff.css' %}">
{% endblock %}
{% block admin_content %}

<div class="table-responsive card-admin">
    <table id="admin-dashboard" class="table table-striped text-white">
      <thead>
        <tr>
          <th scope="col">{% trans "ID" %}</th>
          <th scope="col">{% trans "Owner" %}</th>
          <th scope="col">{% trans "Stage" %}</th>
          <th scope="col">{% trans "Action" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for application in applications %}
        <tr>
          <th scope="row">{{application.special_id}}</th>
          <td>{{application.application_creator}}</td>
          <td>{{application.get_stage_display}}</td>
          <td>
            <a href="/admin/advanced/assign/{{application.pk}}/reviewers/" class="btn btn-primary">{% trans "Assign Reviewers" %}</a>
          </td>
        </tr>
        {% endfor %}
        {% endblock %}
      </tbody>
    </table>
    </div>