{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{% load i18n %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/view_staff.css' %}">
{% endblock %}
{% block admin_content %}

<div class="table-responsive card-admin">
    <table id="admin-dashboard" class="table table-striped text-white">
      <thead>
        <tr>
          <th scope="col">{% trans "Name" %}</th>
          <th scope="col">{% trans "Email" %}</th>
          <th scope="col">{% trans "Has Coaches" %}</th>
          <th scope="col">{% trans "Action" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.full_name}}</th>
          <td>{{user.email}}</td>
          <td>
            {% if user.coaches.all %}
            <i class="fa-solid fa-circle-check"></i>
            {% else %}
            <i class="fa-solid fa-xmark"></i>
            {% endif %}
          </td>
          <td>
            <a href="/admin/advanced/assign/{{user.pk}}/coaches/" class="btn btn-primary">{% trans "Assign Coaches" %}</a>
          </td>
        </tr>
        {% endfor %}
        {% endblock %}
      </tbody>
    </table>
    </div>