{% extends 'admin_base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/view_staff.css' %}">
{% endblock %}
{% block admin_content %}
<div class="row pb-4">
    <div class="col-md-3 px-2 d-flex align-items-center"><b>Full Name</b></div>
    <div class="col-md-3 px-2 d-flex align-items-center"><b>Email</b></div>
    <div class="col-md-3 px-2 d-flex align-items-center"><b>Role</b></div>
    <div class="col-md-3 px-2 d-flex align-items-center"><b>Is Reviewer</b></div>
</div>
{% for employee in staff %}
<div class="row pb-4">
    <div class="col-md-3 px-2 d-flex align-items-center">{{employee.full_name}}</div>
    <div class="col-md-3 px-2 d-flex align-items-center">{{employee.email}}</div>
    <div class="col-md-3 px-2 d-flex align-items-center">
        Role
        {% if employee.is_superuser %}
        Admin:
        {% else %}
        Staff
        {% endif %}
    </div>
    <div class="col-md-3 px-2 d-flex align-items-center">
        {% if employee.is_reviewer %}
        <i class="fa-solid fa-circle-check"></i>
        {% else %}
        <a href="/admin/advanced/make/{{employee.pk}}/reviewer/" class="btn">Make Reviewer</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}