{% extends 'staff_base.html' %}
{% load i18n %}
{% load account_extras %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/accounts/applications.css' %}">
{% endblock %}
{% block admin_content %}
<style>
    p {
        font-size: 1.6rem !important;
        font-weight: 600;
    }

    h4 {
        font-weight: bold;
    }

    a.btn {
        font-weight: 600;
    }

    a.btn:hover {
        color: #DCDCDC;
    }
</style>
{% if user.is_evaluator %}
{% if user.evaluations.all %}
<div class="row">
    <div class="col-md-3"><b>
            <h4>{% trans "Application ID" %}</h4>
        </b></div>
    <div class="col-md-3"><b>
            <h4>{% trans "Created By" %}</h4>
        </b>
    </div>
    <div class="col-md-2"><b>
            <h4>{% trans "Review" %}</h4>
        </b>
    </div>
    <div class="col-md-2"><b>
            <h4>{% trans "Action" %}</h4>
        </b>
    </div>
    <div class="col-md-2">
        <p style="font-weight: bold;" title="Documents you might have asked for">Extra Documents Uploaded</p>
    </div>
</div>
{% for review in user.evaluations.all %}
{% if review.application.disqualified %}
<div class="row">
    <div class="col-md-3"><b>
            <p>{{review.application.special_id}}</p>
        </b>
    </div>
    <div class="col-md-3"><b>
            <p>{{review.application.application_creator.email}}</p>
        </b></div>
    <div class="col-md-2">
        <p style="font-weight: bold;">
            Disqualified
            <i class="fa-regular fa-circle-xmark"></i>
        </p>
    </div>
    <div class="col-md-2">
        <p style="font-weight: bold;">
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_three' step='step_five' %}"
                class="btn btn-primary">Rollback</a>
        </p>
    </div>
    <div class="col-md-2">
        <div class="d-flex align-items-center align-content-center">
            <a href="{% url 'eligibility:extra_docs' slug=review.application.slug %}"
                class="btn btn-primary">{% trans "Extra Docs" %}</a>
            <p class="circle">{{review.application.documents.count}}</p>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-3"><b>
            <p>{{review.application.special_id}}</p>
        </b></div>
    <div class="col-md-3"><b>
            <p>{{review.application.application_creator.email}}</p>
        </b></div>
    <div class="col-md-2">
        {% if review.application.stage == 'step_six' %}
        <p><b>
        ShortListed
        <i class="fas fa-check" style="color:#14a562"></i>
        </b></p>
        {% else %}
        <a href="{% url 'eligibility:check_eligibility' slug=review.application.slug %}"
            class="btn btn-primary">{% trans "Long List" %}</a>
        {% endif %}
    </div>
    <div class="col-md-2">
        <p style="font-weight: bold;">
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_three' step='step_five' %}"
                class="btn btn-primary">Rollback</a>
        </p>
    </div>
    <div class="col-md-2">
        <div class="d-flex align-items-center align-content-center">
            <a href="{% url 'eligibility:extra_docs' slug=review.application.slug %}"
                class="btn btn-primary">{% trans "Extra Docs" %}</a>
            <p class="circle">{{review.application.documents.count}}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<p class="text-center">{% trans "You do not have any applications to review at the moment" %}</p>
{% endif %}





{% else %}
{% if user.reviews.all %}

<div class="row">
    <div class="col-md-3"><b>
            <h4>{% trans "Application ID" %}</h4>
        </b></div>
    <div class="col-md-3"><b>
            <h4>{% trans "Created By" %}</h4>
        </b>
    </div>
    <div class="col-md-2"><b>
            <h4>{% trans "Review" %}</h4>
        </b>
    </div>
    <div class="col-md-2"><b>
            <h4>{% trans "Action" %}</h4>
        </b>
    </div>
    <div class="col-md-2">
        <p style="font-weight: bold;" title="Documents you might have asked for">Extra Documents Uploaded</p>
    </div>
</div>
{% for review in user.reviews.all %}
{% if review.application.disqualified %}
<div class="row">
    <div class="col-md-3"><b>
            <p>{{review.application.special_id}}</p>
        </b>
    </div>
    <div class="col-md-3"><b>
            <p>{{review.application.application_creator.email}}</p>
        </b></div>
    <div class="col-md-2">
        <p style="font-weight: bold;">
            Disqualified
            <i class="fa-regular fa-circle-xmark"></i>
        </p>
    </div>
    <div class="col-md-2">
        <p style="font-weight: bold;">
            {% if review.application.stage == 'step_three' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_one' step='step_three' %}"
                class="btn btn-primary">Rollback</a>
            {% elif review.application.stage == 'step_four' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_two' step='step_three' %}"
                class="btn btn-primary">Rollback</a>
            {% elif review.application.stage == 'step_five' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_three' step='step_five' %}"
                class="btn btn-primary">Rollback</a>
            {% else %}
        <p><b>Cant Roll Back</b></p>
        {% endif %}
        </p>
    </div>
    <div class="col-md-2">
        <div class="d-flex align-items-center align-content-center">
            <a href="{% url 'eligibility:extra_docs' slug=review.application.slug %}"
                class="btn btn-primary">{% trans "Extra Docs" %}</a>
            <p class="circle">{{review.application.documents.count}}</p>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-3"><b>
            <p>{{review.application.special_id}}</p>
        </b></div>
    <div class="col-md-3"><b>
            <p>{{review.application.application_creator.email}}</p>
        </b></div>
    <div class="col-md-2">
        {% if review.application.stage == 'step_three' %}
        <a href="{% url 'eligibility:step' slug=review.application.slug step_slug='step_one'|get_group_slug %}"
            class="btn btn-primary">{% trans "Start Review" %}</a>
        {% elif review.application.stage == 'step_four' %}
        <a href="{% url 'eligibility:step' slug=review.application.slug step_slug='step_two'|get_group_slug %}"
            class="btn btn-primary">{% trans "Verify Documents" %}</a>
        {% elif review.application.stage == 'step_five' %}
        <a href="/eligibility/{{review.application.slug}}/" class="btn btn-primary">{% trans "Long List" %}</a>
        {% elif review.application.stage == 'step_six' %}
        <a href="#" class="btn btn-primary">{% trans "Short List" %}</a>
        {% elif review.application.stage == 'step_seven' %}
        <p>Review Complete</p>
        {% endif %}
    </div>
    <div class="col-md-2">
        <p style="font-weight: bold;">
            {% if review.application.stage == 'step_three' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_one' step='step_three' %}"
                class="btn btn-primary">Rollback</a>
            {% elif review.application.stage == 'step_four' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_two' step='step_three' %}"
                class="btn btn-primary">Rollback</a>
            {% elif review.application.stage == 'step_five' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_three' step='step_four' %}"
                class="btn btn-primary">Rollback</a>
            {% elif review.application.stage == 'step_six' %}
            <a href="{% url 'eligibility:rollback' slug=review.application.slug current_step='step_four' step='step_five' %}"
                class="btn btn-primary">Rollback</a>
            {% else %}
        <p><b>Cant Roll Back</b></p>
        {% endif %}
        </p>
    </div>
    <div class="col-md-2">
        <div class="d-flex align-items-center align-content-center">
            <a href="{% url 'eligibility:extra_docs' slug=review.application.slug %}"
                class="btn btn-primary">{% trans "Extra Docs" %}</a>
            <p class="circle">{{review.application.documents.count}}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<p class="text-center">{% trans "You do not have any applications to review at the moment" %}</p>
{% endif %}
{% endif %}
{% endblock %}