{% extends 'base.html' %}
{% load account_extras %}
{% load static %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/profile.css' %}" />
{% endblock %}
{% load i18n %}
{% load account_extras %}

{% block content %}

<div class="home">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-2 col-sm-1 site-bg-secondary px-0" id="navigation">
                <div class="navi">
                    <ul>
                        {% block links %}
                        <li class="tablink d-flex align-items-center justify-content-between" onclick="openPage('Home')"
                            id="defaultOpen">
                            <a href="#">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="tablink">{% trans "Home" %}</span>
                            </a>
                            <i class="fa fa-times-circle" aria-hidden="true" id="closeSideNav"></i>
                        </li>
                        <li class="tablink" onclick="openPage('Academy')">
                            <a href="#">
                                <i class="fa-solid fa-graduation-cap" aria-hidden="true"></i>
                                <span class="tablink" onclick="openPage('Academy')">{% trans "Academy" %}</span>
                            </a>
                        </li>
                        {% if not user.is_applying_for_a_call_to_action %}
                        <li class="tablink" onclick="openPage('Mentors')">
                            <a href="#">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="tablink" onclick="openPage('Mentors')">
                                    {% trans "Coaches" %}
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="tablink" onclick="openPage('MyCoaches')">
                            <a href="#">
                                <i class="fa-solid fa-chalkboard-user" aria-hidden="true"></i>
                                <span class="tablink" onclick="openPage('MyCoaches')">
                                    {% trans "My Coaches" %}
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'accounts:profile_view' %}">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span>{% trans "Profile" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/accounts/logout/">
                                <i class="fa-solid fa-arrow-right-from-bracket" aria-hidden="true"></i>
                                <span>{% trans "Log Out" %}</span>
                            </a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-12 display-table-cell v-align">
                <div class="row">
                    <div class="col-sm-12 pl-0">
                        <i class="fas fa-bars fa-2x mt-5" id="sideNavIcon"></i>
                    </div>
                </div>
                {% block tabcontent %}
                <div class="user-dashboard tabcontent" id="Home">
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12 mb-5">
                            <h2 class="card-header">{% trans "Hello" %}, {{user}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12 col-xs-12 mb-5">
                            <div class=" row sales">
                                <div class="col-md-12">
                                    <h2>{% trans "Your Team Members" %}</h2>
                                    {% if user.organization_admin %}
                                    {% for member in user.organization_admin.subscriptions.all %}
                                    <p>{{member}}</p>
                                    {% empty %}
                                    {% trans "You have not invited your team yet" %}
                                    {% endfor %}
                                    {% else %}
                                    {% with members=user.email|get_organization_members %}
                                    {% for member in members %}
                                    <p>
                                        {{member}}
                                    </p>
                                    {% empty %}
                                    {% trans "There is not team yet" %}
                                    {% endfor %}
                                    {% endwith %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Academy" class="tabcontent">
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12">
                            <div class="card border-0">
                                <h2 class="card-header">{% trans "PES Academy" %}</h2>
                                <div class="card-body">
                                    <p class="card-text">
                                        {% trans "Joining the PES academy will give you access to the videos and presentations Featured by PES where you get to learn more and get more advisory about your business." %}
                                    </p>
                                    <a href=" https://privateequity-support.thinkific.com/users/sign_in" target='_blank'
                                        class="btn btn-primary">{% trans "Join the PES Academy" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="Mentors" class="tabcontent">
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12">
                            <h4 class="card-header ml-3">{% trans "Coaches" %}</h4>
                            {% if not mentors %}
                            <h4 class="ml-3">{% trans "We do not have mentors at the moment" %}</h4>
                            {% endif %}
                            <div class="grid">
                                {% for mentor in mentors %}
                                <div class="g-col">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-between">
                                            {% if mentor.avatar %}
                                            <img src="{% if mentor.avatar %}{{mentor.avatar.url}}{% endif %}"
                                                class="img-rounded" alt="No Avatar">
                                            {% else %}
                                            <img src="{% static 'images/common/avatar.png' %}"
                                                class="img-fluid img-profile" alt="Avatar" height="250px">
                                            {% endif %}
                                            <div class="d-flex flex-column card-action">
                                                <h4>
                                                    {% if mentor.full_name %}
                                                    {{ mentor.full_name }}
                                                    {% else %}
                                                    {{ mentor }}
                                                    {% endif %}
                                                </h4>
                                                <a href="{% url 'accounts:mentor_bio' pk=mentor.pk %}"
                                                    class="btn btn-primary">{% trans "View Bio" %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MyCoaches" class="tabcontent">
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12">
                            <h2 class="card-header">{% trans "My Coaches" %}</h2>
                            {% for coaching in user.coaches.all|distinct %}
                            <div class="card" style="width: 20rem;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    {% if coaching.coach.avatar %}
                                    <div class="profile-image">
                                        <img src="{% if coaching.coach.avatar %}{{coaching.coach.avatar.url}}{% endif %}"
                                            class="img-rounded" alt="No Image">
                                    </div>
                                    {% else %}
                                    <img src="{% static 'images/common/avatar.png' %}" class="img-profile"
                                        alt="Avatar" height="200px" width="auto">

                                    {% endif %}
                                    <div class="d-flex flex-column card-action">
                                        <h4>{{ coaching.coach.full_name }}</h4>
                                        <a href="{% url 'accounts:sessions' pk=coaching.coach.pk %}"
                                            class="btn btn-primary">{% trans "View Sessions" %}</a>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>{% trans "You do not have coaches at the moment" %}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="Team" class="tabcontent">
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12">
                            <button class="btn btn-primary" id="show-form">{% trans "Invite" %}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-lg-2 p-0 col-sm-12">
                            <h2 class="card-header">{% trans "Your Team Members" %}</h2>
                            {% if user.organization_admin %}
                            {% for member in user.organization_admin.subscriptions.all %}
                            <p>
                                {% with user=member|get_profile %}
                                {{user.full_name}}
                                {% endwith %}
                            </p>
                            {% endfor %}
                            {% else %}
                            {% with members=user.email|get_organization_members %}
                            {% for member in members %}
                            <p>
                                {% with user=member|get_profile %}
                                {{user.full_name}}
                                {% endwith %}
                            </p>
                            {% empty %}
                            <p class="mt-5">{% trans "You don't have a team yet" %}</p>
                            {% endfor %}
                            {% endwith %}
                            {% endif %}
                        </div>

                    </div>
                </div>

                {% endblock %}
            </div>
        </div>

    </div>
</div>

<div class="popup">
    <div class="close-btn">&times;</div>
    <div>
        <form class="form" action="/organization-subscription/initiate/" method="post">
            {% csrf_token %}
            <h2>{% trans "Invite Collaborator" %}</h2>
            <div class="form-element">
                <label for="email">{% trans "Email" %}</label>
                <input type="email" id="email" placeholder="Enter email" name="subscriber_email">
            </div>
            <div class="row col">
                {% for error in form.subscriber_email.errors %}
                <div class="error">{{ error|escape }}</div>
                {% endfor %}
            </div>

            <div class="form-element">
                <button type="submit">{% trans "Send" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/accounts/dashboard.js' %}"></script>
{% endblock %}