{% extends 'base.html' %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/mentor_bio.css' %}" />
{% endblock %}
{% load i18n %}
{% block content %}
<div class="bio container">
    <div class="d-flex basic-info pb-5 mb-5">
        <img src="{{mentor.avatar.url}}" class="img">
        <div class="p-4">
            <h4>{{ mentor.full_name }}</h4>
            <p class="small-text">{{mentor.email}}</p>
            <a href="{{mentor.linked_in}}" target="_blank" class="py-2 px-5 mt-4 linkedin">
                <i class="fa-brands fa-linkedin-in"></i>
            </a> <br>
            <span class="d-flex align-items-center mt-4">
                <i class="fa-solid fa-user mr-3"></i>
                {{mentor.gender}}
            </span>
        </div>
    </div>
    <div class="more-info mb-5">
        <h4>Bio</h4>
        <p>{{mentor.bio}}</p>
    </div>
    <div class="actions d-flex">
        <a href="#" class="btn mr-4">Add Mentor</a>
        <a href="{% url 'accounts:dashboard' %}" class="btn">Back</a>
    </div>
</div>
{% endblock %}