{% extends 'base.html' %}
{% load account_extras %}
{% block body_id %}staff{% endblock %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/coach_bio.css' %}" />
{% endblock %}
{% load i18n %}
{% block content %}
<div class="container d-flex justify-content-center p-5" style="background: rgba(75, 99, 134, 0.9); border-radius: 5px;">
    <figure class="snip1515">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-white" style="padding: 0 !important">
                    {% if mentor.avatar %}
                    <div class="profile-image">
                        <img src="{% if coach.avatar %}{{coach.avatar.url}}{% endif %}" class="img" alt="No Avatar" height="150px" style="height:150px">
                    </div>
                    {% else %}
                    <img src="{% static 'images/common/avatar.png' %}" class="img-fluid img-profile" alt="Avatar" height="150px" style="height:150px">
                    {% endif %}
                    <h3>
                    {% if mentor.full_name %}
                    {{ mentor.full_name }}

                    {% endif %}
                    </h3>
                  <h4>{{coach.email}}</h4>
                  <h4>Bio</h4>
                  <p class="px-4">
                      {{coach.bio}}
                  </p>
                  <div class="icons d-flex align-items-center justify-content-center py-4">
                    <a href="{{coach.linked_in}}" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2x"></i>
                    </a>
                  </div>
                  <div class="card-buttons">
                    <div class="actions d-flex align-items-center justify-content-center">
                        {% if not coach|is_user_coach:user %}
                        <form action="{% url 'accounts:coaching' %}" method="post" class=" d-flex justify-content-center">
                            {% csrf_token %}
                            <button class="btn btn-primary m-4" style="width:100px" type="submit">{% trans "Add Coach" %}</button>
                            <input type="hidden" name="coach" value="{{coach.pk}}">
                            <input type="hidden" name="mentee" value="{{user.pk}}">
                        </form>
                        {% endif %}
                        <a href="{% url 'accounts:dashboard' %}" class="btn btn-primary" style="width:100px">{% trans "Back" %}</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </figure>

</div>

{% endblock %}