{% extends 'base.html' %}
{% load account_extras %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/coach_bio.css' %}" />
{% endblock %}
{% load i18n %}
{% block content %}
<div class="bio container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center">{% trans "Your sessions with" %} {{coach.full_name}}</h3>
        </div>
        <div class="card-body m-4">
            <ol style="list-style-type:decimal;" class="list-group list-group-flush">
                {% for session in user.sessions.all %}
                <li class="list-group-item list-group-item-action">
                    <span class="text-dark">{{session}} <a href="{% url 'accounts:session' pk=session.pk %}"><b>View
                                More <i class="fa-solid fa-angle-right"></i></b></a></span>
                </li>
                {% empty %}
                <p class="card-text"><b>{% trans "Your coach has not created any sessions yet" %}</b></p>
                {% endfor %}
            </ol>
            <div class="col mt-5">
                <a href="{% url 'accounts:dashboard' %}" class="btn btn-primary"
                    style="min-width: 100px;">{% trans "Back" %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}