{% extends 'base.html' %}
{% load account_extras %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/coach_bio.css' %}" />
{% endblock %}
{% load i18n %}
{% block content %}
<div class="bio container">
    <div class="row">
        <div class="col">
            <h3>Your sessions with {{coach.full_name}}</h3>
            <ul style="list-style-type:decimal;">
            {% for session in coach.events.all %}
                <li>
                    <span>{{session}} <a href="{% url 'accounts:session' pk=session.pk %}">View More</a></span>
                </li>
            {% empty %}
            <p><b>Your coach has not created any sessions yet</b></p>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <a href="{% url 'accounts:dashboard' %}" class="btn" style="display: inline-block;">Back</a>
        </div>
    </div>
</div>
{% endblock %}