{% extends 'base.html' %}
{% load account_extras %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/coach_bio.css' %}" />
{% endblock %}
{% load i18n %}
{% block content %}
<div class="bio container">
    <div class="row">
        <div class="col">
            <h3>{{session}}</h3>
            <div class="row">
                <ul>
                    <h4><b>Meetings</b></h4>
                    {% for meeting in session.meetings.all %}
                        <li><a href="{{meeting.link}}" target="_blank">{{meeting}}</a></li>
                    {% empty %}
                    <p>Your coach has not created any meetings yet</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <ul>
                    <h4><b>Materials</b></h4>
                    {% for material in session.materials.all %}
                        <li><a href="{{material.material.url}}" target="_blank">{{material}}</a></li>
                    {% empty %}
                    <p>Your coach has not created any meetings yet</p>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}