{% extends 'base.html' %}
{% load account_extras %}
{% block body_id %}staff{% endblock %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/coach_bio.css' %}" />
{% endblock %}
{% load i18n %}
{% block content %}
<div class="bio container">
    <h3 class="text-center">{{session}}</h3>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center">{% trans "Meetings" %}</h3>
          </div>
        <div class="card-body m-4">
          {% for meeting in session.meetings.all %}
                <li class="list-group-item"><a href="{{meeting.link}}" target="_blank" class="list-group-item list-group-item-action">{{meeting}}</a></li>
            {% empty %}
            <p class="card-text">{% trans "Your coach has not created any meetings yet" %}</p>
            {% endfor %}

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center">{% trans "Materials" %}</h3>
          </div>
        <div class="card-body m-4">
            {% for material in session.materials.all %}
            <li class="list-group-item"><a href="{{material.material.url}}" target="_blank" class="list-group-item list-group-item-action">{{material}}</a></li>
        {% empty %}
        <p class="card-text">{% trans "Your coach has not created any meetings yet" %}</p>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}