{% extends 'base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/admin_base.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-between align-items-start">
    <aside>
        <ul>
            <h2 class="pl-5 pt-5">My Actions</h2>
            {% if user.is_superuser %}
            <li class="pl-5 active"><a class="py-5 aside-link" href="/admin/advanced/invite/reviewer/">Invite Application Reviewers</a></li>
            <li class="pl-5"><a class="py-5 aside-link" href="/admin/advanced/view/staff/">View Staff</a></li>
            <li class="pl-5" id="applicationsDropdown">
                Applications <i class="fas fa-angle-down" id="menuIdentifier"></i>
                <ul class="hidden" id="hiddenApplicationActions">
                    <li class="px-4 py-2"><a href="/admin/advanced/view/applications/">All</a></li>
                    <li class="px-4 py-2"><a href="/admin/advanced/applications/in-review/">In Review</a></li>
                    <li class="px-4 py-2"><a href="/admin/advanced/applications/unassigned/">Unassigned</a></li>
                </ul>
            </li>
            <li class="pl-5"><a class="py-5 aside-link" href="/admin/">Basic Admin</a></li>
            {% else %}
            <p class="pl-5">None available</p>
            {% endif %}
        </ul>
    </aside>
    {% if user.is_superuser %}
    <section class="content p-5">
        {% block admin_content %}
        <h1>Hello Admin</h1>
        <p>Manage applications and more</p>
        {% endblock %}
    </section>
    {% else %}
    <section class="content p-5">
        <p>You don’t have permission to view or edit anything.</p>
    </section>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/pes_admin/admin_base.js' %}"></script>
{% endblock %}