{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body_id %}staff{% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/admin_base.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 site-bg-primary">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <h1 class="bi bi-person-fill text-white d-flex my-4 justify-content-center">Staff</h1>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="/accounts/dashboard/" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">{% trans "Dashboard" %}</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-person-plus text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">{% trans "Applications " %}</span><span class="bi bi-chevron-down small text-white"></span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">{% trans "All Applications" %}</span></a>
                          </li>
                          <li>
                              <a href="/accounts/reviewer/applications/" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">{% trans "Applications to review" %}</span></a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="{% url 'academy:coachees' %}" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">{% trans "My Clients" %}</span></a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-table text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">{% trans "Sessions " %}</span><span class="bi bi-chevron-down small text-white"></span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="{% url 'academy:sessions' %}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">{% trans "All Sessions" %}</span></a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">{% trans "Setup a Session" %}</span></a>
                          </li>
                      </ul>
                  </li>
                  
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">{{user.username}}</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li><a class="dropdown-item" href="{% url 'accounts:profile_edit' pk=user.pk %}">{% trans "Edit Profile" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'accounts:profile_view' %}">{% trans "Profile" %}</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="/accounts/logout/">{% trans "Sign out" %}</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
          <!-- main content -->
      <main class="container-fluid">
          <div class="row d-flex justify-content-center align-items-center h-100 p-5">
            <div class="col col-md-9 col-lg-8 col-xl-9">
              {% block admin_content %}
              <div class="card text-center" style="border-radius: 15px;">
                <div class="card-header">
                  <h5 class="card-title">{% trans "Hello" %} {{user.username}}</h5>
                </div>
                <div class="card-body p-4 table-responsive">
                  <h5 class="card-title">Quick stats</h5>
                  <!-- <div class="table-responsive"></div> -->
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">No of clients</th>
                          <th scope="col">Other roles</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{user.mentees.count}}</td>
                          <td>{% if user.is_reviewer %}Reviewer{% else %}None{% endif %}</td>
                        </tr>
                      </tbody>
                    </table>
                  <!-- </div> -->
                </div>
              </div>
              {% endblock %}
            </div>
          </div>
      </main>
    </div>
  </div>
</div>

{% endblock %}