{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/pes_admin/admin_base.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-between align-items-start">
    <aside class="">
        <ul>
            <li class="pl-5 active"><a class="py-5 aside-link" href="/accounts/dashboard/">{% trans "Home" %}</a></li>
            <li class="pl-5 active"><a class="py-5 aside-link" href="/accounts/reviewer/applications/">{% trans "Applications to Review" %}</a></li>
            <li class="pl-5 active"><a class="py-5 aside-link" href="/staff/coachees/">{% trans "My Coachees" %}</a></li>
            <li class="pl-5"><a class="py-5 aside-link" href="/accounts/logout/">{% trans "Logout" %}</a></li>
        </ul>
    </aside>
    <section class="content p-5" style="width: 100%;">
        {% block admin_content %}
        <h1>{% trans "Hello" %} {{user.username}}</h1>
        <p>{% trans "Manage your organization's applications and more" %}</p>
        {% endblock %}
    </section>
</div>
{% endblock %}