.container-wrapper {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 50px 100px;
    border-radius: 5px;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
}

.form-control {
    height: 40px !important;
    padding: 16px 8px !important;
}