.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 45%));
    gap: 5%;
    grid-auto-rows: 1fr;
    margin: 0 auto;
    justify-content: space-around;
}

.g-col {
    height: 100%;
}

.img-rounded {
    height: 100px;
    max-width: 100%;
    border-radius: 50%;
}

.card-action {
    flex-basis: 60%;
}

.navi ul {
    list-style-type: none;
}

.img-profile{
    border-radius: 8px;
    border: solid 1px silver;
}

#profileContainer {
    /* height: 100%; */
}

.card-header {
    font-weight: bold;
}
