.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.img-rounded {
    height: 100px;
    max-width: 100%;
    border-radius: 50%;
}

.card-action {
    flex-basis: 60%;
}

.navi ul {
    list-style-type: none;
}

.img-profile{
    border-radius: 8px;
    border: solid 1px silver;
}

#profileContainer {
    height: 100%;
}