{% extends "common/base.html" %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/account_activation_invalid.css' %}" />
{% endblock %}
{% block content %}
<div class="content">
  <div class="wrapper">
    <div class="message-container d-flex flex-column align-items-center">
      <h4>😬 oops activation failed!</h4>
      <div class="message">
        <h5>But don't worry, try one of these things</h5>
        <ul>
          <li><a href="/accounts/register/">Register</a> if you do not have an account.</li>
          <li><a href="/accounts/login/">Login</a> if you already have an account</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}