{% extends 'base.html' %}
{% block body_id %}agri-window{% endblock %}
{% load i18n %}
{% block content %}
<section class="container-fluid m-0 p-0">
  <div class="row pb-5 mb-3">
      <div class="col-lg-6 col-md-6 mb-4 mb-lg-0 mx-auto">
        <div class="card indigo">
          <div class="card-body">
              <h2 class="font-weight-bold mb-2 mt-5 text-center h1">Activate your account </h2>
              <br>
              <h4 class="text-center">
                {% blocktrans %}
                Thank you for registration.
                We have sent an activation email to your inbox.
                Click on the link to continue.
                {% endblocktrans %}
              </h4>
          </div>
        </div>
      </div>
  </div>
</section>

{% endblock %}