{% extends 'base.html' %}
{% load static %}
{% block body_id %}agri-window{% endblock %}
{% load i18n %}
{% block content %}

<div class="container login mt-5">
  <div class="row header">
    <img src="{% static 'images/agripitch-logo.png' %}" width="250" alt="Agripitch logo" class="img-fluid">
  </div>
  <h2 class="font-weight-bold mb-5 mt-5 text-center h1 login-header">Activate your account</h2>
  <p class="paragraph-site-primary text-center">
    {% blocktrans %}
    Thank you for activating your account
    You should receive an e mail with the activation link within 20 seconds
    If you do not find it in your inbox, kindly check your spam folder
    If you still don't see it, kindly email agri2022@privateequity-support.com
    {% endblocktrans %}
  </p>
</div>
{% endblock %}