{% extends 'base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/activation_email_sent.css' %}" />
{% endblock %}
{% block body_id %}agri-window{% endblock %}
{% load i18n %}
{% block content %}

<div class="container login mt-5">
  <div class="row header">
    <img src="{% static 'images/agripitch-logo.png' %}" width="250" alt="Agripitch logo" class="img-fluid">
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex flex-column align-items-center">
      <h2 class="font-weight-bold mb-5 mt-5 text-center login-header">{% trans "Activate Your Account" %}</h2>
      <h4 class="box m-0">
        {% trans "You should receive an e mail with the activation link within 20 seconds."%}
      </h4>
      <h4 class="box mt-0 mb-2">
        <strong>{% trans "However," %}</strong>
        {% trans "If you do not find it in your inbox, please do the following;" %}
      </h4>
      <ul class="box mb-4">
        <li>
          <strong>
            {% trans "Check your spam folder for an email from" %} <a
              href="mailto:agri2022@privateequity-support.com">agri2022@privateequity-support.com
            </a>. {% trans "It is common to have email delivery problems due to automated filters." %}
            {% trans "Mark the email as not spam and click the activation link." %}
          </strong>
        </li>
        <li>
          {% trans "If you still don't see it, kindly e mail" %} <a
            href="mailto:agri2022@privateequity-support.com">agri2022@privateequity-support.com
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
{% endblock %}