{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/common.css' %}" />
{% endblock %}
{% block body_id %}login{% endblock %}
{% block content %}

<form action="/accounts/login/?next={{request.GET.next}}" method="post" class="mt-5">
  {% csrf_token %}
  <div class="container login">
    <div class="row header">
      <div class="col-sm-12">
        <img src="{% static 'images/agripitch-logo.png' %}" width="250" alt="Agripitch logo" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex align-items-center justify-content-center">
          <h2 class="font-weight-bold mb-5 mt-5 mr-2 text-center h1 login-header">
            {% trans "Login" %}</h2>
          <i class="fa fa-sign-in fa-2x ml-4 postfix" style="color: #14A562;"></i>

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="error-container">
          {% if form.errors %}
          <p class="error"><strong>{% trans "Please correct the errors in the form below." %}</strong></p>
          {% endif %}
          {% for error in form.non_field_errors %}
          <p class="error">{{ error|escape }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="md-form">
          <i class="fa fa-user prefix mr-2 white-text"></i><label for="id_username">{% trans "Username" %}</label>
          <input type="text" id="id_username" class="form-control" placeholder="{% trans 'Username' %}" name="username"
            required>
          <div class="error-container">
            {% for error in form.username.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix mr-2 white-text"></i><label
            for="defaultForm-pass1">{% trans "Enter Password" %}</label>
          <input type="password" id="psw" name="password" placeholder="{% trans 'Enter Password' %}"
            class="form-control">

          <div class="error-container">
            {% for error in form.password.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn registerbtn">{% trans "Login" %}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label>
          <input type="checkbox" checked="checked" name="remember_me"> {% trans "Remember me" %}
        </label>
        <p>{% trans "Don't have an account yet" %}? <a href="{% url 'accounts:register' %}"
            style="color: #455D8D; font-weight: 600;">{% trans "Sign Up" %}</a>.</p>
        <p class="psw">{% trans "Forgot password" %}? <a href="{% url 'accounts:password_reset_request' %}"
            style="color: #455D8D; font-weight: 600;">{% trans "Reset" %}?</a></p>
      </div>
    </div>
  </div>
</form>

{% endblock %}