{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<form action="/accounts/register/" method="post">
  {% csrf_token %}
    <div class="container rgst">
      <h1>{% trans "Register" %}</h1>
      {% if form.errors %}
      <span class="d-inline-flex align-items-center">
        <i class="fas fa-info error mr-2"></i>
        <p class="error m-0">{% trans "Please correct the errors in the form below" %}</p>
      </span>
      {% endif %}
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="{% trans "Username" %}" name="username" required>
      </div>
      <div class="error-container">
        {% for error in form.username.errors %}
        <div class="error">{{ error|escape }}</div>
        {% endfor %}
      </div>

      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" placeholder="Email" name="email" required>
      </div>
      <div class="error-container">
          {% for error in form.email.errors %}
          <div class="error">{{ error|escape }}</div>
          {% endfor %}
      </div>
      <div class="input-container">
        <i class="fa-solid fa-crosshairs icon"></i>
        <select name="is_applying_for_a_call_to_action" class="input-field" required>
          <option selected value="">{% trans "Please select the reason for registration" %}</option>
          <option value="True">{% trans "Applying for call to action" %}</option>
          <option value="False">{% trans "Other" %}</option>
        </select>
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="{% trans "Enter Password" %}" name="password1" id="psw" required>
      </div>
      <div class="error-container">
        {% for error in form.password1.errors %}
        <div class="error">{{ error|escape }}</div>
        {% endfor %}
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="{% trans "Repeat Password" %}" name="password2" id="psw-repeat" required>
      </div>
      <div class="input-container">
        {% for error in form.password2.errors %}
        <div class="error">{{ error|escape }}</div>
        {% endfor %}
      </div>
      <details>
        <summary>{% trans "Password Policy" %}</summary>
            <ul>
                <li> {% trans "Your password must contain at least 8 characters." %}</li>
                <li> {% trans "Your password should not be entirely numeric." %}</li>
                <li> {% trans "Your password should have a special character." %}</li>
                <li> {% trans "Your password should have at least one number." %}</li>
                <li> {% trans "Your password should not be too similar to your personal details eg username." %}</li>
                <li> {% trans "Your passwords should match." %}</li>
            </ul>
    </details>

      <hr>
      <p>{% trans "By creating an account you agree to our" %} <a href="#">{% trans "Terms & Privacy" %}</a>.</p>

      <button type="submit" class="registerbtn"> {% trans "Register" %}</button>

      <div class="signin">
        <p>{% trans "Already have an account?" %} <a href="{% url 'accounts:login' %}">{% trans "Sign in" %}</a>.</p>
      </div>
    </div>


  </form>


{% endblock %}