{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body_id %}agri-window{% endblock %}
{% block content %}

  <form action="/accounts/register/" method="post">
  {% csrf_token %}
      <div class="row pb-5 mb-3">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 mx-auto">
          <div class="card form-white">
            <div class="card-body">
                <h2 class="font-weight-bold mb-5 mt-5 text-center h1 text-white"><i class="fa fa-user-plus mr-3"></i>{% trans "Register" %}</h2>
                <br>
                <!--Body-->
                <div class="error-container">
                  {% if form.errors %}
                  <span class="d-inline-flex align-items-center">
                    <i class="fas fa-info error mr-2"></i>
                    <p class="error m-0 text-white">{% trans "Please correct the errors in the form below" %}</p>
                  </span>
                  {% endif %}
                </div>

                <div class="md-form">
                    <i class="fa fa-user prefix white-text"></i>
                    <input type="text" id="defaultForm-email1" class="form-control" placeholder="{% trans "Username" %}" name="username" required>
                    <label for="defaultForm-email1">Your Username</label>
                    <div class="error-container">
                      {% for error in form.username.errors %}
                      <p class="error text-white">{{ error|escape }}</p>
                      {% endfor %}
                    </div>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix white-text"></i>
                    <input type="email" id="defaultForm-email1" class="form-control" placeholder="Email" name="email" required>
                    <label for="defaultForm-email1">Your Email</label>
                    <div class="error-container">
                      {% for error in form.email.errors %}
                      <p class="error text-white">{{ error|escape }}</p>
                      {% endfor %}
                    </div>
                </div>
                <div class="input-container">
                  <select name="is_applying_for_a_call_to_action" class="input-field text-dark" required>
                    <option selected value="">{% trans "Please select the reason for registration" %}</option>
                    <option value="True">{% trans "Applying for call to action" %}</option>
                    <option value="False">{% trans "Other" %}</option>
                  </select>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix white-text"></i>
                    <input type="password" id="psw" name="password1" placeholder="{% trans "Enter Password" %}" class="form-control">
                    <label for="defaultForm-pass1">Your password</label>
                    <div class="error-container">
                      {% for error in form.password1.errors %}
                      <p class="error text-white">{{ error|escape }}</p>
                      {% endfor %}
                  </div>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix white-text"></i>
                    <input type="password" id="psw-repeat" name="password2" placeholder="{% trans "Repeat Password" %}" class="form-control">
                    <label for="defaultForm-pass1">{% trans "Repeat Password" %}</label>
                    <div class="error-container">
                      {% for error in form.password2.errors %}
                      <p class="error text-white">{{ error|escape }}</p>
                      {% endfor %}
                  </div>
                  <details>
                        <ul>
                            <li> {% trans "Your password must contain at least 8 characters." %}</li>
                            <li> {% trans "Your password should not be entirely numeric." %}</li>
                            <li> {% trans "Your password should have a special character." %}</li>
                            <li> {% trans "Your password should have at least one number." %}</li>
                            <li> {% trans "Your password should not be too similar to your personal details eg username." %}</li>
                            <li> {% trans "Your passwords should match." %}</li>
                        </ul>
                </details>
                <hr>
                <p>{% trans "By creating an account you agree to our" %}<a href="#" style="color: #00FFFF;"> {% trans "Terms & Privacy" %}</a>.</p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn registerbtn">{% trans "Register" %}</button>
                </div>
          
                <div class="signin">
                  <p style="color: #a91917;">{% trans "Already have an account?" %} <a href="{% url 'accounts:login' %}" style="color: #4b6386;">{% trans "Sign in" %}</a>.</p>
          
{% endblock %}