{% extends 'base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/registration.css' %}" />
{% endblock %}
{% load i18n %}
{% block body_id %}register{% endblock %}
{% block content %}
<div id="htmx-parent" class="htmx-parent">
  <form action="{% url 'accounts:reviewer_registration' %}" method="post" class="auth-form" hx-post="{% url 'accounts:reviewer_registration' %}"
    hx-swap="innerHTML" id="registrationForm" hx-target="#htmx-parent" hx-indicator="#spinner">
    {% csrf_token %}

    <div class="container container-wrapper mb-2">
      <div class="row header">
        <img src="{% static 'images/agripitch-logo.png' %}" width="250" alt="Agripitch logo" class="img-fluid">
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="font-weight-bold mb-5 mt-5 mr-2 text-center h1 login-header">
          {% trans "Staff Registration" %}</h2>
        <i class="fa fa-user-plus fa-2x ml-4 postfix" style="color: #14A562;"></i>

      </div>

      <!--Body-->
      <div class="error-container">
        {% if form.errors %}
        <div class="row ">
          <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-center">
              <i class="fas fa-info-circle error mr-2 postfix"></i>
              <p class="error m-0">{% trans "Please correct the errors in the form below" %}</p>
            </div>

          </div>
        </div>
        {% endif %}
      </div>

      <div class="md-form row">
        <div class="col-sm-12">
          <i class="fa fa-user prefix white-text mr-2"></i> <label for="username">{% trans "Username" %}</label>
          {% if request.session.registration_details.email %}
          <input value="{{request.session.registration_details.username}}" type="text" id="username"
            class="form-control" placeholder="{% trans 'Username' %}" name="username" required>
          {% else %}
          <input type="text" id="username" class="form-control" placeholder="{% trans 'Username' %}" name="username"
            required>

          {% endif %}


          <div class="error-container">
            {% for error in form.username.errors %}
            <p class="error e">{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="md-form row">
        <div class="col-sm-12">
          <i class="fa fa-envelope prefix white-text mr-2"></i> <label for="email">{% trans "Email" %}</label>
          {% if request.session.registration_details.email %}
          <input type="email" id="email" class="form-control" placeholder="Email" name="email" required
            value="{{request.session.registration_details.email}}">
          {% else %}
          <input type="email" id="email" class="form-control" placeholder="Email" name="email" required>
          {% endif %}
          <div class="error-container">
            {% for error in form.email.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <br>

      <div class="md-form row">
        <div class="col-sm-12">
          <i class="fa fa-lock prefix white-text mr-2"></i><label for="id_password">{% trans "Password" %}</label>
          <input type="password" id="id_password" name="password1" placeholder="{% trans 'Enter Password' %}"
            class="form-control">

          <div class="error-container">
            {% for error in form.password1.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
          </div>
          <details class="my-4">
            <summary id="detailsIconWrapper">
              <strong><i class="fa-solid fa-angle-right"
                  id="detailsIcon"></i>{% trans "Password Requirements" %}</strong>
            </summary>
            <ul>
              <li> {% trans "password must contain at least 8 characters." %}</li>
              <li> {% trans "password should not be entirely numeric." %}</li>
              <li> {% trans "password should have a special character." %}</li>
              <li> {% trans "password should have at least one number." %}</li>
              <li> {% trans "password should not be too similar to your personal details eg username." %}</li>
              <li> {% trans "passwords should match." %}</li>
            </ul>
          </details>
        </div>

      </div>
      <div class="md-form row mt-4">
        <div class="col-sm-12">
          <i class="fa fa-lock prefix white-text mr-2"></i><label
            for="id_password_two">{% trans "Repeat Password" %}</label>
          <input type="password" id="id_password_two" name="password2" placeholder="{% trans 'Repeat Password' %}"
            class="form-control">

          <div class="error-container">
            {% for error in form.password2.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
          </div>
          <hr>

        </div>

      </div>
      <div class="md-form row mt-4">
        <div class="col-sm-12">
          <label>
            <input type="checkbox" required name="terms"> {% trans "By creating an account you agree to our" %}<a
              href="{% url 'application:privacy' %}" style="color: #455D8D;">
              {% trans "Terms & Privacy" %}</a>.
          </label>
          {% for error in form.terms.errors %}
          <p class="error e">{{ error|escape }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="md-form row mt-4">
        <div class="col-sm-12">
          {{form.captcha}}
          {% for error in form.captcha.errors %}
          <p class="error e">{{ error|escape }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="md-form row mt-4">
        <div class="col-sm-12">
          <div class="text-center">
            <button type="submit" class="btn registerbtn">{% trans "Register" %}</button>
          </div>
        </div>
      </div>
      <div class="signin">
        <p>{% trans "Already have an account?" %} <a href="{% url 'accounts:login' %}"
            style="color: #455D8D;">{% trans "Sign in" %}</a>.</p>
      </div>
    </div>
    <input type="hidden" name="is_applying_for_a_call_to_action" value="False">
  </form>
  <div class="htmx-indicator" id="spinner">
    <img src="{% static 'common/images/puff.svg' %}" height="80" width="80" alt="loader" />
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/accounts/common.js' %}"></script>
{% endblock %}