{% extends 'base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/registration.css' %}" />
{% endblock %}
{% load i18n %}
{% block body_id %}register{% endblock %}
{% block content %}
<section class="container-fluid full-height-container">
  <div class="row h-100">
    <div class="col-sm-6 col-md-push-3 container-wrapper d-flex justify-content-center pt-4">
        <h2 class="styled-header">Registration Closed</h2>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/accounts/common.js' %}"></script>
{% endblock %}