.summary {
    border-bottom: 0.2em solid #B8B8B8;
}
.screen-1 {
    background-color: #F0F0F0;
}

.dark-bg {
    background-color: #F0F0F0;
}

.screen-2 {
    background-color: #F8F8F8;
}


.action-color {
    color: #1976d2;
}

.custom-select-lg {
    height: calc(1.5em + 1rem + 10px) !important;
    font-size: 1.5rem;
}

.card {
    background-color: inherit;
}

.form-step {
    border: none;
    border-radius: none;
    padding: unset;
}

a.btn {
    font-size: 1.6rem;
    font-weight: bold;
}