.summary {
    border-bottom: 0.2em solid #B8B8B8;
}
.screen-1 {
    background-color: #F5F5F5;
}

.screen-2 {
    background-color: #F8F8F8;
}

.action-color {
    color: #1976d2;
}

.custom-select-lg {
    height: calc(1.5em + 1rem + 10px) !important;
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    /* padding-left: 1rem; */
    font-size: 1.5rem;
}