{% load static %}
{% load i18n %}
{% load admin_extras %}

<div class="container htmx-parent" id="htmx-parent">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between">
                <h4 class="font-weight-bold">All Applications</h4>
                <div class="d-flex">
                    <form method="GET">
                        {%csrf_token %}
                        <select class="custom-select" id="id_stage" name="stage"
                            hx-get="{% url 'admin:all_applications' %}" hx-swap="innerHTML" hx-target="#htmx-parent"
                            hx-indicator="#spinner">
                            <option selected>Filter by Stage</option>
                            <option value="step_one" {% if request.session.sort == 'step_one' %}selected{% endif %}>
                                Application Data Not Submitted
                            </option>
                            <option value="step_two" {% if request.session.sort == 'step_two' %}selected{% endif %}>Data
                                Submitted
                            </option>
                            <option value="step_three" {% if request.session.sort == 'step_three' %}selected{% endif %}>
                                Eligibility Verification
                            </option>
                            <option value="step_four" {% if request.session.sort == 'step_four' %}selected{% endif %}>
                                Document Verification
                            </option>
                            <option value="step_five" {% if request.session.sort == 'step_five' %}selected{% endif %}>
                                Long List
                            </option>
                            <option value="step_six" {% if request.session.sort == 'step_six' %}selected{% endif %}>
                                Short List
                            </option>
                            <option value="step_seven" {% if request.session.sort == 'step_seven' %}selected{% endif %}>
                                Verdict Passed
                            </option>
                        </select>
                    </form>
                    {% if request.session.sort %}
                    <form method="get">
                        <button class="btn btn-default" type="button" hx-get="{% url 'admin:clear_sort' %}"
                            hx-trigger="click">
                            <i class="fa-solid fa-xmark" title="clear sort"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% if not form.errors %}
            <p class="m-0">Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
            {% endif %}
            <p class="small">
                {% with page_obj|length as records %}
                {{records}} record{{ records|pluralize }} of {{paginator.count }}
                {% endwith %}
            </p>
            <p>Showing search results for: {{request.session.search}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'admin:all_applications' %}" method="get">
                {% csrf_token %}
                <div class="d-flex align-items-center search">
                    <input value="{% if request.session.search %}{{request.session.search}}{% endif %}" type="text"
                        id="id_search" class="form-control" placeholder="{% trans 'Search' %}" name="search" required
                        hx-post="{% url 'admin:all_applications' %}" hx-trigger="keyup changed delay:1s"
                        hx-swap="innerHTML" hx-target="#htmx-parent" hx-indicator="#spinner">
                    <button type="submit" class="btn btn-default"><i class="fa-solid fa-magnifying-glass"></i></button>
                    {% if request.session.search %}
                    <form method="get">
                        <button class="btn btn-default" type="button" hx-get="{% url 'admin:clear_search' %}"
                            hx-trigger="click">
                            <i class="fa-solid fa-xmark" title="clear search"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
                {% for error in form.search.errors %}
                <p class="error">{{ error|escape }}</p>
                {% endfor %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive card-admin">
                {% if request.session.sort == 'step_six' %}
                <table id="admin-dashboard" class="table table-striped text-white">
                  <thead>
                    <tr>
                      <th scope="col">{% trans "Short ID" %}</th>
                      <th scope="col">{% trans "Owner" %}</th>
                      <th scope="col">{% trans "Stage" %}</th>
                      <th scope="col">{% trans "Language" %}</th>
                      <th scope="col">{% trans "Entity Type" %}</th>
                      <th scope="col">{% trans "Average Marks" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for application in applications %}
                    <tr>
                      <th scope="row">{{application.application_creator}}</th>
                      <td>{{application.application_creator.email}}</td>
                      <td>{{application.get_stage_display}}</td>
                      <td>{{application|get_user_language}}</td>
                      <td>{{application|get_entity_type}}</td>
                      <td>{{application.average_marks}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <table id="admin-dashboard" class="table table-striped text-white">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Creator</th>
                      <th scope="col">Stage</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for application in applications %}
                    <tr>
                      <th scope="row">{{application.special_id}}</th>
                      <td>{{application.application_creator.email}}</td>
                      <td>{{application.get_stage_display}}</td>

                      <td>
                        <a href="{% url 'admin:admin_application_view' slug=application.slug %}"
                          class="text-white link flex align-items-center" target="_blank">Open <i
                            class="fa-solid fa-angles-right"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
                <div class="htmx-indicator" id="spinner">
                    <img src="{% static 'common/images/puff.svg' %}" height="80" width="80" alt="loader" />
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    {% if not form.errors %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</div>