{% extends 'staff_base.html' %}
{% block styles %}
{{ block.super }}
{% endblock %}
{% load i18n %}
{% block admin_content %}
<div class="row">
    <div class="col-md-6">
        <div class="row">
        <h2 class="mb-5">Set up a meeting</h2>
        <a class="btn mb-5" href="https://calendly.com/event_types/user/me" target="_blank">Set up event on calendly</a>
        </div>
        <form action="{% url 'staff:meeting_create' pk=session.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="session" value="{{session.pk}}">
            <div class="row">

                <input class="input-field" type="url" name="link" id="id_link" placeholder="Paste Link to meeting" required>
                {% for error in form.link.errors %}
                    <p class="error">{{ error|escape }}</p>
                {% endfor %}
            </div>
            <div class="row my-5">
            <button type="submit" class="btn">Add Meeting Link</button>
            </div>
        </form>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
{% endblock %}