{% extends 'staff_base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/academy/academy.css' %}">
{% endblock %}
{% block admin_content %}
<div class="row">
    <div class="col-sm-12">
        <div class="site-bg-primary p-4 text-white mb-4">
            <h2 class="title">Set up a meeting</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 mt-5">
        <div class="card-inset info-card">
            <a class="btn btn-primary btn-enhanced p-4" href="https://calendly.com/event_types/user/me"
                target="_blank">Set up event on
                calendly</a>
            <p style="font-style: italic; font-size: 1.4rem;" class="mt-2"><b>NB: Please copy the meeting link to add it
                    to the database</b></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-5">
        <div class="card-inset info-card">
            <form action="{% url 'academy:meeting_create' pk=session.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="session" value="{{session.pk}}">
                <div class="row">
                    <input class="form-control" type="url" name="link" id="id_link" placeholder="Paste Link to meeting"
                        required>
                    {% for error in form.link.errors %}
                    <p class="error">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-5 btn-enhanced p-4">Add Meeting Link to Database</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ block.super }}
{% endblock %}