{% extends 'staff_base.html' %}
{% load i18n %}
{% block admin_content %}
<div class="row pb-4">
    <div class="col-sm-12">
        <a href="{% url 'academy:session_create' %}" class="btn btn-primary">Setup a Session</a>
    </div>
</div>

<div class="card text-center" style="border-radius: 15px;">
    <div class="card-body p-4">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">{% trans "Session ID" %}</th>
                        <th scope="col">{% trans "Client" %}</th>
                        <th scope="col">{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in user.events.all %}
                    <tr>
                        <td>{{event.special_id}}</td>
                        <td>{{event.coachee.email}}</td>
                        <td>
                            <a href="{% url 'academy:session_details' pk=event.pk %}" class="btn btn-primary">View
                                More</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}