{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/accounts/form_inputs.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-between">
            <h3 class="form_name">Application for {{application.call_to_action.tagline}}</h3>
            <a href="{% url 'application:application_pdf' %}" target="_blank" class="btn" download>Download Application Form</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 app_img">
            <a ><img src="{% static 'images/clientlog.JPG' %}"></a>
        </div>
        <div class="col-md-8">
        <form class="form"  name="form" id="myForm" method="post" action="/applications/{{application.call_to_action.slug}}/">
        {% csrf_token %}
        <!-- progress bar -->
            <div class="progressbar">
                <div class="progress" id="progress"></div>
                <div class="progress-step progress-step-active" data-title="{% trans 'Personal Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Personal Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Personal Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Business Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Business Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Business Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Business Info' %}"></div>
                <div class="progress-step" data-title="{% trans 'Business Info' %}"></div>
            </div>
            <!-- steps -->
            <!-- step1 -->
            <strong><h5 class="text-center"><em> {% trans "NB: Check and Fill all the Fields before you click Next." %}</em></h5></strong>
            <strong><h4 class="text-center"> {% trans "Call For Application" %} </h4></strong>
            <div class="form-step form-step-active step-1-form tab" >
                <strong><p>{{ form.preferred_language.label }}</p></strong>
                <div class="form-check">
                    {{ form.preferred_language }}
                    {% for error in form.preferred_language.errors %}
                    <div class="error">
                        {{error|escape}}
                    </div>
                    {% endfor %}
                </div>
                <div class="input-group">
                    <strong><label for="name">{{form.full_name.label}}</label></strong>
                    {{ form.full_name }}
                    {% for error in form.full_name.errors %}
                    <div class="error">
                        {{error|escape}}
                    </div>
                    {% endfor %}
                </div>
                <div class="">
                    <a href="#" class="btn btn-next width-50 ml-auto " id="check" data-title="step-1-form">{% trans "Next" %}</a>
                </div>
            </div>
            <!-- step2 -->
            <div class="form-step  step-2-form tab">
            <span class="error-msg" id="error-step-2-form"></span>

                <p class="required" id="step-2-form-age"> {{ form.age.label }}  </p>
                 {{ form.age }}
                {% for error in form.age.errors %}
                <div class="error">
                    {{error|escape}}
                </div>
                {% endfor %}
                <div class="btns-group">
                    <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                    <a href="#" class="btn btn-next" data-title="step-2-form" >{% trans "Next" %}</a>
                </div>
            </div>

            <!-- step 3  -->
            <div class="form-step  step-3-form tab">
            <span class="error-msg" id="error-step-3-form"></span>

                <div class="form-check">
                     <p class="required" id="step-3-form-gender">{{ form.gender.label }}</p>
                    {{ form.gender }}
                    {% for error in form.gender.errors %}
                    <div class="error">
                        {{error|escape}}
                    </div>
                    {% endfor %}
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                    <a href="#" class="btn btn-next" data-title="step-3-form" >{% trans "Next" %}</a>
                </div>
            </div>
            <!-- step 4 -->
            <div class="form-step step-4-form">
            <span class="error-msg" id="error-step-4-form"></span>
                <div>
                    <strong>
                        <label for="Your answer">
                        {% trans  "Organization name and social media presence. (Include any links to your organization_name website and/or social media handles where applicable (LinkedIn, Facebook, Instagram, Twitter, WhatsApp Business accounts))" %}
                        </label>
                    </strong>
                    <div class="row">
                        {{ form.organization_name }}
                        {% for error in form.organization_name.errors %}
                        <div class="error">
                            {{error|escape}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {{ form.facebook_link }}
                        {% for error in form.facebook_link.errors %}
                        <div class="error">
                            {{error|escape}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {{ form.twitter_link }}
                        {% for error in form.twitter_link.errors %}
                        <div class="error">
                            {{error|escape}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {{ form.instagram_link }}
                        {% for error in form.twitter_link.errors %}
                        <div class="error">
                            {{error|escape}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {{ form.linkedin_link }}
                        {% for error in form.twitter_link.errors %}
                        <div class="error">
                            {{error|escape}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {{ form.whatsapp_business_link }}
                        {% for error in form.whatsapp_business_link.errors %}
                        <div class="error">
                            {{error|escape}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <strong><p>{% trans "Kindly indicate which part of the value chain you operate in. Kindly select only 1 option which most applies *" %} </p></strong>
                <div class="form-check">
                    {{ form.value_chain }}
                    {% for error in form.value_chain.errors %}
                    <div class="error">
                        {{error|escape}}
                    </div>
                    {% endfor %}
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                    <a href="#" class="btn btn-next" data-title="step-4-form" >{% trans "Next" %}</a>
                </div>
            </div>
            <!-- step 5 -->
            <div class="form-step step-5-form">
            <span class="error-msg" id="error-step-5-form"></span>

                <strong>
                    <p>
                        {% trans "How long has the business been in formal existence for? * Kindly select one option. Formal existence means from when the company was registered and started operating." %}
                    </p>
                </strong>
                <div class="form-check">
                    {{ form.existence_period }}
                    {% for error in form.existence_period.errors %}
                    <div class="error">
                        {{error|escape}}
                    </div>
                    {% endfor %}
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                    <a href="#" class="btn btn-next"  data-title="step-5-form" >{% trans "Next" %}</a>
                </div>
            </div>
        <!-- step 6 -->
        <div class="form-step step-6-form">
            <span class="error-msg" id="error-step-6-form"></span>

            <strong>
                <p>{% trans "Which one sentence best describes the stage where your business is at? * Kindly select one option only that best describes where you are at in the business development stage. MVP means minimum viable product" %}
                </p>
            </strong>
            <div class="form-check">
                    {{ form.stage }}
                    {% for error in form.stage.errors %}
                    <div class="error">
                        {{error|escape}}
                    </div>
                    {% endfor %}
                </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                <a href="#" class="btn btn-next" data-title="step-6-form" >{% trans "Next" %}</a>
            </div>
        </div>
        <!-- step 7 -->
        <div class="mil form-step">
            <span class="error-msg" id="error-step-7-form"></span>

            <strong>
                {% if form.milestones.errors %}
                <p class="error">
                    {% trans "What are the 3 key business milestones to be achieved in the short term (1-2 years)? * Kindly choose the top 3 milestones that are your priorities over the next 1 to 2 years." %}
                </p>
                {% else %}
                <p>
                    {% trans "What are the 3 key business milestones to be achieved in the short term (1-2 years)? * Kindly choose the top 3 milestones that are your priorities over the next 1 to 2 years." %}
                </p>
                {% endif %}
            </strong>
            <div class=" form-check">
                {{ form.milestones }}
                {% for error in form.milestones.errors %}
                <div class="error">
                    {{error|escape}}
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="input-group">
                <strong>
                    <label for="Your answer">
                        {% trans "How has the COVID 19 pandemic affected your business? Kindly mention 2 key aspects * Give a short description on how the COVID Pandemic has impacted your business. (negative and/or positive effect)" %}
                    </label>
                </strong>
                {{ form.impact }}
                {% for error in form.impact.errors %}
                <div class="error">
                    {{error|escape}}
                </div>
                {% endfor %}
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                <a href="#" class="btn btn-next" data-title="step-6-form" >{% trans "Next" %}</a>
            </div>
        </div>
        <!-- step 8 -->
        <div class="form-step step-8-form">
            <span class="error-msg" id="error-step-8-form"></span>

            <strong>
                <p>
                  {% trans "Kindly upload the relevant documents as described below." %}
                </p>
            </strong>
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <p>{% trans "KRA PIN" %}</p>
                        <input type="file" name="kra_pin" onchange="saveDocument(event, 'KRA PIN', '{{application.pk}}')">
                        <p id="kra_pin_message" class=""></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{% trans "ID Card" %}</p>
                        <input type="file" name="id_card" onchange="saveDocument(event, 'ID Card', '{{application.pk}}')">
                        <p id="id_card_message" class=""></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{% trans "Work Licence" %}</p>
                        <input type="file" name="licence" onchange="saveDocument(event, 'Licence', '{{application.pk}}')">
                        <p id="licence_message" class=""></p>
                    </div>
                </div>
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-prev ">{% trans "Previous" %}</a>
                    <input type="submit" value="Submit" id="check" class="btn">
                </div>
        </div>

        </form>
</div>
</div>
</div>
{% endblock%}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/application/save_draft.js' %}"></script>
<script src="{% static 'js/application/save_document.js' %}"></script>
{% endblock %}
