{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load application_extras %}
{% load countries %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/agripitch/application_form.css' %}">
<link rel="stylesheet" href="{% static 'css/eligibility/eligibility.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid summary">
    <div class="row mb-2 sticky-top">
        <div class="col-md-6 px-5">
            <h2>{% trans "Application Summary" %}</h2>
            <h4><b>{% trans "Applicant" %} </b>{{application.application_creator}}</h4>
            <h4><b>{% trans "Organization Name" %} </b>{{application.application_creator.business}}</h4>
            <h4><b>{% trans "Application ID" %} </b>{{application.special_id}}</h4>
            <h4><b>{% trans "Stage" %} </b>{{application.get_stage_display}}</h4>
            <h4><b>{% trans "Date of Application" %} </b>{{application.created}}</h4>
        </div>
        <div class="col-md-6 px-5 dark-bg">
            <div class="row">
                <div class="col-md-12 pt-4">
                    <div class="row">
                        <div class="col-md-6 offset-md-5 d-flex flex-column">
                            <a href="/eligibility/{{application.slug}}/done/"
                                class="btn btn-primary py-4 mb-5">{% trans "Mark Review as Complete" %}</a>
                            <a href="/accounts/dashboard/" class="btn btn-primary py-4">{% trans "My Dashboard" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row m-0 p-0 main-row bg-white">
        <div class="col-md-12">
            <div>
                <div id="multi-step-form-container">
                    <!-- Form Steps / Progress Bar -->
                    <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                        <li class="form-stepper-active text-center form-stepper-list" step="1">
                            <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="form-stepper-circle">
                                    <span>1</span>
                                </span>
                                <div class="label">{{criteria|first}}</div>
                            </a>
                        </li>
                        {% for item in criteria|slice:"1:" %}
                        <li class="form-stepper-unfinished text-center form-stepper-list"
                            step="{{forloop.counter|add:"1"}}">
                            <a class="mr-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="form-stepper-circle">
                                    <span>{{forloop.counter|add:"1"}}</span>
                                </span>
                                <div class="label">{{item}}</div>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="form-stepper-unfinished text-center form-stepper-list"
                            step="{% with criteria|length as length %}{{ length|add:"1" }}{% endwith %}">
                            <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="form-stepper-circle">
                                    <span>{% with criteria|length as length %}{{ length|add:"1" }}{% endwith %}</span>
                                </span>
                                <div class="label">Finish</div>
                            </a>
                        </li>
                    </ul>
                    <section>
                        <!-- Step 1 Content -->
                        <section id="step-1" class="form-step">
                            <div class="row">
                                <div class="col-md-6 p-5 screen-1">
                                    <h3><b>{% trans "Applicant's Responses" %}</b></h3>
                                </div>
                                <div class="col-md-6 p-5 screen-2">
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1">
                                            <h3><b>{% trans "Scoring" %}</b></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% with criteria|first as first_criteria  %}
                            {% for sub_criteria in first_criteria.sub_criteria.all %}
                            <div class="row mt-3">
                                <div class="col-md-6 p-5 screen-1">
                                    <p><b>{{sub_criteria}}</b></p>
                                    <p>
                                        {% with application|get_applicant_response:sub_criteria as response %}
                                        {% if response.type == 'file' %}
                                        <a href="{{response.item.document.url}}"
                                            target="_blank">{{response.item.name}}</a>
                                        {% elif response.type == 'countryfield' %}
                                        {% get_country response.item as country %}
                                        {{ country.name }}
                                        {% else %}
                                        {{ response.item }}
                                        {% endif %}
                                        {% endwith %}
                                    </p>
                                </div>
                                <div class="col-md-6 p-5 screen-2 odd">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-1">
                                            <details class="mb-5">
                                                <summary class="text-bg-secondary flex action-color">
                                                    <i class="fa-solid fa-angle-right mr-2"></i>
                                                    {% trans "Ask Applicant for more details about " %}
                                                    <b><i>{{sub_criteria}}</i></b>
                                                </summary>
                                                <h5><b>{% trans "Previous prompts for this response" %}</b></h5>
                                                <ul>
                                                    {% for prompt in application.prompts.all %}
                                                    {% if prompt.question_position == 1 %}
                                                    <li>{{ prompt.message }}</li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% if not application.prompts.all|check_in_queryset:1 %}
                                                    <p>{% trans "There are no prompts here" %}</p>
                                                    {% endif %}
                                                </ul>
                                                <form action="/applications/prompt/" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="id_subject">{% trans "Subject" %}</label>
                                                        <input type="text" class="form-control" name="subject" required>
                                                        {% for error in form.subject.errors %}
                                                        <p class="error">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="id_message">{% trans "Message" %}</label>
                                                        <textarea class="form-control" name="message" rows="3"
                                                            required></textarea>
                                                        {% for error in form.message.errors %}
                                                        <p class="error">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" name="application" value="{{application.pk}}">
                                                    <input type="hidden" name="question_position" value="1">
                                                    <button type="submit"
                                                        class="btn btn-primary">{% trans "Send Query" %}</button>
                                                </form>
                                            </details>
                                            <form action="{% url 'application:score' slug=application.slug %}"
                                                method="post">
                                                {% csrf_token %}
                                                <div class="d-flex align-items-center">
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        required>
                                                        <option {% if 1 in scores %}{% else %} selected
                                                            disabled{% endif %} value="">
                                                            {% trans "Prompt Score" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 1 %}selected{% else %}{% endif %}
                                                            value="1">
                                                            {% trans "Strongly Disagree" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 2 %}selected{% else %}{% endif %}
                                                            value="2">
                                                            {% trans "Disagree" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 3 %}selected{% else %}{% endif %}
                                                            value="3">
                                                            {% trans "Neutral" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 4 %}selected{% else %}{% endif %}
                                                            value="4">
                                                            {% trans "Agree" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 5 %}selected{% else %}{% endif %}
                                                            value="5">
                                                            {% trans "Strongly Agree" %}</option>
                                                    </select>
                                                    <button type="submit"
                                                        class="btn btn-primary">{% if scores|get_from_scores:1 %}
                                                        {% trans "Update Score" %} {% else %}
                                                        {% trans "Submit Score" %}
                                                        {% endif %}</button>
                                                </div>
                                                <div>
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </div>
                                                <input type="hidden" name="prompt"
                                                    value="1. Organization name and social media presence. Include any links to your organization, website and/or social media handles where applicable (LinkedIn, Facebook, Instagram, Twitter, WhatsApp Business accounts)">
                                                <input type="hidden" name="application" value="{{application.pk}}">
                                                <input type="hidden" name="question_position" value="1">
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            {% endwith %}
                            <div class="row screen-1">
                                <div class="col-md-6 p-5">
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="2">Next</button>
                                </div>
                            </div>

                        </section>
                        <!-- Step 2 Content, default hidden on page load. -->
                        {% for item in criteria|slice:"1:" %}
                        <section id="step-{{forloop.counter|add:"1"}}" class="form-step d-none">
                            <div class="row">
                                <div class="col-md-6 p-5 screen-1">
                                    <h3><b>{% trans "Applicant's Responses" %}</b></h3>
                                </div>
                                <div class="col-md-6 p-5 screen-2">
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1">
                                            <h3><b>{% trans "Scoring" %}</b></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for sub_criteria in item.sub_criteria.all %}
                            <div class="row">
                                <div class="col-md-6 p-5 screen-1">
                                    <p><b>{{sub_criteria}}</b></p>
                                    <p>
                                        {% with application|get_applicant_response:sub_criteria as response %}
                                        {% if response.type == 'file' %}
                                        <a href="{{response.item.document.url}}"
                                            target="_blank">{{response.item.name}}</a>
                                        {% elif response.type == 'countryfield' %}
                                        {% get_country response.item as country %}
                                        {{ country.name }}
                                        {% else %}
                                        {{ response.item }}
                                        {% endif %}
                                        {% endwith %}
                                    </p>
                                </div>
                                <div class="col-md-6 p-5 screen-2 odd">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-1">
                                            <details class="mb-5">
                                                <summary class="text-bg-secondary flex action-color">
                                                    <i class="fa-solid fa-angle-right mr-2"></i>
                                                    {% trans "Ask Applicant for more details about " %}
                                                    <b><i>{{sub_criteria}}</i></b>
                                                </summary>
                                                <h5><b>{% trans "Previous prompts for this response" %}</b></h5>
                                                <ul>
                                                    {% for prompt in application.prompts.all %}
                                                    {% if prompt.question_position == 1 %}
                                                    <li>{{ prompt.message }}</li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% if not application.prompts.all|check_in_queryset:1 %}
                                                    <p>{% trans "There are no prompts here" %}</p>
                                                    {% endif %}
                                                </ul>
                                                <form action="/applications/prompt/" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="id_subject">{% trans "Subject" %}</label>
                                                        <input type="text" class="form-control" name="subject" required>
                                                        {% for error in form.subject.errors %}
                                                        <p class="error">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="id_message">{% trans "Message" %}</label>
                                                        <textarea class="form-control" name="message" rows="3"
                                                            required></textarea>
                                                        {% for error in form.message.errors %}
                                                        <p class="error">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" name="application" value="{{application.pk}}">
                                                    <input type="hidden" name="question_position" value="1">
                                                    <button type="submit"
                                                        class="btn btn-primary">{% trans "Send Query" %}</button>
                                                </form>
                                            </details>
                                            <form action="{% url 'application:score' slug=application.slug %}"
                                                method="post">
                                                {% csrf_token %}
                                                <div class="d-flex align-items-center">
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        required>
                                                        <option {% if 1 in scores %}{% else %} selected
                                                            disabled{% endif %} value="">
                                                            {% trans "Prompt Score" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 1 %}selected{% else %}{% endif %}
                                                            value="1">
                                                            {% trans "Strongly Disagree" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 2 %}selected{% else %}{% endif %}
                                                            value="2">
                                                            {% trans "Disagree" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 3 %}selected{% else %}{% endif %}
                                                            value="3">
                                                            {% trans "Neutral" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 4 %}selected{% else %}{% endif %}
                                                            value="4">
                                                            {% trans "Agree" %}</option>
                                                        <option
                                                            {% if scores|get_from_scores:1 == 5 %}selected{% else %}{% endif %}
                                                            value="5">
                                                            {% trans "Strongly Agree" %}</option>
                                                    </select>
                                                    <button type="submit"
                                                        class="btn btn-primary">{% if scores|get_from_scores:1 %}
                                                        {% trans "Update Score" %} {% else %}
                                                        {% trans "Submit Score" %}
                                                        {% endif %}</button>
                                                </div>
                                                <div>
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </div>
                                                <input type="hidden" name="prompt"
                                                    value="1. Organization name and social media presence. Include any links to your organization, website and/or social media handles where applicable (LinkedIn, Facebook, Instagram, Twitter, WhatsApp Business accounts)">
                                                <input type="hidden" name="application" value="{{application.pk}}">
                                                <input type="hidden" name="question_position" value="1">
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            <div class="row screen-1">
                                <div class="col-md-6 p-5">
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="{{ forloop.counter }}">Prev</button>
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="{{ forloop.counter|add:"2" }}">Next</button>
                                </div>
                            </div>
                        </section>
                        {% endfor %}
                        <!-- Step 3 Content, default hidden on page load. -->
                        <form id="step-{% with criteria|length as length %}{{ length|add:"1" }}{% endwith %}"
                            class="form-step d-none py-5" action="{% url 'application:comment' %}" method="post">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <h4 class="mb-4"><b>{% trans "This is the last page" %}</b></h4>
                                    <p><b>{% trans "Please provide some general comments on this application" %}</b></p>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <textarea class="form-control" name="comment" id="id_comment" rows="10"
                                            placeholder="{% trans "Comment" %}" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button class="button btn-navigate-form-step" type="button"
                                    step_number="{% with criteria|length as length %}{{ length }}{% endwith %}">Prev</button>
                                <button class="button submit-btn" type="submit">{% trans "Save Comment" %}</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5 dark-bg">

</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/eligibility/eligibility.js' %}"></script>
<script src="{% static 'js/agripitch/application_form.js' %}"></script>
{% endblock %}