{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load countries %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/agripitch/application_form.css' %}">
<link rel="stylesheet" href="{% static 'css/eligibility/eligibility.css' %}">
{% endblock %}
{% load application_extras %}
{% load agripitch_extras %}
{% block content %}
<div id="htmx-parent">
    <div class="container-fluid summary p-0">
        <div class="row mb-2">
            <div class="col-md-6 p-5 col-sm-6">
                <h2 class="text-bold">{% trans "Application Summary" %}</h2>
                <h4><b>{% trans "Applicant" %} </b>{{application.application_creator}}</h4>
                <h4><b>{% trans "Organization Name" %} </b>{{application.application_creator.business}}</h4>
                <h4><b>{% trans "Application ID" %} </b>{{application.special_id}}</h4>
                <h4><b>{% trans "Stage" %} </b>{{application.get_stage_display}}</h4>
                <h4><b>{% trans "Date of Application" %} </b>{{application.created}}</h4>
            </div>
            <div class="col-md-6 p-5 dark-bg col-sm-6">
                <div class="row">
                    <div class="col-md-12 pt-4">
                        <div class="row">
                            <div
                                class="col-md-5 d-flex flex-column justify-content-center align-items-start score-font">
                                <p>My Score:
                                    {{ application|get_marks }}
                                </p>
                                <p>Questions Rated:
                                    {{ application.marks.count }}/{% with ''|get_total_questions as total_questions %}{{ total_questions }}{% endwith %}
                                </p>
                                <p>Questions Not Rated:
                                    {% with application|get_unrated_questions as unrated_questions %}{{ unrated_questions }}{% endwith %}/{% with ''|get_total_questions as total_questions %}{{ total_questions }}{% endwith %}
                                </p>
                            </div>
                            <div class="col-md-6 offset-md-1 d-flex flex-column">
                                <a href="/eligibility/{{application.slug}}/done/"
                                    class="btn btn-primary py-4 mb-4">{% trans "Qualify" %}</a>
                                <a href="{% url 'eligibility:disqualify' slug=application.slug %}"
                                    class="btn btn-primary py-4 mb-4">{% trans "Disqualify" %}</a>
                                <a href="/accounts/dashboard/"
                                    class="btn btn-primary py-4">{% trans "My Dashboard" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row m-0 p-0 main-row bg-white">
            <div class="col-md-12">
                <div>
                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">

                            <li class="form-stepper-active text-center form-stepper-list" step="1">
                                <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                    <span class="form-stepper-circle top-navigate-form-step" step_number="1">
                                        <span>1</span>
                                    </span>
                                    <div class="label">{{criteria|first}}</div>
                                </a>
                            </li>
                            {% for item in criteria|slice:"1:" %}
                            <li class="form-stepper-unfinished text-center form-stepper-list"
                                step="{{forloop.counter|add:'1'}}">
                                <a class="mr-2 d-flex flex-column align-items-center justify-content-center">
                                    <span class="form-stepper-circle top-navigate-form-step"
                                        step_number="{{ forloop.counter|add:'1' }}">
                                        <span>{{forloop.counter|add:"1"}}</span>
                                    </span>
                                    <div class=" label">{{item.get_label}}</div>
                                </a>
                            </li>
                            {% endfor %}
                            <li class="form-stepper-unfinished text-center form-stepper-list"
                                step="{% with criteria|length as length %}{{ length|add:'1' }}{% endwith %}">
                                <a class="mx-2 d-flex flex-column align-items-center justify-content-center">
                                    <span class="form-stepper-circle">
                                        <span>{% with criteria|length as length %}{{ length|add:"1" }}{% endwith %}</span>
                                    </span>
                                    <div class="label">{% trans "Finish" %}</div>
                                </a>
                            </li>
                        </ul>
                        <section>
                            <!-- Step 1 Content -->
                            <section id="step-1" class="form-step">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 p-5 screen-1 section-title">
                                        <h3><b>{% trans "Applicant's Responses" %}</b></h3>
                                    </div>
                                    <div class="col-md-6 col-sm-6 p-5 screen-2 section-title">
                                        <div class="row">
                                            <div class="col-md-10 offset-md-1">
                                                <h3><b>{% trans "Scoring" %}</b></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% with criteria|first as first_criteria  %}
                                {% for sub_criteria in first_criteria.sub_criteria.all %}
                                <div class="row mt-3">
                                    <div class="col-md-6 p-5 screen-1">
                                        <p>
                                            <b>
                                                {% if sub_criteria.type == 'datefield' %}
                                                Age
                                                {% else %}
                                                {{sub_criteria}}
                                                {% endif %}
                                            </b>
                                        </p>
                                        <p>
                                            {% with sub_criteria.label|get_response:application as response %}
                                            {% if sub_criteria.type == 'file' %}
                                            <a href="{{response.document.url}}" target="_blank">{{response}}</a>
                                            {% elif sub_criteria.type == 'countryfield' %}
                                            {% get_country response as country %}
                                            {{ country.name }}
                                            {% elif sub_criteria.type == 'datefield' %}
                                            {{ response|get_age }}
                                            {% else %}
                                            {{ response }}
                                            {% endif %}
                                            {% endwith %}
                                        </p>
                                    </div>
                                    <div class="col-md-6 p-5 screen-2 odd">
                                        <div class="row">
                                            <div class="col-md-8 offset-md-1">
                                                <details class="mb-5">
                                                    <summary class="text-bg-secondary flex action-color">
                                                        <i class="fa-solid fa-angle-right mr-2"></i>
                                                        {% trans "Ask Applicant for more details about " %}
                                                        <b><i>{{sub_criteria}}</i></b>
                                                    </summary>
                                                    <h5><b>{% trans "Previous prompts for this response" %}</b></h5>
                                                    <ul>
                                                        {% for prompt in sub_criteria.prompts.all %}
                                                        <li>{{ prompt.message }}</li>
                                                        {% endfor %}
                                                        {% if not sub_criteria.prompts.all %}
                                                        <p>{% trans "There are no prompts here" %}</p>
                                                        {% endif %}
                                                    </ul>
                                                    <form action="/applications/prompt/" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="id_subject">{% trans "Subject" %}</label>
                                                            <input type="text" class="form-control" name="subject"
                                                                required>
                                                            {% for error in form.subject.errors %}
                                                            <p class="error">{{ error|escape }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="id_message">{% trans "Message" %}</label>
                                                            <textarea class="form-control" name="message" rows="3"
                                                                required></textarea>
                                                            {% for error in form.message.errors %}
                                                            <p class="error">{{ error|escape }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <input type="hidden" name="application"
                                                            value="{{application.pk}}">
                                                        <input type="hidden" name="prompt" value="{{sub_criteria.pk}}">
                                                        <button type="submit"
                                                            class="btn btn-primary">{% trans "Send Query" %}</button>
                                                    </form>
                                                </details>
                                                {% for scoring in sub_criteria.scoring.all %}
                                                {% if sub_criteria|is_scored:application %}
                                                {% with sub_criteria|is_scored:application as old_marks %}
                                                <form class="d-flex align-items-center" method="post"
                                                    action="{% url 'eligibility:update_score' pk=application.pk %}">
                                                    {% csrf_token %}
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        hx-post="{% url 'eligibility:update_score' pk=application.pk %}"
                                                        hx-swap="innerHTML" hx-target="#htmx-parent" required>
                                                        <option selected disabled value="">{{scoring.scale}}</option>
                                                        {% for item in scoring.scale.items.all %}
                                                        <option value="{{item.item.score}}"
                                                            {% if item.item.score == old_marks.score %}selected{% endif %}>
                                                            {{item.item.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="question" value="{{sub_criteria.pk}}">
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </form>
                                                {% endwith %}
                                                {% else %}
                                                <form class="d-flex align-items-center" method="post"
                                                    action="{% url 'eligibility:score' pk=application.pk %}">
                                                    {% csrf_token %}
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        hx-post="{% url 'eligibility:score' pk=application.pk %}"
                                                        hx-swap="innerHTML" hx-target="#htmx-parent" required>
                                                        <option selected disabled value="">{{scoring.scale}}</option>
                                                        {% for item in scoring.scale.items.all %}
                                                        <option value="{{item.item.score}}">{{item.item.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="question" value="{{sub_criteria.pk}}">
                                                    <input type="hidden" name="application" value="{{application.pk}}">
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </form>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                                {% endwith %}
                                <div class="row screen-1">
                                    <div class="col-md-6 p-5">
                                        <button class="button btn-navigate-form-step" type="button"
                                            step_number="2">Next</button>
                                    </div>
                                </div>

                            </section>
                            <!-- Step 2 Content, default hidden on page load. -->
                            {% for item in criteria|slice:"1:" %}
                            <section id="step-{{forloop.counter|add:"1"}}" class="form-step d-none">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 p-5 screen-1 section-title">
                                        <h3><b>{% trans "Applicant's Responses" %}</b></h3>
                                    </div>
                                    <div class="col-md-6 col-sm-6 p-5 screen-2 section-title">
                                        <div class="row">
                                            <div class="col-md-10 offset-md-1">
                                                <h3><b>{% trans "Scoring" %}</b></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for sub_criteria in item.sub_criteria.all %}
                                <div class="row">
                                    <div class="col-md-6 p-5 screen-1">
                                        <p>
                                            <b>
                                                {% if sub_criteria.type == 'datefield' %}
                                                Age
                                                {% else %}
                                                {{sub_criteria}}
                                                {% endif %}
                                            </b>
                                        </p>
                                        <p>
                                            {% with sub_criteria.label|get_response:application as response %}
                                            {% if sub_criteria.type == 'file' %}
                                            <a href="{{response.document.url}}" target="_blank">{{response}}</a>
                                            {% elif sub_criteria.type == 'countryfield' %}
                                            {% get_country response as country %}
                                            {{ country.name }}
                                            {% elif sub_criteria.type == 'datefield' %}
                                            {{ response|get_age }}
                                            {% else %}
                                            {{ response }}
                                            {% endif %}
                                            {% endwith %}
                                        </p>
                                    </div>
                                    <div class="col-md-6 p-5 screen-2 odd">
                                        <div class="row">
                                            <div class="col-md-8 offset-md-1">
                                                <details class="mb-5">
                                                    <summary class="text-bg-secondary flex action-color">
                                                        <i class="fa-solid fa-angle-right mr-2"></i>
                                                        {% trans "Ask Applicant for more details about " %}
                                                        <b><i>{{sub_criteria}}</i></b>
                                                    </summary>
                                                    <h5><b>{% trans "Previous prompts for this response" %}</b></h5>
                                                    <ul>
                                                        {% for prompt in sub_criteria.prompts.all %}
                                                        <li>{{ prompt.message }}</li>
                                                        {% endfor %}
                                                        {% if not sub_criteria.prompts.all %}
                                                        <p>{% trans "There are no prompts here" %}</p>
                                                        {% endif %}
                                                    </ul>
                                                    <form action="/applications/prompt/" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="id_subject">{% trans "Subject" %}</label>
                                                            <input type="text" class="form-control" name="subject"
                                                                required>
                                                            {% for error in form.subject.errors %}
                                                            <p class="error">{{ error|escape }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="id_message">{% trans "Message" %}</label>
                                                            <textarea class="form-control" name="message" rows="3"
                                                                required></textarea>
                                                            {% for error in form.message.errors %}
                                                            <p class="error">{{ error|escape }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <input type="hidden" name="application"
                                                            value="{{application.pk}}">
                                                        <input type="hidden" name="prompt" value="{{sub_criteria.pk}}">
                                                        <button type="submit"
                                                            class="btn btn-primary">{% trans "Send Query" %}</button>
                                                    </form>
                                                </details>
                                                {% for scoring in sub_criteria.scoring.all %}
                                                {% if sub_criteria|is_scored:application %}
                                                {% with sub_criteria|is_scored:application as old_marks %}
                                                <form class="d-flex align-items-center" method="post"
                                                    action="{% url 'eligibility:update_score' pk=application.pk %}">
                                                    {% csrf_token %}
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        hx-post="{% url 'eligibility:update_score' pk=application.pk %}"
                                                        hx-swap="innerHTML" hx-target="#htmx-parent" required>
                                                        <option selected disabled value="">{{scoring.scale}}</option>
                                                        {% for item in scoring.scale.items.all %}
                                                        <option value="{{item.item.score}}"
                                                            {% if item.item.score == old_marks.score %}selected{% endif %}>
                                                            {{item.item.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="question" value="{{sub_criteria.pk}}">
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </form>
                                                {% endwith %}
                                                {% else %}
                                                <form class="d-flex align-items-center" method="post"
                                                    action="{% url 'eligibility:score' pk=application.pk %}">
                                                    {% csrf_token %}
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        hx-post="{% url 'eligibility:score' pk=application.pk %}"
                                                        hx-swap="innerHTML" hx-target="#htmx-parent" required>
                                                        <option selected disabled value="">{{scoring.scale}}</option>
                                                        {% for item in scoring.scale.items.all %}
                                                        <option value="{{item.item.score}}">{{item.item.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="question" value="{{sub_criteria.pk}}">
                                                    <input type="hidden" name="application" value="{{application.pk}}">
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </form>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                                <div class="row screen-1">
                                    <div class="col-md-6 p-5">
                                        <button class="button btn-navigate-form-step" type="button"
                                            step_number="{{ forloop.counter }}">Prev</button>
                                        <button class="button btn-navigate-form-step" type="button"
                                            step_number="{{ forloop.counter|add:"2" }}">Next</button>
                                    </div>
                                </div>
                            </section>
                            {% endfor %}
                            <!-- Step 3 Content, default hidden on page load. -->
                            <form id="step-{% with criteria|length as length %}{{ length|add:"1" }}{% endwith %}"
                                class="form-step d-none py-5" action="{% url 'application:comment' %}" method="post">
                                <div class="row">
                                    <div class="col-md-12 p-0">
                                        <h4 class="mb-4"><b>{% trans "This is the last section" %}</b></h4>
                                        <p><b>{% trans "Please provide some general comments on this application" %}</b>
                                        </p>
                                        {% csrf_token %}
                                        <input type="hidden" name="application" value="{{application.pk}}">
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment" id="id_comment" rows="10"
                                                placeholder="{% trans "Comment" %}" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <button class="button btn-navigate-form-step" type="button"
                                        step_number="{% with criteria|length as length %}{{ length }}{% endwith %}">Prev</button>
                                    <button class="button submit-btn" type="submit">{% trans "Save Comment" %}</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/eligibility/eligibility.js' %}"></script>
<script src="{% static 'js/agripitch/application_form.js' %}"></script>
<script>
    htmx.onLoad(function(content) {
        const navigateToFormStep = (stepNumber) => {
        	localStorage.setItem("stepNumber", JSON.stringify(stepNumber));
        document.querySelectorAll(".form-step").forEach((formStepElement) => {
            formStepElement.classList.add("d-none");
        });
        document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
            formStepHeader.classList.add("form-stepper-unfinished");
            formStepHeader.classList.remove(
                "form-stepper-active",
                "form-stepper-completed"
            );
        });
        document.querySelector("#step-" + stepNumber).classList.remove("d-none");
        const formStepCircle = document.querySelector(
            'li[step="' + stepNumber + '"]'
        );
        formStepCircle.classList.remove(
            "form-stepper-unfinished",
            "form-stepper-completed"
        );
        formStepCircle.classList.add("form-stepper-active");
        for (let index = 0; index < stepNumber; index++) {
            const formStepCircle = document.querySelector('li[step="' + index + '"]');
            if (formStepCircle) {
                formStepCircle.classList.remove(
                    "form-stepper-unfinished",
                    "form-stepper-active"
                );
                formStepCircle.classList.add("form-stepper-completed");
            }
        }
    };

    document
        .querySelectorAll(".top-navigate-form-step")
        .forEach((formNavigationBtn) => {
            formNavigationBtn.addEventListener("click", () => {
                const stepNumber = parseInt(
                    formNavigationBtn.getAttribute("step_number")
                );
                navigateToFormStep(stepNumber);
            });
        });

    document
        .querySelectorAll(".btn-navigate-form-step")
        .forEach((formNavigationBtn) => {
            formNavigationBtn.addEventListener("click", () => {
                var formSection = $(formNavigationBtn).parent().parent();
                const stepNumber = parseInt(
                    formNavigationBtn.getAttribute("step_number")
                );
                navigateToFormStep(stepNumber);
            });
        });

    });
    </script>
{% endblock %}