{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load countries %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/eligibility/move_to_shortlist.css' %}">
{% endblock %}
{% load application_extras %}
{% load agripitch_extras %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3><b>{{application}}</b></h3>
            <h4>Created By: {{application.application_creator.email}}</h4>
            <h4>Reviewed By</h4>
            {%  for reviewer in application.reviewers.all %}
            <p>{{reviewer}}</p>
            {% endfor %}
            <h4>Final Score: {{application.overall_score}}</h4>
            <h4>Stage: {{application.get_stage_display}}</h4>
            <a href="{% url 'accounts:applications_to_review' %}" class="link">Back to Dashboard</a>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/agripitch/application_form.js' %}"></script>
{% endblock %}