{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load countries %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/agripitch/application_form.css' %}">
<link rel="stylesheet" href="{% static 'css/eligibility/eligibility.css' %}">
{% endblock %}
{% load application_extras %}
{% load agripitch_extras %}
{% block content %}
<div id="htmx-parent">
    <div class="container-fluid summary p-0">
        <div class="row mb-2">
            <div class="col-md-6 p-5 col-sm-6">
                <h2 class="text-bold">{% trans "Application Summary" %}</h2>
                <h4><b>{% trans "Applicant" %} </b>{{application.application_creator}}</h4>
                <h4><b>{% trans "Application ID" %} </b>{{application.special_id}}</h4>
                <h4><b>{% trans "Stage" %} </b>{{application.get_stage_display}}</h4>
                <h4><b>{% trans "Date of Application" %} </b>{{application.created}}</h4>
            </div>
            <div class="col-md-6 p-5 dark-bg col-sm-6">
                <div class="row">
                    <div class="col-md-12 pt-4">
                        <div class="row">
                            <div
                                class="col-md-5 d-flex flex-column justify-content-center align-items-start score-font">
                                <p>My Score:
                                    {{ application|get_marks }}
                                </p>
                                <p>Questions Rated:
                                    {{ application.marks.count }}/{% with ''|get_total_questions as total_questions %}{{ total_questions }}{% endwith %}
                                </p>
                                <p>Questions Not Rated:
                                    {% with application|get_unrated_questions as unrated_questions %}{{ unrated_questions }}{% endwith %}/{% with ''|get_total_questions as total_questions %}{{ total_questions }}{% endwith %}
                                </p>
                            </div>
                            <div class="col-md-6 offset-md-1 d-flex flex-column">
                                <a href="{% url 'eligibility:step_done' slug=application.slug step_slug=criteria.slug %}"
                                    class="btn btn-primary py-4 mb-4">{% trans "Submit Rating" %}</a>
                                <a href="/accounts/dashboard/"
                                    class="btn btn-primary py-4">{% trans "My Dashboard" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row m-0 p-0 main-row bg-white">
            <div class="col-md-12">
                <div>
                    <div id="multi-step-form-container">
                        <section>
                            <!-- Step 1 Content -->
                            <section id="step-1" class="form-step">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 p-5 screen-1 section-title">
                                        <h3><b>{% trans "Applicant's Responses" %}</b></h3>
                                    </div>
                                    <div class="col-md-6 col-sm-6 p-5 screen-2 section-title">
                                        <div class="row">
                                            <div class="col-md-10 offset-md-1">
                                                <h3><b>{% trans "Scoring" %}</b></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for sub_criteria in criteria.questions.all %}
                                <div class="row mt-3">
                                    <div class="col-md-6 p-5 screen-1">
                                        <p>
                                            <b>
                                                {% if sub_criteria.question.type == 'datefield' %}
                                                Age
                                                {% else %}
                                                {{sub_criteria.question}}
                                                {% endif %}
                                            </b>
                                        </p>
                                        <p>
                                            {% with sub_criteria.question.label|get_response:application as response %}
                                            {% if sub_criteria.question.type == 'file' %}
                                            <a href="{{response.document.url}}" target="_blank">{{response}}</a>
                                            {% elif sub_criteria.question.type == 'countryfield' %}
                                            {% get_country response as country %}
                                            {{ country.name }}
                                            {% elif sub_criteria.question.type == 'datefield' %}
                                            {{ response|get_age }}
                                            {% else %}
                                            {{ response }}
                                            {% endif %}
                                            {% endwith %}
                                        </p>
                                    </div>
                                    <div class="col-md-6 p-5 screen-2 odd">
                                        <div class="row">
                                            <div class="col-md-8 offset-md-1">
                                                <details class="mb-5">
                                                    <summary class="text-bg-secondary flex action-color">
                                                        <i class="fa-solid fa-angle-right mr-2"></i>
                                                        {% trans "Ask Applicant for more details about " %}
                                                        <b><i>{{sub_criteria.question}}</i></b>
                                                    </summary>
                                                    <h5><b>{% trans "Previous prompts for this response" %}</b></h5>
                                                    <ul>
                                                        {% for prompt in sub_criteria.question.prompts.all %}
                                                        <li>{{ prompt.message }}</li>
                                                        {% endfor %}
                                                        {% if not sub_criteria.question.prompts.all %}
                                                        <p>{% trans "There are no prompts here" %}</p>
                                                        {% endif %}
                                                    </ul>
                                                    <form action="/applications/prompt/" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="id_subject">{% trans "Subject" %}</label>
                                                            <input type="text" class="form-control" name="subject"
                                                                required>
                                                            {% for error in form.subject.errors %}
                                                            <p class="error">{{ error|escape }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="id_message">{% trans "Message" %}</label>
                                                            <textarea class="form-control" name="message" rows="3"
                                                                required></textarea>
                                                            {% for error in form.message.errors %}
                                                            <p class="error">{{ error|escape }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <input type="hidden" name="application"
                                                            value="{{application.pk}}">
                                                        <input type="hidden" name="prompt"
                                                            value="{{sub_criteria.question.pk}}">
                                                        <button type="submit"
                                                            class="btn btn-primary">{% trans "Send Query" %}</button>
                                                    </form>
                                                </details>
                                                {% for scoring in sub_criteria.question.scoring.all %}
                                                {% if scoring|is_scored:application %}
                                                {% with scoring|is_scored:application as old_marks %}
                                                <form class="d-flex align-items-center" method="post"
                                                    action="{% url 'eligibility:update_score' pk=application.pk step_slug=criteria.slug %}">
                                                    {% csrf_token %}
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        hx-post="{% url 'eligibility:update_score' pk=application.pk step_slug=criteria.slug %}"
                                                        hx-swap="innerHTML" hx-target="#htmx-parent" required>
                                                        <option selected disabled value="">{{scoring.scale}}</option>
                                                        {% for item in scoring.scale.items.all %}
                                                        <option value="{{item.item.score}}"
                                                            {% if item.item.score == old_marks.score %}selected{% endif %}>
                                                            {{item.item.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="question"
                                                        value="{{sub_criteria.question.pk}}">
                                                    <input type="hidden" name="scoring" value="{{scoring.pk}}">
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </form>
                                                {% endwith %}
                                                {% else %}
                                                <form class="d-flex align-items-center" method="post"
                                                    action="{% url 'eligibility:score' pk=application.pk step_slug=criteria.slug %}">
                                                    {% csrf_token %}
                                                    <select name="score" class="custom-select custom-select-lg mr-4"
                                                        hx-post="{% url 'eligibility:score' pk=application.pk step_slug=criteria.slug %}"
                                                        hx-swap="innerHTML" hx-target="#htmx-parent" required>
                                                        <option selected disabled value="">{{scoring.scale}}</option>
                                                        {% for item in scoring.scale.items.all %}
                                                        <option value="{{item.item.score}}">{{item.item.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="question"
                                                        value="{{sub_criteria.question.pk}}">
                                                    <input type="hidden" name="application" value="{{application.pk}}">
                                                    <input type="hidden" name="scoring" value="{{scoring.pk}}">
                                                    {% for error in form.score.errors %}
                                                    <p class="error">{{ error | escape }} </p>
                                                    {% endfor %}
                                                </form>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if criteria.has_bonus %}
                {% if criteria.bonus %}
                <form
                    action="{% url 'eligibility:delete_bonus' pk=criteria.bonus.pk application_slug=application.slug step_slug=criteria.slug %}"
                    method="post" class="d-flex align-items-center bonus-form">
                    {% csrf_token %}
                    <p class="m-0">You have Awarded a bonus of <b>{{criteria.bonus.bonus}}</b> points </p>

                    <button type="submit" class="btn bonus-btn ml-2">Delete?</button>
                </form>
                {% else %}
                <form action="{% url 'eligibility:bonus' step_slug=criteria.slug %}"
                    hx-post="{% url 'eligibility:bonus' step_slug=criteria.slug %}" method="POST" hx-trigger="change"
                    hx-swap="innerHTML" hx-target="#htmx-parent">
                    {% csrf_token %}
                    <label class="checkbox-container">Give Bonus?
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" name="bonus" value="{{criteria.bonus_to_award}}">
                    <input type="hidden" name="application" value="{{application.pk}}">
                    <input type="hidden" name="step" value="{{criteria.pk}}">
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if application.comments.all %}
                <h4>Previous Comments</h4>
                {% for comment in application.comments.all %}
                <p>{{comment.comment}}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-step py-5"
                    action="{% url 'application:step_comment' slug=application.slug step_slug=criteria.slug %}"
                    method="post">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            {% if application.comments.all %}
                            <p><b>Add Another Comment</b></p>
                            {% else %}
                            <p><b>{% trans "Please provide some general comments on " %}{{criteria}}</b>
                            </p>
                            {% endif %}
                            {% csrf_token %}
                            <input type="hidden" name="application" value="{{application.pk}}">
                            <div class="form-group">
                                <textarea class="form-control" name="comment" id="id_comment" rows="10"
                                    placeholder="{% trans "Comment" %}" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">

                        <button class="button submit-btn" type="submit">{% trans "Save Comment" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/agripitch/application_form.js' %}"></script>
{% endblock %}