{% extends 'acc_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-4">
            <a ><img src="{% static 'images/clientlog.JPG' %}"></a>    
            
    </div>


    <div class="col-md-8">
    <form action="#" class="form"  id="myForm">
        <!-- progress bar -->
    <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title="Personal Info"></div>
        <div class="progress-step"data-title="Personal Info"></div>
        <div class="progress-step"data-title="Business Info"></div>
        <div class="progress-step"data-title="Business Info"></div>
        <div class="progress-step"data-title="Business Info"></div>
    </div>

        <!-- steps -->
        <strong><h4 class="text-center"> Call For Application </h4></strong>    
        <div class="form-step form-step-active" >
            <div class="input-group">
                <strong><label  for="email">Email</label></strong>
                <input type="email" class="text" placeholder="info@example.com" required >
            </div>

        <strong> <p>Kindly select your preferred language</p></strong>
        <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="eng">
                <label class="form-check-label" for="eng">
                        English
                </label>
                
              </div>
              <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="french">
                    <label class="form-check-label" for="french">
                      French
                    </label>
                  </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="port">
                <label class="form-check-label" for="port">
                  Portugese
                </label>
              </div>
          
              <div class="input-group">
                    <strong><label for="name">Participant Name</label></strong>
                    <input type="text" class="text" placeholder="full_Name" required>
                </div>

                <div class="input-group">
                        <strong><label for="age">Kindly confirm your age</label></strong>
                        <input type="number" class="text" placeholder="your_age" required>
                    </div>


            <div class="">
                <a href="#" class="btn btn-next width-50 ml-auto" id="check">Next</a>
            </div>
        </div>

        <div class="form-step">
                <strong><p>Gender</p></strong>
                <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="female" required>
                        <label class="form-check-label" for="female">
                                Female
                        </label>
                      </div>
                      <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="male" required>
                            <label class="form-check-label" for="male">
                              Male
                            </label>
                          </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="prefer_none" required>
                        <label class="form-check-label" for="prefer_none">
                          Prefer not to say
                        </label>
                      </div>
                      <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="other" required>
                            <label class="form-check-label" for="other">
                              Other
                            </label>
                          </div>
             
                <div class="input-group">
                    <strong><label for="email"> Preferred Email-Address</label></strong>
                    <input type="text" class="text" name="email" id="email" required>
                </div>

                <strong><p>Preferred language of engagement</p></strong>
                <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="eng" required>
                        <label class="form-check-label" for="eng">
                                English
                        </label>
                      </div>
                      <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="french" required>
                            <label class="form-check-label" for="french">
                              French
                            </label>
                          </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="port" required>
                        <label class="form-check-label" for="port">
                          Portugese
                        </label>
                      </div>
                      <br>
                <div class="btns-group">
                    <a href="#" class="btn btn-prev ">Previous</a>
                    <a href="#" class="btn btn-next" id="check">Next</a>
                </div>
            </div>

            <div class="form-step">
                    <div class="input-group">
                        <strong><label for="Your answer">Organisation Name and social media presence.(Include any links to your organisation website and/or social media handles where applicable (LinkedIn, Facebook, Instagram, Twitter, WhatsApp Business accounts))</label></strong>
                        <input type="text" class="text" name="Organisation" id="Organisation" required>
                    </div>

                    
                    <strong><p>Kindly indicate which part of the value chain you operate in. Kindly select only 1 option which most applies * </p></strong>
                   
                    <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="farming" required>
                            <label class="form-check-label" for="farming">
                                Primary production (farming)
                            </label>
                          </div>
                          <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="supplier" required>
                                <label class="form-check-label" for="supplier">
                                    Input supplier
                                </label>
                              </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="processor" required>
                            <label class="form-check-label" for="processor">
                                Processor (value addition)
                            </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="aggregator" required>
                              <label class="form-check-label" for="aggregator">
                                  Aggregator
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="distributor" required>
                                <label class="form-check-label" for="distributor">
                                    Distributor
                                </label>
                              </div>
                          <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="retailer" required>
                                <label class="form-check-label" for="retailer">
                                    Retailer
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="provider" required>
                                  <label class="form-check-label" for="provider">
                                      Service provider
                                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="other" required>
                                    <label class="form-check-label" for="other">
                                        other
                                    </label>
                                  </div>

                                  <br>

                    <div class="btns-group">
                        <a href="#" class="btn btn-prev ">Previous</a>
                        <a href="#" class="btn btn-next" id="check">Next</a>
                    </div>
                </div>

                <br>

                <div class="form-step">  
                        <strong><p>How long has the business been in formal existence for? *
                                Kindly select one option. Formal existence means from when the company was registered and started operating </p></strong>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="year1" required>
                            <label class="form-check-label" for="year1">
                                Below 1 year
                            </label>
                          </div>
                          <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="year2" required>
                                <label class="form-check-label" for="year2">
                                    More than 1 year but less than 2 years
                                </label>
                              </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="year3" required>
                            <label class="form-check-label" for="year3">
                                Between 2 to 5 years
                            </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="year4" required>
                              <label class="form-check-label" for="year4">
                                  Over 5 years
                            </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="other" required>
                                    <label class="form-check-label" for="other">
                                        other
                                    </label>
                                  </div>
                                  <br>

                       <strong><p>Which one sentence best describes the stage where your business is at? *
                                Kindly select one option only that best describes where you are at in the business development stage. MVP means minimum viable product </p></strong>
                       
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="stage1" required>
                                <label class="form-check-label" for="stage1">
                                    Product or service is still being developed
                                </label>
                              </div>
                              <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="stage2" required>
                                    <label class="form-check-label" for="stage2">
                                        Product or service is at MVP stage. Currently piloting with target users
                                    </label>
                                  </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="stage3" required>
                                <label class="form-check-label" for="stage3">
                                    Product or service has been availed in the market. There are no sales or revenues as yet
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="stage4" required>
                                  <label class="form-check-label" for="stage4">
                                      Product or service is in the market. There are sales/revenues
                                </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="other" required>
                                        <label class="form-check-label" for="other">
                                            other
                                        </label>
                                      </div>

                                      <br>
        
                        <div class="btns-group">
                            <a href="#" class="btn btn-prev ">Previous</a>
                            <a href="#" class="btn btn-next" id="check">Next</a>
                        </div>
                    </div>

                <div class="mil form-step">
                        <strong><p>What are the 3 key business milestones to be achieved in the short term (1-2 years)? *
                                Kindly choose the top 3 milestones that are your priorities over the next 1 to 2 years.</p></strong>
                                
                                <div class="form-check">
                               
                                    <input class="form-check-input" type="checkbox" id="mil1" name="growth" value="" required>
                                    <label class="form-check-label" for="mil1"> Revenue growth (Increase sales)</label><br>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil2" name="growth" value="" required>
                                    <label for="mil2"> Improve costs ( reduce the costs of production, operations)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil3" name="growth" value="" required>
                                    <label for="mil3"> Grow new markets (New towns, Regions, Countries)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil4" name="growth" value="" required>
                                    <label for="mil4"> Diversify client segments (New types of clients - institutional or retail)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil5" name="growth" value="" required>
                                    <label for="mil5"> Diversify products/services (Introduce new products/services)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil6" name="growth" value="" required>
                                    <label for="mil6"> Increase production or output capacity (Produce more of the product or service)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil7" name="growth" value="service_provider" required>
                                    <label for="mil7"> Grow the team (Increase numbers, Improve skill sets)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil8" name="growth" value="" required>
                                    <label for="mil8"> Improve internal business processes (Operational aspects)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mil9" name="growth" value="" required>
                                    <label for="mil9"> Raise Capital</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"  type="checkbox" id="mil10" name="growth" value="" required>
                                    <label for="mil10"> Attain certifications</label>
                                </div>
                                    
                                <div class=" form-check">
                                    <label for="mil11"> Other</label>
                                    <input   type="text" name="growth" id="mil11" required>
                            </div>

                            <br>
            
                        <div class="input-group">
                            <strong><label for="Your answer">How has the COVID 19 pandemic affected your business? Kindly mention 2 key aspects *
                                    Give a short description on how the COVID Pandemic has impacted your business (negative and/or positive effect)</label></strong>
                            <input type="text" class="text" name="" id="" required>
                        </div>
                        <div class="btns-group">
                            <a href="#" class="btn btn-prev ">Previous</a>
                            <input type="submit" value="Submit" id="check" class="btn">
                        </div>
                    </div>

    </form>
</div>
</div>
</div>
{% endblock%}