{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


  <form action=" ">
    <div class="container">
      <h1 class="text-center">{% trans "Help" %}</h1>
      <div class="input-container">
        <!-- <i class="fa fa-user icon"></i> -->
        <input class="input-field" type="text" placeholder="{% trans "Firstname" %}" name="firstname" required>
      </div>

      <div class="input-container">
        <!-- <i class="fa fa-user icon"></i> -->
        <input class="input-field" type="text" placeholder="{% trans "Lastname" %}" name="lastname" required>
      </div>

      <div class="input-container">
        <!-- <i class="fa fa-envelope icon"></i> -->
        <input class="input-field" type="text" placeholder="{% trans "Email" %}" name="email" required>
      </div>

      <div class="input-container">
        <!-- <i class="fa fa-key icon"></i> -->
        <textarea id="subject" name="subject" placeholder="{% trans "Write something.." %}" style="height:200px"></textarea>
      </div>

      <button type="submit" class="registerbtn">{% trans "Submit" %}</button>
    </div>


  </form>




{% endblock%}