{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body_id %}agri-window{% endblock %}
{% block content %}

<!-- FAQ -->
<h3 class="pb-4 text-site-primary text-center"><strong>Frequently Asked Questions</strong></h3>
<div class="container faq-page">
    <div id="faq-links">
        <div id="service" class="faq-selected">Applications</div>
        <div id="installation">Eligibility</div>
        <div id="plan">Documents</div>
    </div>



    <div id="faq-wrapper" class="about-service">

        <div class="faq-group">
            <div class="slide-left mt-5">
                <div>Application Questions</div>
            </div>
            <hr>
        </div>
        <!--faq-group-->
        <div class="slide-left">
            <div class="faq">
                <ul class="faq-accordion">

                    <li>
                        <a href="#">When does the Call for applications open?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>The call for applications opens on 6 October 2022</p>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">When is the Call for applications deadline?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>The call for applications deadline is 6 November 2022</p>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">How long will the Call for applications be open?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>The call for applications will be open for four(4) weeks, from 6 October to
                                        6 November 2022</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Who can apply?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        <br>
                                        1. <strong>Youth:</strong> Participants in the AgriPitch Competition are young
                                        people aged between 18 and 35 that own at least 25% of their business and are in
                                        leadership and management positions of the business.
                                        <br> <br>
                                        2. <strong>Early start-ups:</strong> Enterprises from ideation stage with proof
                                        of concept.
                                        <br> <br>
                                        3. <strong>Mature start-ups/MSMEs:</strong> Enterprises must be registered with
                                        existing market traction.
                                        <br> <br>
                                        4. <strong>Women-empowered Businesses (WEBs):</strong> Firms with at least 51%
                                        share of women ownership or founded by a woman and with existing market
                                        traction.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Bacon ipsum-->
                    <li>
                        <a href="#">Why should I apply?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        The aim of the 2022 AgriPitch Competition is to support agripreneurs by focusing
                                        on enhancing the bankability and viability of their businesses and ensuring that
                                        they are pitch ready for potential investors. <br> <br>
                                        The AgriPitch Competition promotes innovation and entrepreneurship in
                                        agriculture among youth in Africa to create jobs and improve livelihoods by
                                        providing technical capacity, building skills, and facilitating access to
                                        finance for youth by virtually convening relevant investors focused on start-ups
                                        and growing SMEs. <br> <br>
                                        Shortlisted SMEs will receive access to one on one coaching and mentorship,
                                        access to the AYAF Dealroom, participation in the virtual bootcamp and six
                                        months post competition access to resources. <br> <br>
                                        Winning SMEs will access a total grant pool of USD 140,000.

                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">How do I apply?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        You can apply online

                                        <a href="https://applications.privateequity-support.com"> Here</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">What happens if I am unable to apply online?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        Please contact us at <strong>agri2022@privateequity-support.com</strong> for
                                        further assistance. <br>
                                        You can also refer to the <a
                                            href="https://www.privateequity-support.com/wp-content/uploads/2022/08/Agripitch-competition-Application-guide.pdf">Call
                                            for application guide</a> which has detailed information on how to apply,
                                        and is available in English and French.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">What languages can I apply in?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        The application form is available in French and English.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">How long does it take to complete an application?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        The application process takes approximately 45 to 60 minutes. <br>
                                        You need to have the required documents ready for ease of upload.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">Can I log back in to complete my application?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        Yes, you can log back in anytime before the deadline for submission date to
                                        finalize and submit your application. You are able to save your application and
                                        resume from where you left off. <br>
                                        You are encouraged however to complete and submit your application as soon as
                                        possible.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">How long will it take to know if my application was successful?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        Once your application is received, it will be reviewed based on the set criteria
                                        and the outcome will be communicated to you in the second week of November.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">Can I edit my application once I submit?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        No. Once the application is submitted, you cannot be able to edit it.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">Can I apply if I had applied previously and was not shortlisted?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        Yes. If you had applied previously and was not shortlisted, you are encouraged
                                        to apply again.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">If I had applied previously, was shortlisted and did not win the prize money, can I
                            apply?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        Yes. If you had applied previously and did not win the prize money, you are
                                        encouraged to apply again.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--Carey ipsum-->
                    <li>
                        <a href="#">If I had applied previously, and won the prize money, can I apply?</a>
                        <ul class="faq-content">
                            <li>
                                <div>
                                    <p>
                                        No, we wish to provide opportunity to others to participate.
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>






    <div class="about-installation faq-hide">

        <div class="faq-group">
            <div class="slide-left">
                <div>Eligibility requirements</div>
            </div>
            <hr>
        </div>

        <div class="slide-left">
            <ul class="faq-accordion">

                <li>
                    <a href="#">Who is eligible to apply?</a>
                    <ul class="faq-content">
                        <li>
                            <div>
                                <p>
                                    <br>
                                    1. <strong>Early Start-ups (0-3 years):</strong> 
                                    <br>
                                    -Meet eligibility criteria for Early Start-ups.
                                    <br> 
                                    -Individuals who are at the very early stage of developing ideas/concepts for agripreneurship or a newly established business.
                                    <br>
                                    -Must have a clearly defined prototype or proof of concept.

                                    <br>
                                    -May or may not have had any products introduced to the market.
                                    <br>
                                    -May or may not have a registered corporate entity but must have required business licenses.
                                    <br>

                                    <br>
                                    2. <strong>Mature Start-ups (above 3 years):</strong> 
                                    <br>
                                    -Individuals and firms with existing market traction: technology, product, service, etc., already on the 
                                    <br> 
                                    -Must have a clear investment ask and growth plan/strategy.
                                    <br>
                                    -Must be a registered corporate entity.
                                    <br>

                                    <br>
                                    3. <strong>Women-empowered Businesses (WEBs):</strong> 
                                    <br>
                                    -Meet eligibility requirements for either Early Start-ups or Mature Start-ups
                                    <br> 
                                    -Firms that are 51% owned by women or founded by a woman.
                                    
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--Bacon ipsum-->

                <li>
                    <a href="#">What is meant by Women-led?</a>
                    <ul class="faq-content">
                        <li>
                            <div>
                                <p>Firms with at least 51% share of women ownership or founded by a woman.</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--Beer ipsum-->

                <li>
                    <a href="#">What are the priority sectors?</a>
                    <ul class="faq-content">
                        <li>
                            <div>
                                <p>Businesses in the Agribusiness sector value chain, focusing on food and nutrition.
                        </li>
                    </ul>
                </li>
                <!--Carey ipsum-->
            </ul>

        </div>
        <!--Slide-left -->
    </div>


    <div class="about-plan faq-hide">

        <div class="faq-group">
            <div class="slide-left">
                <div>Required Documents</div>
            </div>
            <hr>
        </div>
        <div class="slide-left">
            <ul class="faq-accordion">

                <li>
                    <a href="#">Which documents are required to apply?</a>
                    <ul class="faq-content">
                        <li>
                            <div>
                                <p>To apply, you need these documents <br>
                                    <br>
                                    National ID card / passport <br>
                                    Company registration document <br>
                                    Company brochure <br>
                                    Summary business plan <br>
                                    Business licences <br>
                                    Company profile <br>
                                    Financial statements <br>
                                    Marketing materials <br>
                                    Pitch deck <br>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--Bacon ipsum-->

                <li>
                    <a href="#">What if I do not have my business registered?</a>
                    <ul class="faq-content">
                        <li>
                            <div>
                                <p>
                                    You need to have your business legally registered in order to apply for Mature Start-ups. <br>
                                    For Early stage startups, you need to have the required business licences to operate in your required country.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--Beer ipsum-->

            </ul>
        </div>
        <!--slide-left-->
    </div>

    <!--about-mobile faq-hide-->
</div>
<!--container-->

<div class="dropdown d-flex justify-content-center m-5">
  <button class="btn btn-secondary dropdown-toggle download-resources" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Need Help? Message Us
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <form action="{% url 'accounts:help' %}" method="post">
        {% csrf_token %}
        <div class="container login">
            <h2 class="font-weight-bold mb-2 mt-2 text-center h1 text-site-primary"></i>{% trans "Help" %} </h2>
            <br>
            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix white-text"></i>
                <label for="id_name">{% trans "Name" %}</label>
                <input type="text" id="id_name" class="form-control" placeholder="{% trans " Name" %}" name="name" required>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix white-text"></i>
                <label for="id_name">{% trans "Email" %}</label>
                <input type="text" id="id_name" class="form-control" placeholder="{% trans " Your Email Address" %}"
                    name="email" required>
            </div>
            <div class="md-form">
                <i class="fa fa-user prefix white-text"></i>
                <label for="id_subject">{% trans "Subject" %}</label>
                <!-- <input type="text" id="id_subject" class="form-control" placeholder="{% trans "Reason for contacting us" %}" name="subject" required> -->
                <select name="subject" id="id-subject">
                    <option value="Cant upload documents">Cannot Upload documents</option>
                    <option value="No documents">I do not have certain documents</option>
                    <option value="Cant access application form">Can't access application form</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn registerbtn">{% trans "Submit" %}</button>
            </div>
        </div>
    
    
    </form>
  </div>
</div>





{% endblock%}