{% extends 'base.html' %}
{% load static %}

{% block content %}


<form action=" ">
    <div class="container">
      <h1>Login</h1>
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Username" name="usrnm" required>
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Enter Password" name="psw" id="psw" required>
      </div>

      <button type="submit" class="registerbtn">Login</button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

      <span class="psw">Forgot <a href="#">password?</a></span>

      <div class="signin">
        <p>Don't have an account yet? <a href="{% url 'register' %}">Sign Up</a>.</p>

      </div>
    </div>


  </form>


{% endblock %}