@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}

.main-nav {
	width: 100%;
	height: 10rem;
	padding: 0rem 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo a {
	background-color: #14a562;
	font-size: 1.6rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: 2px solid #fff;
	padding: 1rem 2rem;
	color: #fff;
	width: 100%;
	display: block;
	cursor: pointer;
}
.hamburger-menu {
	width: 5rem;
	height: 5rem;
	background-color: #455d8d;
	border-radius: 0.4rem;
	box-shadow: 0.5rem 0.5rem 1rem #cacaca, -0.5rem -0.5rem 1rem #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
}
/* .hamburger-menu:hover {
	box-shadow: inset 0.5rem 0.5rem 1rem #cacaca, inset -0.5rem -0.5rem 1rem #fff;
}
.bar {
	width: 3rem;
	height: 2px;
	background-color: #ffffff;
	display: inline-block;
	position: relative;
	transition: background-color 0.5s;
}
.bar::before,
.bar::after {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #ffffff;
	transition: all 0.5s;
}
.bar::before {
	top: -0.8rem;
}
.bar::after {
	top: 0.8rem;
}
.open .bar {
	background-color: transparent;
}
.open .bar::before {
	top: 0rem;
	transform: rotate(135deg);
}
.open .bar::after {
	top: 0rem;
	transform: rotate(-135deg);
}
.nav-list {
	width: 20rem;
	height: 100vh;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1500;
	background-color: #eee;
	box-shadow: -0.5rem 0rem 1rem rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transform: translateX(55rem);
	transition: transform 0.5s;
}
.open .nav-list {
	transform: translateX(0rem);
}
.home-nav-item {
	list-style: none;
	border-bottom: 2px solid #14a562;
}
.nav-link {
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.5rem;
	display: block;
	color: #455d8d;
	font-size: 1.6rem;
	font-weight: 700;
	transition: color 0.5s;
}
.nav-link:hover {
	color: #14a562;
} */








/***********  .sidenav   ************/
.sidecontainer .sidenav{
  position: fixed;
  top: 17%;   right: 2%;
  height: 60px;
  z-index: 2000;
  overflow: hidden;
}
/************** .nav .toggle  *******************/
.sidecontainer .sidenav ul.toggle{
  position: relative;
  float: left;
  height: 60px;   width: 70px;
  background: rgba(0,0,0,.6);
  z-index: 2000;
  cursor: pointer;
}
.sidecontainer .sidenav ul.toggle.active{
  background: #14A562;
}
.sidecontainer .sidenav ul.toggle li{
  list-style: none;
  position: absolute;
  left: 10%;
  width: 80%;   height: 5px;
  background: #fff;
  transform: translate(0,-50%);
  transition: .9s;
}
.sidecontainer .sidenav ul.toggle li:nth-of-type(1){
  top: 20%;
}
.sidecontainer .sidenav ul.toggle li:nth-of-type(2){
  top: 50%;
}
.sidecontainer .sidenav ul.toggle li:nth-of-type(3){
  top: 80%;
}
.sidecontainer .sidenav ul.toggle.active li:nth-of-type(1){
  top: 50%;
  transform: translate(0,-50%) rotate(45deg);
}
.sidecontainer .sidenav ul.toggle.active li:nth-of-type(2){
  left: 100%;
  opacity: 0;
}
.sidecontainer .sidenav ul.toggle.active li:nth-of-type(3){
  top: 50%;
  transform: translate(0,-50%) rotate(-45deg);
}

/*************  .nav .menu  *************/

.sidecontainer .sidenav ul.sidemenu{
  position: relative;
  float: left;
  height: 60px;  line-height: 60px;
  background: rgba(0,0,0,.5);
  left: 104%;
  transition: .9s;
  z-index: 1;
}
.sidecontainer .sidenav ul.sidemenu.active{
  left: 0;
}
.sidecontainer .sidenav ul.sidemenu li{
  list-style: none;
  position: relative;
  float: left;
  height: 100%;
}
.sidecontainer .sidenav ul.sidemenu li a{
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;   text-transform: uppercase;
}
.sidecontainer .sidenav ul.sidemenu li:hover a{
  background: #14A562;
}




.hero {
	width: 100%;
	height: 80vh;
	background-image: url("../../images/squating-woman-edited.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.2);
}
.hero-clipped {
	width: 60%;
	height: inherit;
	background-color: #eee;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
	transform-origin: right;
}
.hero-textbox {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 55%;
	z-index: 20;
	transform: translate(-50%, -50%);
	font-family: "Nunito", sans-serif;
	text-align: center;
	line-height: 1.5;
	color: #14a562;
	padding: 1rem;
}
#main-logo {
	width: 600px;
}

.sub-heading {
	font-size: 2.2rem;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 0.2rem;
}
.cta-button {
	display: inline-block;
	font-size: 3rem;
	letter-spacing: 1px;
	text-decoration: none;
	background-color: #14a562;
	color: #fff;
	margin-top: 5rem;
	padding: 1rem 4rem;
	border-radius: 0.4rem;
	box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
	position: relative;
}
.cta-button::after {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: inherit;
}
.cta-button:hover::after {
	transform: scaleX(1.6) scaleY(2);
	opacity: 0;
	transition: all 0.5s;
}
.download-resources {
	background-color: #14a562;
	color: #fff;
	z-index: 2000;
}

/* PARTNERS SECTION CSS */
.board:after {
	clear: both;
	content: "";
	display: table;
}
.board:before {
	content: "";
	display: table;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[class*="entypo-"]:before {
	font-family: "entypo", sans-serif;
	font-style: normal;
	display: block;
}
.board {
	width: 100%;
	margin: 0 auto;
}

.section {
	width: 33.333333333333333%;
	display: block;
	float: left;
	position: relative;
	height: 12em;
	border: 1px solid #f2f2f2;
	overflow: hidden;
}
.partner-img {
	width: 70%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
.partner-img-2 {
	width: 60%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
.partner-img-3 {
	width: 90%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
.tile {
	padding: 2em 0.8em;
	position: absolute;
	width: auto;
	height: auto;
	-moz-transition: top 0.55s ease-in;
	-o-transition: top 0.55s ease-in;
	-webkit-transition: top 0.55s ease-in;
	transition: top 0.55s ease-in;
}
.tile:hover {
	cursor: pointer;
}

.desc {
	top: 100%;
	padding-top: 6em;
	background: #f7f7f7 span;
}

/*** Animations ***/
@keyframes spinOut {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}
@keyframes spinIn {
	0% {
		transform: rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 1;
	}
}
@keyframes scootOut {
	0% {
		transform: translateY(0);
	}
	5% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(70px);
	}
}
@keyframes scootIn {
	0% {
		transform: translateY(70px);
	}
	66% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}
@-webkit-keyframes spinOut {
	0% {
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(360deg);
		opacity: 0;
	}
}
@-webkit-keyframes spinIn {
	0% {
		-webkit-transform: rotate(0deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(-360deg);
		opacity: 1;
	}
}
@-webkit-keyframes scootOut {
	0% {
		-webkit-transform: translateY(0);
	}
	5% {
		-webkit-transform: translateY(-15px);
	}
	100% {
		-webkit-transform: translateY(110px);
	}
}
@-webkit-keyframes scootIn {
	0% {
		-webkit-transform: translateY(70px);
	}
	66% {
		-webkit-transform: translateY(-5px);
	}
	100% {
		-webkit-transform: translateY(0px);
	}
}
@-moz-keyframes spinOut {
	0% {
		-moz-transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		-moz-transform: rotate(360deg);
		opacity: 0;
	}
}
@-moz-keyframes spinIn {
	0% {
		-moz-transform: rotate(0deg);
		opacity: 0;
	}
	100% {
		-moz-transform: rotate(-360deg);
		opacity: 1;
	}
}
@-moz-keyframes scootOut {
	0% {
		-moz-transform: translateY(0);
	}
	5% {
		-moz-transform: translateY(-15px);
	}
	100% {
		-moz-transform: translateY(110px);
	}
}
@-moz-keyframes scootIn {
	0% {
		-moz-transform: translateY(110px);
	}
	66% {
		-moz-transform: translateY(-5px);
	}
	100% {
		-moz-transform: translateY(0px);
	}
}
.spin-in {
	animation: spinIn 0.4s 0.2s ease both;
	-moz-animation: spinIn 0.4s 0.2s ease both;
	-webkit-animation: spinIn 0.4s 0.2s ease both;
}

.spin-out {
	animation: spinOut 0.4s 0s ease both;
	-moz-animation: spinOut 0.4s 0s ease both;
	-webkit-animation: spinOut 0.4s 0s ease both;
}

.scoot-out {
	animation: scootOut 0.5s 0s ease both;
	-moz-animation: scootOut 0.5s 0s ease both;
	-webkit-animation: scootOut 0.5s 0s ease both;
}

.scoot-in {
	animation: scootIn 1s 0s ease both;
	-moz-animation: scootIn 1s 0s ease both;
	-webkit-animation: scootIn 1s 0s ease both;
}

.all-partners .img-fluid {
	width: 100%;
}

/* Countdown Timer Css */

.landing h1 {
	font-size: 30px;
}

.landing p {
	font-size: 20px;
}

.countdown {
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.countdown div {
	padding: 20px;
	border: 1px #fff solid;
	border-radius: 10px;
	background: #000;
	opacity: 0.7;
	margin: 5px;
}
.countdown span {
	display: block;
	font-size: 25px;
}

.timeline-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.parallax {
	background-color: #14a562;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: aliceblue;
}
.parallax-1 {
	background-color: #14a562;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: aliceblue;
}
.parallax-inner {
	padding-top: 5%;
	padding-bottom: 5%;
}



.testim .wrap {
	position: relative;
	width: 100%;
	max-width: 1020px;
	padding: 40px 20px;
	margin: auto;
}

.testim .arrow {
	display: block;
	position: absolute;
	color: #fff;
	cursor: pointer;
	font-size: 2em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .3s ease-in-out;    
	-ms-transition: all .3s ease-in-out;    
	-moz-transition: all .3s ease-in-out;    
	-o-transition: all .3s ease-in-out;    
	transition: all .3s ease-in-out;
	padding: 5px;
	z-index: 22222222;
}

.testim .arrow:before {
	cursor: pointer;
}

.testim .arrow:hover {
	color: green;
}
	

.testim .arrow.left {
	left: 70px;
}

.testim .arrow.right {
	right: 70px;
}

.testim .dots {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 60px;
	left: 0;
	display: block;
	z-index: 3333;
	height: 12px;
}

.testim .dots .dot {
	list-style-type: none;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 0 10px;
	cursor: pointer;
	-webkit-transition: all .5s ease-in-out;    
	-ms-transition: all .5s ease-in-out;    
	-moz-transition: all .5s ease-in-out;    
	-o-transition: all .5s ease-in-out;    
	transition: all .5s ease-in-out;
	position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
	background: green;
	border-color: green;
}

.testim .dots .dot.active {
	-webkit-animation: testim-scale .5s ease-in-out forwards;   
	-moz-animation: testim-scale .5s ease-in-out forwards;   
	-ms-animation: testim-scale .5s ease-in-out forwards;   
	-o-animation: testim-scale .5s ease-in-out forwards;   
	animation: testim-scale .5s ease-in-out forwards;   
}
	
.testim .cont {
	position: relative;
	overflow: hidden;
}

.testim .cont > div {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 70px 0;
	opacity: 0;
}

.testim .cont > div.inactive {
	opacity: 1;
}
	

.testim .cont > div.active {
	position: relative;
	opacity: 1;
}
	

.testim .cont div .img img {
	display: block;
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
}

.testim .cont div h2 {
	color: #fff;
	font-size: 1.5em;
	margin: 15px 0;
}

.testim .cont div p {
	font-size: 1.15em;
	color: #fff;
	width: 70%;
	margin: auto;
}

.testim .cont div.active .img img {
	-webkit-animation: testim-show .5s ease-in-out forwards;            
	-moz-animation: testim-show .5s ease-in-out forwards;            
	-ms-animation: testim-show .5s ease-in-out forwards;            
	-o-animation: testim-show .5s ease-in-out forwards;            
	animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
	-webkit-animation: testim-content-in .4s ease-in-out forwards;    
	-moz-animation: testim-content-in .4s ease-in-out forwards;    
	-ms-animation: testim-content-in .4s ease-in-out forwards;    
	-o-animation: testim-content-in .4s ease-in-out forwards;    
	animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
	-webkit-animation: testim-content-in .5s ease-in-out forwards;    
	-moz-animation: testim-content-in .5s ease-in-out forwards;    
	-ms-animation: testim-content-in .5s ease-in-out forwards;    
	-o-animation: testim-content-in .5s ease-in-out forwards;    
	animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
	-webkit-animation: testim-hide .5s ease-in-out forwards;            
	-moz-animation: testim-hide .5s ease-in-out forwards;            
	-ms-animation: testim-hide .5s ease-in-out forwards;            
	-o-animation: testim-hide .5s ease-in-out forwards;            
	animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
	-webkit-animation: testim-content-out .4s ease-in-out forwards;        
	-moz-animation: testim-content-out .4s ease-in-out forwards;        
	-ms-animation: testim-content-out .4s ease-in-out forwards;        
	-o-animation: testim-content-out .4s ease-in-out forwards;        
	animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
	-webkit-animation: testim-content-out .5s ease-in-out forwards;    
	-moz-animation: testim-content-out .5s ease-in-out forwards;    
	-ms-animation: testim-content-out .5s ease-in-out forwards;    
	-o-animation: testim-content-out .5s ease-in-out forwards;    
	animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
	0% {
			-webkit-box-shadow: 0px 0px 0px 0px #eee;
			box-shadow: 0px 0px 0px 0px #eee;
	}

	35% {
			-webkit-box-shadow: 0px 0px 10px 5px #eee;        
			box-shadow: 0px 0px 10px 5px #eee;        
	}

	70% {
			-webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
			box-shadow: 0px 0px 10px 5px #ea830e;        
	}

	100% {
			-webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
			box-shadow: 0px 0px 0px 0px #ea830e;        
	}
}

@-moz-keyframes testim-scale {
	0% {
			-moz-box-shadow: 0px 0px 0px 0px #eee;
			box-shadow: 0px 0px 0px 0px #eee;
	}

	35% {
			-moz-box-shadow: 0px 0px 10px 5px #eee;        
			box-shadow: 0px 0px 10px 5px #eee;        
	}

	70% {
			-moz-box-shadow: 0px 0px 10px 5px #ea830e;        
			box-shadow: 0px 0px 10px 5px #ea830e;        
	}

	100% {
			-moz-box-shadow: 0px 0px 0px 0px #ea830e;        
			box-shadow: 0px 0px 0px 0px #ea830e;        
	}
}

@-ms-keyframes testim-scale {
	0% {
			-ms-box-shadow: 0px 0px 0px 0px #eee;
			box-shadow: 0px 0px 0px 0px #eee;
	}

	35% {
			-ms-box-shadow: 0px 0px 10px 5px #eee;        
			box-shadow: 0px 0px 10px 5px #eee;        
	}

	70% {
			-ms-box-shadow: 0px 0px 10px 5px #ea830e;        
			box-shadow: 0px 0px 10px 5px #ea830e;        
	}

	100% {
			-ms-box-shadow: 0px 0px 0px 0px #ea830e;        
			box-shadow: 0px 0px 0px 0px #ea830e;        
	}
}

@-o-keyframes testim-scale {
	0% {
			-o-box-shadow: 0px 0px 0px 0px #eee;
			box-shadow: 0px 0px 0px 0px #eee;
	}

	35% {
			-o-box-shadow: 0px 0px 10px 5px #eee;        
			box-shadow: 0px 0px 10px 5px #eee;        
	}

	70% {
			-o-box-shadow: 0px 0px 10px 5px #ea830e;        
			box-shadow: 0px 0px 10px 5px #ea830e;        
	}

	100% {
			-o-box-shadow: 0px 0px 0px 0px #ea830e;        
			box-shadow: 0px 0px 0px 0px #ea830e;        
	}
}

@keyframes testim-scale {
	0% {
			box-shadow: 0px 0px 0px 0px #eee;
	}

	35% {
			box-shadow: 0px 0px 10px 5px #eee;        
	}

	70% {
			box-shadow: 0px 0px 10px 5px #ea830e;        
	}

	100% {
			box-shadow: 0px 0px 0px 0px #ea830e;        
	}
}

@-webkit-keyframes testim-content-in {
	from {
			opacity: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
	}
	
	to {
			opacity: 1;
			-webkit-transform: translateY(0);        
			transform: translateY(0);        
	}
}

@-moz-keyframes testim-content-in {
	from {
			opacity: 0;
			-moz-transform: translateY(100%);
			transform: translateY(100%);
	}
	
	to {
			opacity: 1;
			-moz-transform: translateY(0);        
			transform: translateY(0);        
	}
}

@-ms-keyframes testim-content-in {
	from {
			opacity: 0;
			-ms-transform: translateY(100%);
			transform: translateY(100%);
	}
	
	to {
			opacity: 1;
			-ms-transform: translateY(0);        
			transform: translateY(0);        
	}
}

@-o-keyframes testim-content-in {
	from {
			opacity: 0;
			-o-transform: translateY(100%);
			transform: translateY(100%);
	}
	
	to {
			opacity: 1;
			-o-transform: translateY(0);        
			transform: translateY(0);        
	}
}

@keyframes testim-content-in {
	from {
			opacity: 0;
			transform: translateY(100%);
	}
	
	to {
			opacity: 1;
			transform: translateY(0);        
	}
}

@-webkit-keyframes testim-content-out {
	from {
			opacity: 1;
			-webkit-transform: translateY(0);
			transform: translateY(0);
	}
	
	to {
			opacity: 0;
			-webkit-transform: translateY(-100%);        
			transform: translateY(-100%);        
	}
}

@-moz-keyframes testim-content-out {
	from {
			opacity: 1;
			-moz-transform: translateY(0);
			transform: translateY(0);
	}
	
	to {
			opacity: 0;
			-moz-transform: translateY(-100%);        
			transform: translateY(-100%);        
	}
}

@-ms-keyframes testim-content-out {
	from {
			opacity: 1;
			-ms-transform: translateY(0);
			transform: translateY(0);
	}
	
	to {
			opacity: 0;
			-ms-transform: translateY(-100%);        
			transform: translateY(-100%);        
	}
}

@-o-keyframes testim-content-out {
	from {
			opacity: 1;
			-o-transform: translateY(0);
			transform: translateY(0);
	}
	
	to {
			opacity: 0;
			transform: translateY(-100%);        
			transform: translateY(-100%);        
	}
}

@keyframes testim-content-out {
	from {
			opacity: 1;
			transform: translateY(0);
	}
	
	to {
			opacity: 0;
			transform: translateY(-100%);        
	}
}

@-webkit-keyframes testim-show {
	from {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
	}
	
	to {
			opacity: 1;
			-webkit-transform: scale(1);       
			transform: scale(1);       
	}
}

@-moz-keyframes testim-show {
	from {
			opacity: 0;
			-moz-transform: scale(0);
			transform: scale(0);
	}
	
	to {
			opacity: 1;
			-moz-transform: scale(1);       
			transform: scale(1);       
	}
}

@-ms-keyframes testim-show {
	from {
			opacity: 0;
			-ms-transform: scale(0);
			transform: scale(0);
	}
	
	to {
			opacity: 1;
			-ms-transform: scale(1);       
			transform: scale(1);       
	}
}

@-o-keyframes testim-show {
	from {
			opacity: 0;
			-o-transform: scale(0);
			transform: scale(0);
	}
	
	to {
			opacity: 1;
			-o-transform: scale(1);       
			transform: scale(1);       
	}
}

@keyframes testim-show {
	from {
			opacity: 0;
			transform: scale(0);
	}
	
	to {
			opacity: 1;
			transform: scale(1);       
	}
}

@-webkit-keyframes testim-hide {
	from {
			opacity: 1;
			-webkit-transform: scale(1);       
			transform: scale(1);       
	}
	
	to {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
	}
}

@-moz-keyframes testim-hide {
	from {
			opacity: 1;
			-moz-transform: scale(1);       
			transform: scale(1);       
	}
	
	to {
			opacity: 0;
			-moz-transform: scale(0);
			transform: scale(0);
	}
}

@-ms-keyframes testim-hide {
	from {
			opacity: 1;
			-ms-transform: scale(1);       
			transform: scale(1);       
	}
	
	to {
			opacity: 0;
			-ms-transform: scale(0);
			transform: scale(0);
	}
}

@-o-keyframes testim-hide {
	from {
			opacity: 1;
			-o-transform: scale(1);       
			transform: scale(1);       
	}
	
	to {
			opacity: 0;
			-o-transform: scale(0);
			transform: scale(0);
	}
}

@keyframes testim-hide {
	from {
			opacity: 1;
			transform: scale(1);       
	}
	
	to {
			opacity: 0;
			transform: scale(0);
	}
}



/* Timeline defaults */
/* --------------------------------------- */
.h--timeline-container *,
.h--timeline-events * {
  outline: 0;
}

.h--timeline-container,
.h--timeline-events {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.h--timeline-navigation-container ul, .h--timeline-navigation-container li,
.h--timeline-events ol, .h--timeline-events li,
.h--timeline-line ol, .h--timeline-line li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h--timeline {
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
}

.h--timeline--loaded {
  opacity: 1;
}

.h--timeline-container {
  height: 100px;
}

.h--timeline-dates {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}

/* Timeline blur effect for start and end */
/* --------------------------------------- */
.h--timeline-dates::after, .h--timeline-dates::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 50px;
}

.h--timeline-dates::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.h--timeline-dates::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

/* Timeline horizontal line */
/* --------------------------------------- */
.h--timeline-line {
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 49px;
  height: 2px;
  background-color: #f7f7f7;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.h--timeline-filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #14A562;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* Bullet points */
/* --------------------------------------- */
.h--timeline-date {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  color: #455d8d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.h--timeline-date:hover {
  font-weight: 600;
}

.h--timeline-date::after,
.h--timeline-date::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -8px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #14A562;
  background-color: #f7f7f7;
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}

.h--timeline-date::before {
  bottom: -3px;
  height: 9px;
  width: 9px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  z-index: 2;
}

.h--timeline-date:hover::before,
.h--timeline-date:hover::after {
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}

.h--timeline-date:hover::after {
  background-color: #f7f7f7;
  border-color: #14A562;
}

.h--timeline-date--selected {
  pointer-events: none;
}

.h--timeline-date--selected::after {
  background-color: #f7f7f7;
  border-color: #14A562;
}

.h--timeline-date--selected::before {
  background-color: #14A562;
}

.h--timeline-date--older-event::after {
  background-color: #14A562;
  border-color: #14A562;
}

/* Caroussel navigation */
/* --------------------------------------- */
.h--timeline-navigation {
  font-size: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #f7f7f7;
  transition: border-color 0.3s;
}

.h--timeline-navigation::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAABQUlEQVRIS9XUwWrCQBAG4JnEhiRHBQut+AY+gEq8tLSvUuih9Ek8iL5K0YMEvPkEHjwo2lYQek2IMdOJJ7tuki5LDnoKyHzZnZn8CJo/1KwHKfB299iMKcHh93Rd9IIL4OX2qX5j0QwRLTpG3uDT3+YhF8B747kaY+Iz0OLCVRxE7dHe32Uh0iucI0SwhIPZGew+9jIks4l/EIAFRGZPhuROQUQqCXb72/HP+UnKA7SuoNVEsfgYRp7SGF/vH2qmacwB0CjagbSZmat8AINGX5ON8ioXFYj/l/M1qpyinBMEQdBMG+w4jnoeEFE9DMMZAxY/e67rquUBF1UZ8Bk45YFt223OBrU8EJAlIx1G1PJAQBaM9GRI7hQkSJeR/+eBFqB1Ba0mSoo9pTEyUOM94DwAo2gHMvMgXWWGiLfwCvLgF1jY2yHNUya7AAAAAElFTkSuQmCC) no-repeat 0 0;
}

.h--timeline-navigation:hover {
  border-color: #14A562;
}

.h--timeline-navigation--prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.h--timeline-navigation--next {
  right: 0;
}

.h--timeline-navigation--inactive {
  cursor: not-allowed;
}

.h--timeline-navigation--inactive::after {
  background-position: 0 -16px;
}

.h--timeline-navigation--inactive:hover {
  border-color: #f7f7f7;
}

/* Timeline events container */
/* --------------------------------------- */
.h--timeline-events {
  overflow: hidden;
  transition: height 0.4s;
  padding-bottom: 2rem;
}

.h--timeline-event {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 1px 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.h--timeline-event-content {
  max-width: 800px;
  margin: 2rem auto 0;
  padding: 2rem;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.h--timeline-event--selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* Timeline animations */
/* --------------------------------------- */
.h--timeline-event--enter-right, .h--timeline-event--leave-right {
  -webkit-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}

.h--timeline-event--enter-left, .h--timeline-event--leave-left {
  -webkit-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}

.h--timeline-event--leave-right, .h--timeline-event--leave-left {
  animation-direction: reverse;
}

.h--timeline-event-title {
  color: #455d8d;
  font-size: 3rem;
  font-weight: 600;
}

.h--timeline-event-date {
  display: block;
  font-style: italic;
  margin: 0.5rem auto;
  margin: 1rem auto;
}

.h--timeline-event-date::before {
  content: "- ";
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/* Overwrites */
/* Change the position of dates top / botom / top */
/* --------------------------------------- */
.h--timeline-date::after,
.h--timeline-date::before {
  background-color: #14A562;
}

.h--timeline-date--selected::after {
  background-color: #f7f7f7;
  border-color: #14A562;
}

.h--timeline-date--older-event::after {
  background-color: #14A562;
  border-color: #14A562;
}

.h--timeline-line li:nth-child(even) .h--timeline-date {
  bottom: -48px;
}

.h--timeline-line li .h--timeline-date--selected::after,
.h--timeline-line li .h--timeline-date:hover::after {
  width: 21px;
  height: 21px;
  bottom: -11px;
  background-color: #f7f7f7;
  border-color: #455d8d;
}

.h--timeline-line li:nth-child(even) .h--timeline-date::after {
  bottom: 40px;
}

.h--timeline-line li:nth-child(even) .h--timeline-date:hover::after,
.h--timeline-line li:nth-child(even) .h--timeline-date--selected::after {
  bottom: 37px;
}

.h--timeline-line li:nth-child(even) .h--timeline-date::before {
  bottom: 45px;
}

.h--timeline-line li:nth-child(odd) .h--timeline-date:hover::before,
.h--timeline-line li:nth-child(odd) .h--timeline-date--selected::before {
  bottom: -3px;
}

/**/

@media only screen and (max-width: 1400px) {
	.hero-clipped {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}

	#main-logo {
		width: 500px;
	}

	.hero-textbox {
		top: 45%;
	}
}
@media only screen and (max-width: 760px) {

	.tile {
		padding: 5em 0.2em;
		width: auto;
		height: auto;

	}

	.desc {
		top: 100%;
		padding-top: 6em;
		background: #f7f7f7 span;
	}


.main-nav {
	display: none;
}


	.nav-list {
		width: 30rem;
	}
	#main-logo {
		width: 400px;
	}

	.sub-heading {
		font-size: 2rem;
	}
	.cta-button {
		padding: 1rem 2.5rem;
		font-size: larger;
	}
	.hero-textbox {
		top: 50%;
	}

	.countdown {
		font-size: 30px;
	}

	.countdown div {
		padding: 10px;
		margin: 3px;
	}

	.countdown span {
		display: block;
		font-size: 15px;
	}
}
@media only screen and (max-width: 550px) {
	.section {
		height: 8em;
	}

	.carousel {
		display: none;
	}

	.tile {
		width: auto;
		height: auto;
		padding: 3em 0.1em;
	}
	#main-logo {
		width: 300px;
	}

	.sub-heading {
		font-size: 1.3rem;
	}
	.cta-button {
		margin-top: 3rem;
		font-size: large;
	}

	#section-heading {
		font-size: 2.5em;
	}
	
	.corner-guide {
		display: none;
	}
	.sidecontainer .sidenav{
		height: 75px;
	}
	.sidecontainer .sidenav ul.toggle{
		height: 30px;   width: 40px;
	}
	.sidecontainer .sidenav ul.sidemenu{
		height: 30px;  line-height: 50px;
	}
	.hero-textbox {
		top: 38%;
		left: 50%;
	}
	.landing img {
		width: 70%;
	}

	.landing h1 {
		font-size: 20px;
	}

	.countdown {
		font-size: 20px;
		/* flex-direction: column; */
	}

	.countdown div {
		display: block;
		width: 80%;
		padding: 10px;
	}

	.countdown div:first-child {
		display: block;
		width: 80%;
		padding: 10px;
	}
	.partner-img {
		width: 70%;
	}
	.partner-img-2 {
		width: 60%;
	}
	.partner-img-3 {
		width: 90%;
	}
	.tile {
		width: auto;
	}
  .logo a {
    padding: 0.2rem 0.4rem;
  }

	.h--timeline-event-title {
		font-size: 2.4rem;
	}
	.h--timeline {
		font-size: 1.4rem;
	}

	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}


