.card {
    border-radius: unset !important;
}

.card {
    width: 100%;
    margin: unset;
    border: unset;
}

.card-body {
    height: 100%;
}

.row {
    --bs-gutter-x: unset;
    --bs-gutter-y: unset;
    border: unset;
}

small {
    font-weight: bold;
}

.about-text {
    font-size: 1.7rem;
}

.card-header {
    background-color: unset;
    padding: unset;
}

.carousel-item img {
    height: 250px;
}

@media only screen and (min-width: 992px) {
    .carousel-item img{
        height: 450px;
    }
}


@media only screen and (max-width: 767px) {
    .wrapper .p-4{
        padding: 10px !important;
    }
}